<%= f.field_container :name do %>
    <%= f.label :name %><br />
    <%= f.text_field :name  %>
    <%= f.error_message_on :name %>
<% end %>
<%= f.field_container :description do %>
    <%= f.label :description %><br />
    <%= f.text_field :description  %>
    <%= f.error_message_on :description %>
<% end %>

