<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= link_to "New List", new_admin_list_path, :id => 'new_admin_list_button', :class => "button add" %></p>
    </li>
  </ul>
</div>
<h1>List Management</h1>

<table class="index">
  <thead>
  <tr>
    <th><%= sort_link @lists, :name %></th>
    <th>Description</th>
    <th>Recipient Count</th>
    <th><%= sort_link @lists, :created_at %></th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @lists.each do |list| %>
      <tr>
        <td>
          <%= link_to list.name, admin_list_contacts_path(list) %>
        </td>
        <td>
          <%= list.description %>
        </td>
        <td>
          <%= list.list_recipients.count %>
        </td>
        <td>
          <%= list.created_at.to_date.to_formatted_s(:long) %>
        </td>
        <td>
          <%= list_actions(list) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>