<h1>New List</h1>
<% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for [:admin, @list] do |f| %>
    <%= render 'form', :f => f %>
    <%= f.submit "Create" %>
<% end %>