<%= render :partial => 'admin/shared/configuration_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= link_to t("ext_static_content_new_page"), new_object_url, :class => "button add" %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%=t("ext_static_content_static_pages") %></h1>

<table class="index">
	<tr>
		<th><%=t("ext_static_content_title")%></th>
		<th><%=t("ext_static_content_link")%></th>
		<th><%=t("ext_static_content_visible")%></th>
		<th><%=t("action")%></th>
  </tr>
	<tbody>
    	<% @pages.each do |page| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id page %>">
			<td>
				<%= page.title %>
			</td>
			<td>
				<%= link_to page.link, page.link %>
			</td>
			<td>
			  <%= page.visible %>
			</td>
			<td>
        <%= link_to_edit page %> &nbsp;
        <%= link_to_delete page %>
	    </td>
		</tr>
		<% end %>
	</tbody>
</table>