<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("ext_static_content_new_page") %></h1>
<%= render "shared/error_messages", :target => @page %>

<% form_for(:page, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div class="form-buttons">
    <%= f.submit t("actions.create"), :class => "button finish" %>
    <%= link_to t("actions.cancel"), collection_url, :class => "button cancel" %>
  </div>
<% end %>