<%= render :partial => 'retailer/shared/order_tabs', :locals => {:current => "Adjustments"} %>

<h2><%= t("adjustment")%></h2>

<%= render "shared/error_messages", :target => @adjustment %>
<%= form_for(@adjustment, :url => retailer_order_adjustment_path(@order, @adjustment), :html => { :method => :put}) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p class="form-buttons">
    <%= button t('continue') %>
    <%= t("or") %> <%= link_to t("actions.cancel"), retailer_order_adjustments_url(@order) %>
  </p>
<% end %>
