<%# render 'retailer/shared/new_adjustment_button' %>
<%= render :partial => 'retailer/shared/order_tabs', :locals => {:current => "Adjustments"} %>
<%= render 'adjustments_table' %>
<%= button_link_to t('continue'), @order.cart? ? new_retailer_order_payment_url(@order) : retailer_orders_url %>
