@charset
"UTF-8"
;
/* CSS Document by Gold Coast Design Studio */

body {
    margin-top: 0px;
    background: #FFF url(/images/common/background.gif) top repeat-x;
    color: #999;
}

#login-nav li {
    color: #333;
}

#login-nav li a {
    color: #c51d23;
}

#header h1 a {
    color: #c51d23;
}

#admin-menu {
    background: #000;
    border: none;
}

#admin-menu ul li.selected {
    background: none;
    border: none;
}

#admin-menu ul li.selected a {
    background: #c51d23;
}

#sub-menu {
    background: #c51d23;
    border: none;
}

#sub-menu ul li a {
    color: #FFF;
}

#sub-menu ul li.selected a {
    background: #000;
    color: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#logo{padding:10px; float:left;}

.retailer-ads{ padding:10px; border:1px #eee solid;}






