<fieldset>
  <div class="yui-gb">
    <div class="yui-u first" style="width:400px;">
      <h2>Contact Details</h2>

      <%= f.field_container :fname do %>
          <%= f.label :fname, "First Name" %>
          <small class="required"> *</small>
          <br/>
          <%= f.text_field :fname %>
          <%= f.error_message_on :fname %>
      <% end %>

      <%= f.field_container :lname do %>
          <%= f.label :lname, "Last Name" %>
          <small class="required"> *</small>
          <br/>
          <%= f.text_field :lname %>
          <%= f.error_message_on :lname %>
      <% end %>
      <%= f.field_container :phone do %>
          <%= f.label :phone, "Phone" %>
          <small class="required"> *</small>
          <br/>
          Include your Area code without spaces
          <br/>
          <%= f.text_field :phone %>
          <%= f.error_message_on :phone %>
      <% end %>

      <%= f.field_container :fax do %>
          <%= f.label :fax, "Fax" %>
          <br/>
          <%= f.text_field :fax %>
          <%= f.error_message_on :fax %>
      <% end %>

      <%= f.field_container :website do %>
          <%= f.label :website, "Website <span style=\"color:#999\">http://</span>".html_safe %>
          <br/>
          <%= f.text_field :website %>
          <%= f.error_message_on :website %>
      <% end %>


    </div>
    <div class="yui-u">

      <h2>Store Details</h2>

      <%= f.field_container :name do %>
          <%= f.label :name, "Shop Name" %>
          <small class="required"> *</small>
          <br/>
          <%= f.text_field :name %>
          <%= f.error_message_on :name %>
      <% end %>

      <% f.field_container :permalink do %>
          <%= f.label :permalink, "Your Jewellover URL" %>
          <br/>
          <small class="before_field">http://www.jewellover.com.au/stores/</small>
          <%= f.text_field :permalink, :style => "width:150px; margin-left:-2px;" %>&nbsp;<span class="alert"></span>
          <small class="required"> *</small><br/>
          <small>Note: Only characters (a-z), numbers (0-9) and underscores (_) allowed.</small>
      <% end %>

      <%= f.field_container :license do %>
          <%= f.label :license, "JAA Member Number" %>
          <br/>
          <%= f.text_field :license %>
          <%= f.error_message_on :license %>
      <% end %>
      <%= f.field_container :logo do %>
          <%= image_tag @store.logo.url(:tiny), :style => "float:left; margin-right:10px;" unless @current_action == 'new' %>
          <%= f.label :logo, "Change Logo / Store Image" %>
          <br/>
          <%= f.file_field :logo %>
          <%= f.error_message_on :logo %>
      <% end %>

      <%= f.field_container :description do %>
          <%= f.label :description, "Store Profile - Tell us about your store (Viewable by the public)" %>
          <small class="required"> *</small>
          <br/>
          <%= f.text_area :description %>
          <%= f.error_message_on :description %>
      <% end %>
    </div>

    <div class="yui-u">

      <h2>Shop Address</h2>

      <%= f.field_container :address1 do %>

          <%= f.label :address1, "Address1" %>
          <small class="required"> *</small>
          <br/>
          <%= f.text_field :address1 %>
          <%= f.error_message_on :address1 %>
      <% end %>
      <%= f.field_container :address2 do %>

          <%= f.label :address2, "Address2" %>
          <br/>
          <%= f.text_field :address2 %>
      <% end %>
      <%= f.field_container :city do %>
          <%= f.label :city, "City/Suburb" %>
          <small class="required"> *</small>
          <br/>
          <%= f.text_field :city %>
          <%= f.error_message_on :city %>
      <% end %>
      <%= f.field_container :postcode do %>
          <%= f.label :postcode, "Postcode" %>
          <small class="required"> *</small>
          <br/>
          <%= f.text_field :postcode %>
          <%= f.error_message_on :postcode %>
      <% end %>
      <%= f.field_container :state do %>
          <%= f.label :state, "State" %>
          <small class="required"> *</small>
          <br/>
          <select name="store[state]" id="store_state">
            <option value="">Please Select a State</option>
            <% if params[:retailer].nil? %>
                <%= options_for_select(["Australian Capital Territory", "New South Wales", "Northern Territory", "South Australia", "Tasmania", "Queensland", "Victoria", "Western Australia"]) %>
            <% else %>
                <%= options_for_select(["Australian Capital Territory", "New South Wales", "Northern Territory", "South Australia", "Tasmania", "Queensland", "Victoria", "Western Australia"], params[:retailer][:stores_attributes]["0"][:state]) %>
            <% end %>
          </select>
          <%= f.error_message_on :state %>
      <% end %>
      <%= f.field_container :country do %>
          <%= f.label :country, "Country" %>
          <br/>
          <select name="store[country]" id="store_country">
            <%= options_for_select(["Australia"]) %>
          </select>
          <%= f.error_message_on :country %>
      <% end %>
    </div>
  </div>
</fieldset>

<div class="form-buttons">
  <%= f.submit "Save Store", :class => "button finish" %>
  <%= link_to "Cancel", retailer_stores_path, :class => "button cancel" %>
</div>

<% content_for :head do %>
    <script type="text/javascript">
        $(function() {
            function check_url(url, text_field) {
                var $url = url;
                var $alert = text_field.parent();

                //Determine if value submitted is valid...
                if ($url.match(/^[a-z]([a-z0-9_])*$/)) {
                    $alert.find(".alert").text('Valid').css('color', 'green');
                } else {
                    $alert.find(".alert").text('Invalid').css('color', 'red');
                }

            }

            $('#store_permalink').keyup(function() {
                $this = $(this);
                check_url($this.val(), $this);
            });

        });
    </script>
<% end %>