<h1>Edit <%= @store.name %></h1>

<%= render "shared/error_messages", :target => @store %>

<%= form_for(@store, :url => retailer_store_path(@store), :html => {:multipart => true, :class => "edit_store"}) do |f| %>
    <%= render 'form', :f => f %>
<% end %>