<h3>Your Stores</h3>

<table class="index" id='listing_products'>
  <tr>
    <th>ID</th>
    <th>Store Name</th>
    <th>Url</th>
    <th>Suburb</th>
    <th>Contact</th>
    <th>Actions</th>
  </tr>
  <% @stores.each_with_index do |store, i| %>
      <tr>
        <td><%= store.id %></td>
        <td><%= store.name %></td>
        <td><%= store.url %></td>
        <td><%= store.suburb %></td>
        <td><%= store.fname %></td>
        <td class="actions" width="12%">
          <%= link_to_with_icon "edit", "Edit", edit_retailer_store_path(store) %>
          <%= link_to_with_icon "delete",
                                "Delete",
                                retailer_store_path(store),
                                {:confirm => "Are you sure?", :method => :delete} unless i == 0 %>
        </td>

      </tr>
  <% end %>
</table>

<div class="form-buttons">
  <%= link_to "Add new store", new_retailer_store_path, :class => "button add" %>
</div>