<h1>New Store</h1>

<%= render "shared/error_messages", :target => @store %>

<%= form_for(@store, :url => retailer_stores_path, :html => {:multipart => true, :class => "new_store"}) do |f| %>
    <%= render 'form', :f => f %>
<% end %>