<div class="products">
  <h2>Latest Products</h2>
  <table id="watchlist" cellpadding="0" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th style="border-bottom:1px #aaa solid;" width="40%" align="left">Product</th>
      <th style="border-bottom:1px #aaa solid;" align="left">Offers</th>
      <th style="border-bottom:1px #aaa solid;" align="left">Price</th>
      <th style="border-bottom:1px #aaa solid;" width="20%" align="center">Time Remaining</th>
      <th style="border-bottom:1px #aaa solid;" align="center" width="20%">Highest Bidder</th>
    </tr>
    </thead>
    <tbody>
    <% if products.empty? %>
        <tr>
          <td colspan="5"><p>No products available at this time!</p></td>
        </tr>
    <% else %>
        <% products.first(3).each do |wp| %>
            <tr class="watched_product">
              <td style="display:none;"><%= render 'products/product_details', :product => wp %></td>
              <td><%= link_to mini_image(wp), wp %> <%# link_to wp.name, wp, :style=>"vertical-align:top" %></td>
              <td><%= wp.bidbucket.bids.count %></td>
              <td class="current"><%= wp.current_price %></td>
              <td class="time" align="center"></td>
              <td align="center"><%= "No Bids" || highest_bidder(wp) unless wp.bids.count == 0 %></td>
            </tr>
        <% end %>
    <% end %>

    </tbody>
  </table>

</div>