<div id="dash_head">
  <h1>Welcome <%= current_user.username %></h1>
  <span style="float:right; color:#aaa; font-weight:normal; font-size:.7em;">Last Logged in: <%= time_ago_in_words(current_user.last_sign_in_at) + " ago" %></span>
</div>
<% if @user.sign_in_count == 1 %>
    <p><strong>Congratulations</strong> on joining Jewellover, get ready to start saving money fast! Still not quite sure how it works? See the video down below. </p><br/>
<% end %>

<div id="preview_box">

  <ul class="tabs">
    <li><%= link_to "My Watchlist" %></li>
    <li><%= link_to "My Offers" %></li>
    <li><%= link_to "My Orders" %></li>
    <li><%= link_to "My Account" %></li>
  </ul>

  <div class="panes">
    <div class="pane">
      <% unless @wproducts.empty? %>
          <table id="watchlist" cellpadding="0" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th style="border:1px #aaa solid; border-right:none;" width="200">Product</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Offers</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Price</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Time Remaining</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Highest Bidder</th>
              <th style="border:1px #aaa solid; border-left:none;">Remove</th>
            </tr>
            </thead>
            <tbody>

            <% @wproducts.each do |wp| %>
                <tr class="watched_product">
                  <td style="display:none;"><%= render 'products/product_details', :product => wp %></td>
                  <td width="250"><%= link_to product_image(wp, :style => "width:50px; padding:3px; border:1px #ccc solid;"), wp %> <%= link_to truncate(wp.name, :length => 30), wp, :style=>"vertical-align:top" %></td>
                  <td width="50"><%= wp.bidbucket.bids.count %></td>
                  <td class="current"><%= format_price(wp.current_price) %></td>
                  <td class="time"><%= distance_of_time_in_words_to_now(wp.kill_time) %></td>
                  <td><%= highest_bidder(wp) %></td>
                  <td><%= watchlist_btn(wp) %></td>
                </tr>
            <% end %>

            </tbody>
          </table>
          <br/>
          <%= link_to "View All", my_watchlist_path %>

      <% else %>
          <p>Your not currently watching any live/upcoming products, start browsing, start
            watching, <%= link_to "start here!", products_path %></p>
      <% end %>
    </div>
    <div class="pane">
      <% unless @bids.empty? %>
          <table id="watchlist" cellpadding="0" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th style="border:1px #aaa solid; border-right:none;" width="200">Product</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">My Price Offers</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Your latest Bid</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Highest Bid</th>
              <th style="border:1px #aaa solid; border-left:none;">Highest Bidder</th>
            </tr>
            </thead>
            <tbody>
            <% @bids.first(10).each do |b, v| %>
                <tr>
                  <td><%= link_to b.product.name, b.product %></td>
                  <td><%= b.bids.count %></td>
                  <td><%= format_price(v.sort { |b, v| v.amount <=> b.amount }.first.amount) %></td>
                  <td><%= format_price(b.product.bids.sort! { |b, a| a.amount <=> b.amount }.first.amount) %></td>
                  <td><%= highest_bidder(b.product) %></td>

                </tr>
            <% end %>
            </tbody>
          </table>

          <br/>
          <%= link_to "View All", my_offers_path %>

      <% else %>

          <p>You have not placed any offers yet.</p>

      <% end %>

    </div>
    <div class="pane">
      <% unless current_user.orders.empty? %>
          <table id="watchlist" cellpadding="0" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th style="border:1px #aaa solid; border-right:none;" width="120">Order Number</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Store</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Products</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Price</th>
              <th style="border:1px #aaa solid; border-left:none;">State</th>
            </tr>
            </thead>
            <tbody>
            <% @orders.first(10).each do |order| %>
                <tr>
                  <td><%= link_to order.number, order_path(order.number) %></td>
                  <td><%= order.products.empty? ? "Empty Order" : order.products.first.store.name %></td>
                  <td><%= order.line_items.count %></td>
                  <td><%= format_price(order.total) %></td>
                  <td><%= order.state %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%= link_to "View All", my_orders_path %>
      <% else %>
          <p>You have no current orders at this time.</p>
      <% end %>

    </div>
    <div class="pane">
      <p>
        <strong>Email:</strong> <%= @user.email %> <br/>
        <strong>Date Joined:</strong> <%= @user.created_at.to_formatted_s(:long) %>
      </p>

      <h4>Preferred Shipping Address</h4>

      <p>
        <strong>Street:</strong> <%= @user_prefs.address1 %>   <br/>
        <strong>Address:</strong> <%= @user_prefs.address2 %>  <br/>
        <strong>Suburb:</strong> <%= @user_prefs.suburb %>     <br/>
        <strong>City:</strong> <%= @user_prefs.city %>         <br/>
        <strong>Postcode:</strong> <%= @user_prefs.postcode %> <br/>
        <strong>State:</strong> <%= @user_prefs.state %>       <br/>
        <strong>Country:</strong> <%= @user_prefs.country %>   <br/>
      </p>
    </div>
  </div>

  <Br/>
  <% if @user_prefs.nil? %>
      <h3 class="content_title">Notifications</h3>

      <div id="notifications">
        <p>You need to <%= link_to "fill out your delivery address", edit_account_path %></p>
      </div>
      <br/>
  <% end %>

</div>
<hr/>
<div id="first_login">

  <a href="javascript:void(0);" class="prev"></a>

  <Div class="itemHolder">
    <ul class="items">
      <li class="item">
        <iframe src="http://player.vimeo.com/video/22633095?title=0&amp;byline=0&amp;portrait=0" width="540" height="300" frameborder="0"></iframe>
      </li>
      <li class="item" style="padding:10px;">
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flovejewellover&amp;width=520&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=260" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:520px; height:260px;" allowTransparency="true"></iframe>
      </li>
      <li class="item">
        <%= render "products", :products => @products %>
      </li>
    </ul>
  </Div>
  <a href="javascript:void(0);" class="next"></a>


  <div class="naviHolder">
    <div class="navi">
      <a href="javascript:void(0);" class="active" id="item1"></a>
      <a href="javascript:void(0);" id="item2"></a>
      <a href="javascript:void(0);" id="item3"></a>
    </div>
  </div>

</div>


<% content_for :sidebar do %>
    <%= render "shared/sidebar" %>
<% end %>

<%= javascript_include_tag "countdown" %>
<%= javascript_tag do %>

    $("#first_login").scrollable().navigator({ navi:".navi" });

    $("#preview_box .tabs").tabs("#preview_box .panes > .pane", { effect:'slide' });

<% end %>



