<% if @taxon.children.empty? || !params[:keywords].blank? %>

    <%= hook :taxon_products do %>
        <%= render :partial => "/products/products", :locals => {:products => @products, :taxon => @taxon} %>
    <% end %>

<% else %>

    <%= hook :taxon_children do %>
        <%= render :partial => "taxon", :collection => @taxon.children %>
    <% end %>

<% end %>


