<h1>Your watchlist</h1>

<% unless @wproducts.empty? %>

    <div id="watchlist">
      <ul class="tabs">
        <li><a href="#">Current</a></li>
      </ul>

      <div class="panes">
        <div class="pane">

          <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th style="border:1px #aaa solid; border-right:none;" width="200">Product</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Offers</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Price</th>
              <th style="border-top:1px #aaa solid; border-bottom:1px #aaa solid;">Time Remaining</th>
              <th style="border:1px #aaa solid; border-left:none;">Remove</th>
            </tr>
            </thead>
            <tbody>

            <% @wproducts.each do |wp| %>
                <tr class="watched_product">
                  <td style="display:none;"><%= render 'products/product_details', :product => wp %></td>
                  <td width="250"><%= link_to product_image(wp, :style => "width:50px; padding:3px; border:1px #ccc solid;"), wp %> <%= link_to truncate(wp.name, :length => 30), wp, :style=>"vertical-align:top" %></td>
                  <td width="50"><%= wp.bidbucket.bids_count %></td>
                  <td class="current"><%= format_price(wp.current_price) %></td>
                  <td class="time"><%= distance_of_time_in_words_to_now(wp.kill_time) %></td>
                  <td><%= watchlist_btn(wp) %></td>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>

      </div>
    </div>


<% else %>
    <p>You are not currently watching any live/upcoming products.</p>
<% end %>


<% content_for :sidebar do %>
    <%= render "shared/sidebar" %>
<% end %>

<%= javascript_tag do %>

    $("#watchlist .tabs").tabs("#watchlist .panes > .pane", { effect:'slide' });

<% end %>