<%= form_for search, :url => search_url do |f| %>
    <% if @current_action != "index" %>
        <%= hidden_field_tag :context, @current_action %>
    <% end %>

    <%= f.text_field search_method, :id => "search_field", :placeholder => "Search" %>
    <%= f.submit "Search" %>
<% end %>

<% content_for :head do %>
    <script type="text/javascript">
        $(function () {
            var context = "<%= context %>";
            $("#search_field").showContext(context);
        })
    </script>
<% end %>
