<h2>Dear <%= @user.username %></h2>
<p>FINAL REMINDER: Don't mean to sound like your mother but you only have 24 hours left to buy the beautiful jewellery
  sitting in your cart. We don't want to get all heavy on you but as your offer to purchase has been accepted you are
  legally obliged to complete your purchase and failing to do so may compromise your account status on JewelLover...plus
  we don't want to be the one's to tell that lovely item that it doesn't have a good home to go to - it'll break it's
  heart. Click here to bring it on home now....</p>

<%= link_to "Complete my orders now!", orders_url %>

<p>Thank you</p>