<h2>Dear <%= @user.username %></h2>
<p>Hey there - just a reminder you still have some gorgeous jewellery in your shopping cart. Please click on the link
  below to complete the purchase before it disappears forever.....</p>

<%= link_to "Complete my orders now!", orders_url %>

<p>Thank you</p>