<h3>Order Refunded</h3>
<p>An order has been refunded to the purchaser of this product.</p>
<br/>
<p><strong>Order Number:</strong> <%= @order.number %></p>
<p><strong>Product Name:</strong> <%= @product.name %></p>
<p><strong>Amount:</strong> $<%= @order.total %></p>
<br/>
<p>If you have any questions please contact <a href="mailto:support@jewellover.com.au">JewelLover support</a></p>