<h2>Welcome <%= @user.username.capitalize %> to Jewellover.</h2>
<br/>
<p><strong>Thanks for joining the JewelLover community.</strong> Smart move Amigo! You're now ready to start purchasing
  on
  JewelLover at unbelievable prices!</p>

<p>Your $10 coupon is now in your JewelLover wallet and available for you to use on any purchase at JewelLover, we will present this to you at the
  checkout stage of your next purchase. Remember, you only have 30 days in which to use it! <p>


<h2>So what now?</h2>

<p>We've also setup the rundown for you on <%= link_to "your dashboard", my_dashboard_url %> once you have logged into
  JewelLover for the first time. Simply put "Watch the prices drop til you shop"!</p>

<div class="textbox">
  <p><strong>Your login is:</strong> <%= @user.email %>

  <h3><%= link_to "Login now and start saving!!", login_url, :class => "button" %></h3>
</div>
<br/>
<p><strong>IMPORTANT NOTE:</strong> Be sure to add info@jewellover.com.au to your 'safe senders' list in your email,
  otherwise our emails could end up in your Spam Folder. This means if you make an offer on JewelLover and are
  successful you wont know about it via email, someone else will finish up with the jewellery that was meant to be
  yours, and your life will take an irreversible path from which there is no way back. Oh the consequences...</p>
<p>We look forward to bringing you the best deals from Australia's leading jewellers, at prices you'll just love!</p>


