<h2>A request to reset your password has been made.</h2>
<br/>
<p>If you did not make this request, simply ignore this email. If you did make this request just click the link
  below:</p>

<p><%= link_to @edit_password_reset_url, @edit_password_reset_url %></p>

<p>If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please
  feel free to contact us.</p>
