<h2>Dear <%= @user.username %></h2>
<p>REMINDER: You still have outstanding jewellery sitting in your shopping cart, and it's dying for you to wear it.You
  only have 48 hours to complete this before the jewellery disappears from your cart.Quick, click the link below...</p>


<%= link_to "Complete my orders now!", orders_url %>

<p>Thank you</p>