<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t('rich_editor') %></h1>

<%= form_for(Spree::Editor::Config.instance, :url => admin_editor_settings_path) do |form| %>
  <fieldset id="preferences">
    <%= form.field_container :preferred_current_editor do %>
      <%= form.label(:preferred_current_editor, t('rich_editor_engine')) %>
      <%= form.select :preferred_current_editor, options_for_select(SpreeEditor::EditorEngines, Spree::Editor::Config[:current_editor])  %>
    <% end %>
    <%= form.field_container :preferred_enabled do %>
      <%= preference_field(form, :preferred_enabled, :type => :boolean) %>
      <%= form.label(:preferred_enabled, t(:enable_rich_editor)) %>
    <% end %>
    <%= form.field_container :preferred_ids do %>
      <%= form.label(:preferred_ids, t(:rich_editor_ids_description)+": ") + tag(:br) %>
      <%= preference_field(form, :preferred_ids, :type => :text) %>
    <% end %>
  </fieldset>
  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_editor_settings_url %>
  </p>
<% end %>