<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("rich_editor") %></h1>

<%= debug Spree::Editor::Config[] %>

<table>
  <tr>
    <td><%= t('enable_rich_editor') %>:</td>
    <td><%= Spree::Editor::Config[:enabled] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t('rich_editor_engine') %>:</td>
    <td><%= Spree::Editor::Config[:current_editor] %></td>
  </tr>
  <tr>
    <td><%= t('rich_editor_ids') %>:</td>
    <td><%= Spree::Editor::Config[:ids] %></td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_editor_settings_path %></p>