<style type="text/css">
    .hidden {
        display: none;
    }

    #shipping {
        display: none;
    }
</style>

<fieldset id='billing'>
  <%= form.fields_for :bill_address do |bill_form| %>
      <%= hidden_field_tag "save_address" %>
      <legend><%= t("shipping_address") %></legend>
      <div class="inner">

        <p id="bfname" class="field">
          <%= bill_form.label :firstname, t(:first_name) %>
          <%= bill_form.text_field :firstname, :value => @user_addy.try(:fname) %>
          <span class="required"> *</span>
        </p>

        <p id="blname" class="field">
          <%= bill_form.label :lastname, t(:last_name) %>
          <%= bill_form.text_field :lastname, :value => @user_addy.try(:lname) %>
          <span class="required"> *</span>
        </p>

        <p id="baddress" class="field">
          <%= bill_form.label :address1, "Address 1" %>
          <%= bill_form.text_field :address1, :value => @user_addy.try(:address1) %>
          <span class="required"> *</span>
        </p>

        <p id="baddress2" class="field">
          <%= bill_form.label :address2, "Address 2" %>
          <%= bill_form.text_field :address2, :value => @user_addy.try(:address2) %>
        </p>

        <p id="bcity" class="field">
          <%= bill_form.label :city, "Suburb/City" %>
          <%= bill_form.text_field :city, :value => @user_addy.try(:city) %>
          <span class="required"> *</span>
        </p>
        <% if Spree::Config[:address_requires_state] %>
            <p class="field">
          <span id="bstate">
            <% have_states = !@order.bill_address.country.states.empty? %>
            <%= bill_form.label :state, t(:state) %>
            <noscript>
              <%= bill_form.text_field :state_name, :class => 'required' %>
            </noscript>
            <% state_elements = [
                    bill_form.collection_select(:state_id, @order.bill_address.country.states,
                                                :id, :name,
                                                {:include_blank => true},
                                                {:class => have_states ? "required" : "hidden",
                                                 :disabled => !have_states}) +
                            bill_form.text_field(:state_name,
                                                 :class => !have_states ? "required" : "hidden",
                                                 :disabled => have_states)
            ].join.gsub('"', "'").gsub("\n", "")
            %>
            <script type="text/javascript" language="javascript" charset="utf-8">
                // <![CDATA[
                document.write("<%= raw state_elements %>");
                // ]]>
            </script>
          </span>
              <span class="required"> *</span>
            </p>
        <% end %>
        <p id="bzip" class="field">
          <%= bill_form.label :zipcode, "Postcode" %>
          <%= bill_form.text_field :zipcode, :value => @user_addy.try(:postcode) %>
          <span class="required"> *</span>
        </p>

        <p id="bcountry" class="field">
          <%= bill_form.label :country_id, t(:country) %>
          <span id="bcountry"><%= bill_form.collection_select :country_id, available_countries, :id, :name, {} %></span>
          <span class="required"> *</span>
        </p>

        <p id="bphone" class="field">
          <%= bill_form.label :phone, t(:phone) %>
          <%= bill_form.text_field :phone, :value => @user_addy.try(:phone) %>
          <span class="required"> *</span>
        </p>
        <% if Spree::Config[:alternative_billing_phone] %>
            <p id="baltphone">
              <%= bill_form.label :alternative_phone, t(:alternative_phone) %>
              <%= bill_form.text_field :alternative_phone %>
            </p>
        <% end %>
      </div>

  <% end %>
</fieldset>


<fieldset id='shipping'>
  <%= form.fields_for :ship_address do |ship_form| %>

      <legend><%= t("shipping_address") %></legend>

      <p class="field checkbox">
        <label>&nbsp;</label>

      <div id="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %>
        Use the same address as above?
      </div>
      </p>

      <%= javascript_tag do %>
          $("#order_use_billing").click(function() {
          if ($(this).attr("checked")) {
          $(".shipping_fields").slideUp();
          } else {
          $(".shipping_fields").slideDown();
          }
          }).trigger('click');
      <% end %>

      <div class="inner shipping_fields">
        <p id="sfname" class="field">
          <%= ship_form.label :firstname, t(:first_name) %>
          <%= ship_form.text_field :firstname, :class => 'required' %><span class="req">*</span>
        </p>

        <p id="slname" class="field">
          <%= ship_form.label :lastname, t(:last_name) %>
          <%= ship_form.text_field :lastname, :class => 'required' %><span class="req">*</span>
        </p>

        <p id="saddress" class="field">
          <%= ship_form.label :address1, "Street Address" %>
          <%= ship_form.text_field :address1, :class => 'required' %><span class="req">*</span>
        </p>

        <p id="saddress2" class="field">
          <%= ship_form.label :address2, "Street Address" %>
          <%= ship_form.text_field :address2 %>
        </p>

        <p id="scity" class="field">
          <%= ship_form.label :city, t(:city) %>
          <%= ship_form.text_field :city, :class => 'required' %><span class="req">*</span>
        </p>
        <% if Spree::Config[:address_requires_state] %>
            <p class="field">
          <span id="sstate">
            <% have_states = !@order.ship_address.country.states.empty? %>
            <%= ship_form.label :state, t(:state) %>
            <noscript>
              <%= ship_form.text_field :state_name, :class => 'required' %>
            </noscript>
            <% state_elements = [
                    ship_form.collection_select(:state_id, @order.bill_address.country.states,
                                                :id, :name,
                                                {:include_blank => true},
                                                {:class => have_states ? "required" : "hidden",
                                                 :disabled => !have_states}) +
                            ship_form.text_field(:state_name,
                                                 :class => !have_states ? "required" : "hidden",
                                                 :disabled => have_states)
            ].join.gsub('"', "'").gsub("\n", "")
            %>
            <script type="text/javascript" language="javascript" charset="utf-8">
                // <![CDATA[
                document.write("<%= raw state_elements %>");
                // ]]>
            </script>
          </span>
              <span class="req">*</span>
            </p>
        <% end %>
        <p id="szip" class="field">
          <%= ship_form.label :zipcode, t(:zip) %>
          <%= ship_form.text_field :zipcode, :class => 'required' %><span class="req">*</span>
        </p>

        <p id="scountry" class="field">
          <%= ship_form.label :country_id, t(:country) %>
          <span id="scountry"><%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %></span>
          <span class="req">*</span>
        </p>

        <p id="sphone" class="field">
          <%= ship_form.label :phone, t(:phone) %>
          <%= ship_form.text_field :phone, :class => 'required' %><span class="req">*</span>
        </p>
        <% if Spree::Config[:alternative_shipping_phone] %>
            <p id="saltphone">
              <%= ship_form.label :alternative_phone, t(:alternative_phone) %>
              <%= ship_form.text_field :alternative_phone %>
            </p>
        <% end %>
      </div>
  <% end %>
</fieldset>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%= t("save_and_continue") %>"/>
</div>

<script type="text/javascript">
    $(function () {
        $("#checkout_form_address").validate({
            rules:{
                'order[bill_address_attributes][firstname]':{
                    required:true
                },
                'order[bill_address_attributes][lastname]':{
                    required:true
                },
                'order[bill_address_attributes][address1]':{
                    required:true
                },
                'order[bill_address_attributes][city]':{
                    required:true
                },
                'order[bill_address_attributes][state_id]':{
                    required:true
                },
                'order[bill_address_attributes][zipcode]':{
                    required:true,
                    digits:true,
                    minlength:4,
                    maxlength:4
                },
                'order[bill_address_attributes][country_id]':{
                    required:true
                },
                'order[bill_address_attributes][phone]':{
                    required:true,
                    digits:true
                }
            },
            errorClass:"field_with_errors",
            errorElement:"span",
            validClass:"valid_field"
        });

        // Save address to prefs
        $("input[type=submit]").click(function () {
            var conf = confirm("Would you like to save this as your default address?");
            if (conf) {
                $("#save_address").val("1");
            } else {
                $("#save_address").val("0");
            }
            $(this).submit();
        });


    });

</script>
