<fieldset id='shipping_method'>
  <legend><%= t("shipping_method") %></legend>
  <div class="inner">
    <p><strong>Note:</strong> Postage is free within Australia on each item purchased over $200.
      Items under $200 will attract a $6 postage and handling fee. <%= link_to "Read More &raquo;".html_safe, "http://www.jewellover.com.au/terms_and_conditions#shipping" %></p>

    <div id="methods" style="margin: 0 auto;">
      <ul class="field radios">
        <% @order.rate_hash.each_with_index do |shipping_method, i| %>
            <%
               case shipping_method[:name]
                   when "Delivery"
                       image = image_tag "common/deliver.png"
                   when "Pickup"
                       image = image_tag "common/retailer.png"
                   when "Air Freight"
                       image = image_tag "common/international.png"
               end
            %>
            <li>
              <%= image %>
              <br/>
              <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
              <%= shipping_method[:name] %>
            </li>

        <% end %>
      </ul>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
        <p id="minstrs">
          <%= form.label :special_instructions, t("shipping_instructions") %><br/>
          <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
        </p>
    <% end %>
  </div>
</fieldset>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%= t("save_and_continue") %>"/>
</div>