<fieldset id="payment">
  <legend><%= t("payment_information") %></legend>
  <div>
    <p>We use Paypal to process our payments in a simple and secure manner. You can choose to pay by credit card through the Paypal process, just press the 'Buy now' button below and select 'Pay with Credit Card' on the next page. You will be redirected to Paypal.</p>
    <br/>
    <%= hook :checkout_payment_step, {:form => form} do %>
        <% @order.available_payment_methods.each do |method| %>
            <p>
              <label>
                <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
                <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
              </label>
            </p>
        <% end unless Time.now #no need to show names,,, remove 'unless' if payment options %>

        <ul id="payment-methods">
          <% @order.available_payment_methods.each do |method| %>
              <li id="payment_method_<%= method.id %>"<%= ' class="last"' if method == @order.available_payment_methods.last %>>
                  <%= render "checkout/payment/#{method.method_type}", :payment_method => method %>
              </li>
          <% end %>
        </ul>
        <br style='clear:both;'/>
        <%= hook :coupon_code_field, {:form => form} %>
    <% end %>
    <br/>
     <a href="#" style="text-align:center; display:block;" onclick="javascript:window.open('https://www.paypal.com/au/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img src="/images/paypal111.gif" border="0" alt="Solution Graphics"><br/>
      Why use Paypal?</a>
    <br/>
  </div>
</fieldset>

<!--<div class="form-buttons">-->
  <!--<input type="submit" class="continue button primary" value="<%= t("save_and_continue") %>"/>-->
<!--</div>-->
