<fieldset id='coupon_code'>
  <legend>Coupon Code</legend>
  <div class="inner">

    <% if @current_order.coupon.present? %>

        <p>You have already selected the coupon below to be used with this order.</p>
        <div class="infoRow">
        <table class="style1" cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th>Coupon ID</th>
            <th>Value</th>
            <th>Expires at</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @current_order.coupon.number %></td>
            <td><%= format_price @current_order.coupon.value %></td>
            <td><%= @current_order.coupon.expires_at.to_formatted_s(:long) %></td>
          </tr>
          </tbody>
        </table>
        </div>

    <% elsif current_user.coupons.where_valid.present? %>
        <p>Please select the coupon you wish to use below.</p>
        <div class="infoRow">
        <table class="style1" cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th align="left">Coupon ID</th>
            <th align="left">Value</th>
            <th align="left">Expires at</th>
            <th>Select Coupon</th>
          </tr>
          </thead>
          <tbody>
          <% current_user.coupons.where_valid.each do |c| %>
              <tr>
                <td><%= c.number %></td>
                <td><%= format_price c.value %></td>
                <td><%= c.expires_at.to_formatted_s(:long) %></td>
                <td><%= form.radio_button :coupon, "#{c.number}", :class => "coupon_select" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        </div>

    <% else %>
        <p>You do not have any coupons available at this moment.</p>
    <% end %>


  </div>
</fieldset>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%= t("save_and_continue") %>"/>
</div>
