<div id="order_summary">
  <h3><%= t(:order_summary) %></h3>
  <br/>

  <div>

    <%= image_tag order.product.images.first.attachment.url(:small), :style => "float:left; height:80px; margin-right:10px;" %>

    <p><%= order.product.name %></p>

  </div>


  <table>


    <tbody>
    <tr>
      <td>Sub-total:</td>
      <td align="right"><%= format_price order.item_total %></td>
    </tr>
    </tbody>

    <% order.adjustments.each do |adjustment| %>
        <tbody id="summary-order-charges">
        <tr>
          <td><%= adjustment.label %>:</td>
          <td align="right"><%= number_to_currency adjustment.amount %></td>
        </tr>
        </tbody>
    <% end %>
    <tbody>
    <tr>
      <td><strong>Total:</strong></td>
      <td align="right"><strong><span id='summary-order-total'><%= format_price order.total %></span></strong></td>
    </tr>
    </tbody>


  </table>


</div>
