<%- if controller_name != 'user_sessions' %>
  <%= link_to "Login", login_path %> |
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'user_registrations' %>
  <%= link_to "Sign up as Retailer", "http://www.jewelloversolutions.com.au" %> |
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'user_registrations' %>
  <%= link_to "Sign up as User", new_registration_path(resource_name) %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'user_passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %> |
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'user_confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %> |
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %> |
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
  <% end -%>
<% end -%>