<div class="yui-gb">
  <%- locals = {:f => f} %>

  <%# hook :admin_product_form_left, locals do %>
  <%= f.field_container :name do %>
      <%= f.label :name, t("name") %> <span class="required">*</span><br/>
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
  <% end %>
  <div class="yui-u first">

    <%= f.field_container :sku do %>
        <%= f.label :sku, t("sku") %> <span class="required">*</span><br/>
        <%= f.text_field :sku, :size => 18 %>
        <%= f.error_message_on :sku %>
    <% end %>

    <%= f.field_container :price do %>
        <%= f.label :price, t("start price") %> <span class="required">*</span><br/>
        $<%= f.text_field :price, :size => 18 %>
        <%= f.error_message_on :price %>
        <br/>
        <small>Please enter a whole dollar value!</small>
    <% end %>

    <%= f.field_container :cost_price do %>
        <%= f.label :cost_price %> <span class="required">*</span><br/>
        $<%= f.text_field :cost_price, :size => 18 %>
        <%= f.error_message_on :cost_price %>
        <br/>
        <small>Please enter a whole dollar value!</small>
    <% end %>
    <%= f.field_container :interval do %>
        <%= f.label :interval, "Price Drop Interval" %> <span class="required">*</span>
        <Br/>
        <small>How often will the price drop?</small>
        <%= f.select :interval, options_for_select({"60 minutes" => 60,
                                                    "30 minutes" => 30,
                                                    "15 minutes" => 15,
                                                    "5 minutes" => 5,
                                                    "1 minute" => 1
                                                   }, @product.interval) %>
    <% end %>

    <%= f.field_container :available_on do %>

        <%# TODO come back and make nice time picker %>
        <%# f.spree_date_picker :available_on, {}, {:style => "width:90px;", :value => "#{Time.now}"} %>
        <!--at-->
        <%# f.select :t1, (01..12).collect { |i| sprintf "%02d", i } %>
        <%# f.select :t2, (00..59).collect { |i| sprintf "%02d", i } %>
        <%# f.select :t3, ["am", "pm"] %>

        <div id="product_time_selector">
          <%= f.label :available_on, "When would you like this product to go live?" %>
          <br/>
          <%= datetime_select :product, :available_on, :default => Time.current %>
          <br>
          <h4 style="color:#f00;"><strong style="color:#000;">Note:</strong> Time is Australian Eastern Standard Time
            (AEST) - Brisbane</h4>
        </div>

        <br/>

        <%= f.error_message_on :available_on %>
    <% end %>


  </div>
  <div class="yui-u">
    <%= f.field_container :size do %>
        <%= f.label :size, "Item Size" %>  <br/>
        <%= f.text_field :size %>
    <% end %>
    <%= f.field_container :resizable do %>
        <%= f.check_box :resizable %>
        <%= f.label :resizable, "Resizable?" %>
        <br/>
        <small>Can this item be resized?</small>
    <% end %>
    <%= f.field_container :certified do %>
        <%= f.check_box :certified %>
        <%= f.label :certified, "Certified?" %>
        <br/>
        <small>You may be asked for a copy.</small>
    <% end %>
    <%# f.field_container :overseas do %>
    <%# f.check_box :overseas %>
    <%# f.label :overseas, "Overseas Delivery?" %>
    <!--<br/>-->
    <!--<small>You will need to discuss delivery with customer after purchase.</small>-->
    <%# end %>
    <%= f.field_container :relist do %>
        <%= f.check_box :relist, :checked => true %>
        <%= f.label :relist, "Would you like this product to automatically relist?" %>
        <br/>
        <small>You will need to wait for the item to finish before editing again.</small>
    <% end %>

    <%= f.field_container :second_hand do %>
        <%= f.check_box :second_hand %>
        <%= f.label :second_hand, "Is this product Pre-loved?" %>
        <br/>
        <small>Your customers must know if a product is second hand.</small>
    <% end %>


    <%= f.field_container :store_id do %>
        <%= f.label :store_id, "Where is this product located?" %>
        <br/>
        <%= f.collection_select(:store_id, @stores, :id, :store_location) if @stores %>
    <% end %>


  </div>

  <div class="yui-u last">
    <%= f.field_container :description do %>
        <%= f.label :description, t("description") %>
        <br/>
        <small>Jewellery is an emotional product, so make sure you include plenty of emotive terms and lots of
          good information about your item to help sell it. The more detail the customer knows the better their
          chances of buying.
        </small>
        <br style="clear:both;"/>
        <br/>
        <%= f.text_area :description, {:style => "width:450p; height:200px;"} %>
        <br/>
        <%= f.error_message_on :description %>
    <% end %>
  </div>
</div>

<%= hook :admin_product_form_additional_fields, locals do %>
    <% Variant.additional_fields.select { |af| af[:only].nil? || af[:only].include?(:product) }.each do |field| %>
        <%= render :partial => "retailer/shared/additional_field", :locals => {:field => field, :f => f} %>
    <% end %>
<% end %>

<script type="text/javascript">
    $(function () {
        $('form').validate({
            rules:{
                'product[name]':{
                    required:true
                },
                'product[sku]':{
                    required:true
                },
                'product[price]':{
                    required:true,
                    number:true
                },
                'product[cost_price]':{
                    required:true,
                    number:true
                },
                'product[description]':{
                    required:true,
                    minlength:100
                }
            },
            errorClass:"field_with_errors",
            validClass:"valid_field",
            errorElement:"span"
        });

        <% if @product.available_on.nil? && @current_action == "edit" %>
        $('#product_set_time').attr('checked', true);
        <% end %>
    });
</script>



