<div class="steps">
  <ul>
    <li <%= "class='current'" if current == 1 %>><span>1</span>: <%= params[:id] ? "Edit" : "Create" %> Your Product
    </li>
    <li <%= "class='current'" if current == 2 %>><span>2</span>: Add Photos</li>
    <li <%= "class='current'" if current == 3 %>><span>3</span>: Add Categories</li>
  </ul>
</div>

