<%# render :partial => 'retailer/shared/product_sub_menu' %>

<%= render :partial => 'retailer/shared/product_tabs', :locals => {:current => "Product Details"} %>

<%= render "steps", :current => 1 %>

<%= render "shared/error_messages", :target => @product %>

<%= form_for(@product, :url => object_url, :html => {:method => :put, :multipart => true}) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= render :partial => 'retailer/shared/edit_resource_links', :locals => {:f => f} %>
<% end %>


