<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= button_link_to t("new_product"), new_object_url, {:remote => true, :id => 'retailer_new_product', :class => "button add"} %>
    </li>
  </ul>
</div>

<h1><%= "#{t("actions.listing")} #{t("products")}" %> <span>- <%= @retailer.retailer_detail.trading_name %></span></h1>

<div id="new_product"></div>

<div id="pagination_wrapper">
  <%= page_entries_info @products %><%= will_paginate @products %>
</div>


<table class="index" id='listing_products'>
  <tr>
    <%= hook :admin_products_index_headers do %>

        <th><%= sort_link @search, :leveredge, "LE" %></th>
        <th><%= sort_link @search, :id, "ID" %></th>
        <th>Main Image</th>
        <th>Stock Code<%# sort_link @search, :sku, "Stock Code" %></th>
        <th><%= sort_link @search, :name, t("name") %></th>
        <th>Start Price<%# sort_link @search, :price, "Start Price" %></th>
        <th>Current Price</th>
        <th>Reserve Price</th>
        <th><%= sort_link @search, :state, "State" %></th>
        <th><%= sort_link @search, :relist, "Auto-Relist" %></th>
        <th>Actions</th>
        <th>Facebook</th>

    <% end %>
  </tr>
  <% @products.each do |product| %>
      <tr <%= product_state_list_style(product) %> id="<%= dom_id product %>">
        <%- locals = {:product => product} %>
        <%= hook :admin_products_index_rows, locals do %>

            <td><%= image_tag("common/leveredge_logo.png", :width => "20px") unless !product.leveredge %></td>
            <td><%= product.id %></td>
            <td align="center">
              <% if product.images.empty? %>
                  <%= link_to image_tag("/images/noimage/product.jpg", :width => 50), edit_object_url(product) %>
              <% else %>
                  <%= link_to image_tag(https_url(product.images.first.attachment.url(:small)), :width => 50), product_url(product), :class => "image" %>
              <% end %>
              <div class="tooltip">
                <table border="0" cellpadding="0" cellspacing="0" style="border:none; margin:0;">
                  <tr>
                    <td>
                      <strong>Starts at:</strong> <%= product_start_time(product) %>
                      <br/>
                      <strong>Ends in:</strong> <%= product_time_left(product) %>
                      <br/>
                      <strong>Offers:</strong> <%= product.bids.count %>
                      <br/>
                      <strong>Located at:</strong> <%= product.store.name %>
                    </td>
                    <td>
                      <strong>Drops Every:</strong> <%= pluralize(product.interval, "minute") %>
                      <br/>
                      <strong>URL:</strong> <%= product_path(product) %>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
            <td><%= product.sku %></td>
            <td class="product_name"><%= product.name %></td>
            <td class="product_price"><%= format_price(product.price) %></td>
            <td><%= product_current_price(product) %></td>
            <td><%= format_price(product.cost_price) %></td>
            <td><%= product.state %></td>
            <td class="auto_relist"><%= check_box(dom_id(product), :relist, :checked => product.relist?, :class => "relist_checkbox") unless product.sold? || product.cart? %></td>
        <% end %>

        <td class="actions">
          <%= hook :admin_products_index_row_actions, locals do %>
              <%= product_actions(product) %>
          <% end %>
        </td>
        <td width="70">
          <img style="cursor:pointer;" src="/images/common/fb_share.png" alt="Share with facebook" class="fb_share"/>

          <div class="fb_product_info" style="display:none;">
            <p class="image"><%= mini_image(product) %></p>

            <p class="name"><%= product.name %></p>

            <p class="store_name"><%= product.store.name %></p>

            <p class="interval"><%= product.interval %></p>

            <p class="drop_amount"><%= format_price(product.drop_amount) %></p>

            <p class="link"><%= store_product_url(product.store, product) %></p>

            <p class="starts_at"><%= product.available_on.to_formatted_s(:rfc822) %></p>
          </div>
        </td>

      </tr>
  <% end %>
</table>

<%= will_paginate @products %>

<div id="fb-select-pages">
  <div class="pop_content">
    <h2 class="dialog_title pas">Post this product to Facebook
      <div class="uiCloseButton" style="float:right;"></div>
    </h2>

    <div class="dialog_body">
      <p>Which page would you like to post to?</p>
      <select id="fb-pages"></select>
    </div>
    <div class="dialog_buttons pal">
      <button id="page_submit" class="uiButtonConfirm pam close" style="color:#fff; font-weight:bold;">
        Select
      </button>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script type="text/javascript">
    $(function() {

        // [Remember] -- IE 7 Got no Console!!

        <% if Rails.env == 'production' %>
        var app_id = '202781719761220'; // Jewellover
        <% else %>
        var app_id = '176544045776839'; // Jewellover-Test
        <% end %>


        window.fbAsyncInit = function() {
            FB.init({
                appId      : app_id, // App ID
                channelUrl : 'http://<%= request.env["HTTP_HOST"] %>/channel.html', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true,  // parse XFBML
                oauth      : true
            });

            // Additional initialization code here
            $('.fb_share').click(function() {

                fb_product_info = $(this).parent().find('.fb_product_info');
                FB.getLoginStatus(check_login);

            });


            $('#page_submit').click(function() {
                post_page();
            });

            $('.uiCloseButton').click(function() {
                overlay.close();
            });

            $('#fb-pages').change(function(event) {
                var $this = $(this);
                assign_page_info($this.children(":selected"));
            });


        };

        // Vars
        var user_access_token, fb_product_info, user_id, page_name, page_id, page_access_token;

        var overlay = $("#fb-select-pages").overlay({
            api:true,
            onBeforeLoad:function() {
                get_pages();
            }
        });


        function login() {
            FB.login(function(login_response) {
                user_id = login_response.authResponse.userID;
                user_access_token = login_response.authResponse.accessToken;
                overlay.load();
            }, {scope:'manage_pages, publish_stream'});
        }

        // Functions
        function check_login(status_response) {


            if (status_response.status != "connected") {

                login();
            } else {
                user_access_token = status_response.authResponse.accessToken;
                user_id = status_response.authResponse.userID;


                overlay.load();
            }
        }


        function get_pages() {


            FB.api('/me/accounts', function(account_response) {
                $('#fb-pages').empty();

                var i = 0;
                for (page in account_response.data) {
                    var option = $('<option data-pid="' + account_response.data[page].id + '"></option>').text(account_response.data[page].name.substring(0, 30) + ' - ' + account_response.data[page].category).val(account_response.data[page].access_token);
                    $('#fb-pages').append(option);

                    if (i == 0) {
                        page_id = account_response.data[page].id;
                        page_access_token = account_response.data[page].access_token;
                    }
                    i++;
                }
            });


        }

        function assign_page_info(option) {
            var $this = option;

            page_id = $this.attr("data-pid");
            page_access_token = $this.val();


        }

        function post_page() {


            var image, name, store_name, interval, drop_amount, link, minutes;

            image = fb_product_info.find('p.image img').attr('src');
            name = fb_product_info.find('p.name').text();
            store_name = fb_product_info.find('p.store_name').text();
            interval = fb_product_info.find('p.interval').text();
            link = fb_product_info.find('p.link').text();
            drop_amount = fb_product_info.find('p.drop_amount').text();

            if (interval > 1) {
                minutes = 'minutes';
            } else {
                minutes = 'minute';
            }

            var obj = {
                method: 'feed',
                to: page_id,
                from: page_id,
                link: link,
                picture: image,
                name: name,
                caption: "from " + store_name,
                description:'Check out our latest "' + name + '" listed on JewelLover – this item will reduce ' + drop_amount + ' every ' + interval + " " + minutes + ' until it sells. Get in quick!'
            }


            FB.ui(obj, function(ui_response) {

                if (ui_response) {
                    var flash = $('<div/>', {'class' : "flash notice"}).html("Thank you, product was posted to facebook successfully.").show().delay(3500).slideUp();
                    flash.prependTo('#content');
                }
            });

        }


        // AUTO Relist Funcionality
        $(".relist_checkbox").click(function() {
            var $this = $(this).parent().parent();

            var $pid = $this.attr("id").split("_")[1];

            var $pname = $this.find('.product_name').html();

            var $true = $('<div/>', {'class' : "flash notice"}).html("Thank you, " + $pname + " is set to relist automatically");
            var $false = $('<div/>', {'class' : "flash notice"}).html("Thank you, " + $pname + " will not automatically relist");


            $.ajax({
                url : "/retailer/products/" + $pid + "/toggle_relist",
                type : "post",
                cache : false,
                success : function() {
                    if ($this.find('.relist_checkbox').attr("checked")) {
                        $true.prependTo("#content");
                    } else {
                        $false.prependTo("#content");
                    }
                    $(".flash").delay(3500).slideUp();
                },
                error : function() {
                    alert("There was an error!");
                }
            });
        });

        $("a.image").tooltip({position:'top right', offset:[-150, 0]});

        $(".start").click(function() {
            var $this = $(this).parent().parent().parent().parent();
            var sa = new Date($this.find(".fb_product_info .starts_at").text());
            var now = new Date();
            var conf;


            if (sa.getTime() < now.getTime()) {
                conf = confirm("Your product is set to go live in 1 minute. Are you sure you wish to start this product?");
            } else {
                conf = confirm("Your product is set to go live at " + sa + ". Are you sure you wish to start the product now?");
            }

            if(conf){
               // console.log("Successful");
            } else {
                return false;
            }


        });


    });
    // Load the SDK Asynchronously
    (function(d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));

</script>

<% content_for :head do %>
    <%= stylesheet_link_tag 'facebook' %>
<% end %>




<% content_for :sidebar do %>
    <%= hook :admin_products_sidebar do %>
        <div class="box">

          <%= form_for [:retailer, @search] do |f| %>
              <h3><%= t(:search) %></h3>

              <%- locals = {:f => f} %>
              <%= hook :admin_products_index_search, locals do %>
                  <p>
                    <%= f.label :name_contains, t("name") %><br/>
                    <%= f.text_field :name_contains, :size => 15 %>
                  </p>

                  <p>
                    <%= f.label :variants_including_master_sku_contains, t("sku") %><br/>
                    <%= f.text_field :variants_including_master_sku_contains, :size => 15 %>
                  </p>

                  <p>
                    <%= f.label :deleted_at_is_null, "Show Archived Products" %><br/>
                    <%= f.check_box :deleted_at_is_null, {:checked => params[:search][:deleted_at_is_null].blank?}, "", "1" %>
                  </p>

                  <p>
                    <%= f.label "Status" %> <br/>
                    <%= f.select :state_contains, options_for_select({
                                                                             "Choose a Status" => "",
                                                                             "idle" => "idle",
                                                                             "expired" => "expired",
                                                                             "sold" => "sold",
                                                                             "live" => "live",
                                                                             "upcoming" => "upcoming"
                                                                     }, :include_blank => true) %>
                  </p>

              <% end %>

              <%= hook :admin_products_index_search_buttons, locals do %>
                  <div class="form-buttons">
                    <%= f.submit "Search", :class => "button search" %>
                  </div>
              <% end %>
          <% end %>
        </div>
        <hr/>
        <div class="box">
          <%= render 'retailer/shared/jms' %>
        </div>
        <hr/>
        <div class="box">
          <%= render 'retailer/shared/support_contacts' %>
        </div>

    <% end %>

<% end %>

