<%# render :partial => 'retailer/shared/product_sub_menu' %>

<%= render "steps", :current => 1 %>

<%= render "shared/error_messages", :target => @product %>


<%= form_for(:product, :url => collection_url, :html => {:multipart => true, :class => "new_product"}) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= render :partial => 'retailer/shared/edit_resource_links', :locals => {:f => f} %>
<% end %>
<%= javascript_tag "datePickerController.create();" %>


