<%= field_set_tag "Enter Your Credentials", :style => "clear:both;" do %>
    <div>
      <%= image_tag "common/login.png", :style => "float:left;" %>
      <p>
        <%= f.label(:email, t("email")) %>
        <%= f.text_field('email', :class => 'title') %>
        <small class="required">*</small>
      </p>
      <p>
        <%= f.label :password, t("password") %>
        <%= f.password_field 'password', :class => 'title' %>
        <small class="required">*</small>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= f.check_box :remember_me %>
        Remember Me?
      </p>
      <br/>
      <!--<p>-->
      <!--<label>Login using:</label>-->
      <!--<%# link_to image_tag('common/fb_login.png'), "/auth/facebook", :style => "float:left;" %>-->
      <!--</p>-->
    </div>
<% end %>
<p class="form_actions">
  <%= link_to "Have you forgotten your password?", new_user_password_path, :style => "float:left;" %>
  <%= submit_tag t("log_in"), :class => 'button primary' %>
</p>