<fieldset>
  <legend>Company Details</legend>
  <div>
    <p>All fields marked with (
      <small class="required">*</small>
      ) are required.
    </p>
    <br/>
    <%= f.fields_for :retailer_detail do |rd| %>

        <p>
          <%= rd.label :abn, "ABN" %>
          <%= rd.text_field :abn %>
          <small class="required"> *</small>
          <br/>
          <label>&nbsp;</label>
          <small class="field_example">Note: Please remove all spaces.</small>
        </p>

        <p>
          <%= rd.label :trading_name, "Company Name" %>
          <%= rd.text_field :trading_name %>
          <small class="required"> *</small>
        </p>
        <p>
          <label>&nbsp;</label><%= link_to ("&raquo; Dont know your ABN or Trading Name?").html_safe, "http://www.abr.business.gov.au/", :target => "_blank", :style => "font-size:.8em;" %>
        </p>

        <p>
          <label>Your Facebook URL</label>
          <small class="before_field">http://www.facebook.com/</small>
          <%= rd.text_field :facebook, :style => "width:97px; margin-left:-4px;" %>
        </p>
    <% end %>
    <%= f.fields_for :stores do |r| %>
        <p>
          <%= r.label :name, "Shop Name" %>
          <%= r.text_field :name %>
          <small class="required"> *</small>
        </p>
        <p>
          <%= r.label :license, "JAA Member Number" %>
          <%= r.text_field :license %>
        </p>

        <p>
          <%= r.label :logo, "Logo / Store Image" %>
          <%= r.file_field :logo %>
          <small class="required"> *</small><br/>
          <label>&nbsp;</label><small class="field_example">Note: Accepts .jpg, .png or .gif with a maximum 2mb in size.</small>
        </p>

        <p>
          <%= r.label :permalink, "Your Jewellover URL" %>
          <small class="before_field">http://www.jewellover.com.au/stores/</small>
          <%= r.text_field :permalink, :style => "width:32px; margin-left:-5px;" %>&nbsp;<span class="alert"></span>
          <small class="required"> *</small><br/>
          <label>&nbsp;</label>
          <small class="field_example">Note: Can only alphanumeric characters (a-z 0-9) and underscores for spaces (_).</small>

        </p>

        <p>
          <%= r.label :description, "Store Profile - Give us a brief history and summary of your store. (Appears on your store profile page to consumers)" %>
          <%= r.text_area :description %>
          <small class="required"> *</small>
        </p>
        </div>
        </fieldset>

        <fieldset>
          <legend>Store Details</legend>
          <div>
            <h4>Contact Person</h4>
            <small>Your name is for JewelLover's reference only.</small>
            <br/>

            <p>
              <%= r.label :fname, "First Name" %>
              <%= r.text_field :fname %>
              <small class="required"> *</small>

            </p>
            <p>
              <%= r.label :lname, "Last Name" %>
              <%= r.text_field :lname %>
              <small class="required"> *</small>

            </p>
            <p>
              <%= r.label :phone, "Phone" %>
              <%= r.text_field :phone %>
              <small class="required"> *</small>
              <br/>
              <label>&nbsp;</label>
              <small class="field_example">Note: Include your area code without spaces.</small>
            </p>
            <p>
              <%= r.label :fax, "Fax" %>
              <%= r.text_field :fax %>
            </p>

            <p>
              <%= r.label :website, "Website" %>
              <small class="before_field">http://</small>
              <%= r.text_field :website, :style => "width:212px; margin-left:-4px;" %>
            </p>
            <br/>
            <h4>Store Address</h4>
            <br/>

            <p>
              <%= r.label :address1, "Address1" %>
              <%= r.text_field :address1 %>
              <small class="required"> *</small>

            </p>
            <p>
              <%= r.label :address2, "Address2" %>
              <%= r.text_field :address2 %>
            </p>

            <p>
              <%= r.label :city, "Suburb/City" %>
              <%= r.text_field :city %>
              <small class="required"> *</small>
            </p>
            <p>
              <%= r.label :postcode, "Postcode" %>
              <%= r.text_field :postcode %>
              <small class="required"> *</small>
            </p>
            <p>
              <%= r.label :state, "State" %>
              <select name="retailer[stores_attributes][0][state]" id="retailer_store_state">
                <option>Please Select a State</option>
                <% if params[:retailer].nil? %>
                    <%= options_for_select(["Australian Capital Territory", "New South Wales", "Northern Territory", "South Australia", "Tasmania", "Queensland", "Victoria", "Western Australia"]) %>
                <% else %>
                    <%= options_for_select(["Australian Capital Territory", "New South Wales", "Northern Territory", "South Australia", "Tasmania", "Queensland", "Victoria", "Western Australia"], params[:retailer][:stores_attributes]["0"][:state]) %>
                <% end %>

              </select>
              <small class="required"> *</small>
            </p>
            <p>
              <%= r.label :country, "Country" %>
              <select name="retailer[stores_attributes][0][country]" id="retailer_store_country">
                <%= options_for_select(["Australia"]) %>
              </select>
            </p>
    <% end %>
    </div>
    </fieldset>
    <%= field_set_tag "Paypal Details" do %>
        <div>
          <%= f.fields_for :retailer_detail do |acc| %>
              <p>You are required to have a Paypal Business account in order to sell your products on JewelLover</p>
              <ol type="1" style="list-style:inside decimal;">
                <li>
                  <a href="javascript:void(0);" onClick="window.open('https://www.paypal.com/au/cgi-bin/webscr?cmd=_profile-api-signature','Paypal_Signature','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=450')">
                    Click Here to open up or create your Paypal account.</a>
                </li>
              </ol>
              <br/>
              <p>
                <%= acc.label :pp_email, "Paypal Email" %>
                <%= acc.text_field :pp_email %>
                <small class="required"> *</small>
              </p>
              <a href="javascript:void(0);" style="text-align:center; display:block;" onclick="window.open('https://www.paypal.com/au/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img src="https://www.paypalobjects.com/WEBSCR-640-20110204-1/en_AU/i/bnr/horizontal_solution_PP.gif" border="0" alt="Solution Graphics"><br/>
                What is paypal? </a>
          <% end %>
        </div>
    <% end %>