<%# field_set_tag "The Easy Way" do %>
    <!--<div>-->
      <!--<p>-->
        <!--<label>Register using:</label>-->
        <!--<%# link_to image_tag('common/fb_login.png'), "/auth/facebook", :style => "float:left;" %>-->
      <!--</p>-->
    <!--</div>-->
<%# end %>
<%= field_set_tag "Enter Your Credentials" do %>

    <div>
      <p>All fields are required.</p>
<br/>
      <!--<p>-->
        <!--<%# f.label :first_name, "First Name" %>-->
        <!--<%# f.text_field :first_name %>-->
        <!--<small class="required"> *</small>-->
      <!--</p>-->

      <!--<p>-->
        <!--<%# f.label :last_name, "Last Name" %>-->
        <!--<%# f.text_field :last_name %>-->
        <!--<small class="required"> *</small>-->
      <!--</p>-->

      <p>
        <%= f.label :username, "Username" %>
        <%= f.text_field :username %>
        <small class="required"> *</small>
      </p>

      <!--<p>-->
        <!--<%# f.label :postcode, "Postcode" %>-->
        <!--<%# f.text_field :postcode, :size => 4, :maxlength => 4 %>-->
        <!--<small class="required"> *</small>-->

      <!--</p>-->

      <!--<p>-->
        <!--<%# f.label :dob, more_info("You must be 18 years of age or over to purchase from JewelLover.", "Date of Birth") %>-->
        <!--<%# f.text_field :dob, :id => "dob", :style => "width:100px;" %>-->
        <!--<small class="required"> *</small>-->
      <!--</p>-->

      <p>
        <%= f.label :email, "Email" %>
        <%= f.text_field :email %>
        <small class="required"> *</small>
      </p>

      <div id="password-credentials">
        <p>
          <%= f.label :password, "Choose password" %>
          <%= f.password_field :password %>
          <small class="required"> *</small>
        </p>
      </div>
      <br/>
      <small><span class="required">Please Note:</span> By registering on JewelLover you agree and accept
        the <%= link_to "Terms &amp; Conditions".html_safe, "/terms_and_conditions", :target => "_blank" %>
        and <%= link_to "Privacy Policy", "/privacy_policy", :target => "_blank" %>.</small>
    </div>

<% end %>


<%= hook :signup_below_password_fields %>

