<% if current_user.watchlist.products.include? product %>
    <% form_for :user, :url => {:controller => "users", :action => "remove_product_from_watchlist"}, :html => {:class => "watchlist remove"} do |f| %>
        <%= hidden_field_tag "product_id", product.id   %>
        <%= f.submit "Remove from Watchlist" %>
    <% end %>
<% else %>
    <% form_for :user, :url => {:controller => "users", :action => "add_product_to_watchlist"}, :html => {:class => "watchlist remove"} do |f| %>
        <input type="hidden" value="<%= product.id %>" name="product_id"/>
        <input type="submit" value="Add to Watchlist"/>
    <% end %>
<% end %>
