<p><strong>IMPORTANT!</strong> We still dont know where to deliver your purchased goods to, save time at checkout by filling in the form below!</p>

<br/>

<%= form_for @user_prefs do |f| %>

    <%= render "shared/error_messages", :target => @user_prefs %>

    <p>
      <%= f.label :fname, "First Name" %>
      <%= f.text_field :fname %>
      <small class="required"> * Required</small>
    </p>

    <p>
      <%= f.label :lname, "Last Name" %>
      <%= f.text_field :lname %>
      <small class="required"> * Required</small>
    </p>

    <p class="datetime">
      <%= f.label :dob, "Date of Birth" %>
      <%= f.date_select(:dob, :start_year => Time.now.year - 100, :order => [:day, :month, :year], :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}) %>
    </p>



    <p>
      <%= f.label :address1, "Address 1" %>
      <%= f.text_field :address1 %>
      <small class="required"> * Required</small>
    </p>

    <p>
      <%= f.label :address2, "Address 2" %>
      <%= f.text_field :address2 %>
    </p>

    <p>
      <%= f.label :suburb %>
      <%= f.text_field :suburb %>
      <small class="required"> * Required</small>
    </p>

    <p>
      <%= f.label :city %>
      <%= f.text_field :city %>
      <small class="required"> * Required</small>
    </p>

    <p>
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
      <small class="required"> * Required</small>
    </p>

    <p>
      <%= f.label :state, "State" %>
      <select name="user_preference[state]" id="user_preference_state">
        <option>Please Select a State</option>
        <% if params[:user_preference].nil? %>
            <%= options_for_select(["Australian Capital Territory", "New South Wales", "Northern Territory", "South Australia", "Tasmania", "Queensland", "Victoria", "Western Australia"]) %>
        <% else %>
            <%= options_for_select(["Australian Capital Territory", "New South Wales", "Northern Territory", "South Australia", "Tasmania", "Queensland", "Victoria", "Western Australia"], params[:retailer][:store_attributes][:state]) %>
        <% end %>
      </select>
      <small class="required"> * Required</small>

    </p>
    <p>
      <%= f.label :country, "Country" %>
      <select name="user_preference[country]" id="user_preference_country">
        <%= options_for_select(["Australia"]) %>
      </select>
    </p>

    <p>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
      <small class="required"> * Required</small>
    </p>
    <br/>

    <p>
      <%= f.label "" %>
      <%= f.submit "Submit Address" %>
    </p>
<% end %>