<h1>Jewellery Sellers</h1>
<br/>
<div class="result">
  <div>
    <%= form_for :stores, :html => {:method => :get} do |f| %>

        <label>Sort by:</label>
        <select id="store_filters" name="sort_by">
          <option value="">Best Match Results</option>
          <option value="products_highest">Products: Highest first</option>
          <option value="products_lowest">Products: Lowest first</option>
        </select>

        <label>State:</label>
        <select id="state_filters" name="state">
          <option value="">All states</option>
          <option value="Queensland">Queensland</option>
          <option value="New South Wales">New South Wales</option>
          <option value="Victoria">Victoria</option>
          <option value="South Australia">South Australia</option>
          <option value="Western Australia">Western Australia</option>
          <option value="Tasmania">Tasmania</option>
          <option value="Australian Capital Territory">Australian Capital Territory</option>
          <option value="Northern Territory">Northern Territory</option>
        </select>

        <% if params[:commit] %>
            <script type="text/javascript">
                $('option', '#store_filters').filter('[value=<%= params[:sort_by]%>]').attr('selected', 'selected');
                $('option', '#state_filters').filter('[value=<%= params[:state]%>]').attr('selected', 'selected');
            </script>
        <% end %>

        <%= f.submit "Go" %>
    <% end %>
  </div>
</div>
<p><span><%= page_entries_info @stores %></span></p>

<!-- Result Ends -->


<ul class="bigItems">
  <% @stores.each do |store| %>

      <li>
        <%= link_to image_tag(store.logo.url(:small), :style => "width:200px;"), store_path(store) %>

        <div class="bigItemsInfo">
          <div class="topInfo">
            <h2><%= link_to store.name, store_path(store) %></h2>

            <div>
              <p><%= store.description %></p>
              <%= link_to image_tag("common/view_store_info.png"), store_path(store) %>
              <br/>
              <%= link_to image_tag("common/view_our_products.png"), store_products_path(store) %>
            </div>
          </div>
          <div class="bottomInfo">
            <p><strong>URL:</strong> <%= Spree::Config[:site_url] + store_path(store) %></p>

            <p><strong>Address:</strong> <%= store_address(store, "short") %></p>

            <p><strong>Contact Number:</strong> <%= store.phone %></p>

            <p><strong>Location:</strong> <%= store.state %></p>

          </div>
        </div>

      </li>
  <% end %>

  <%= will_paginate(@stores) %>

</ul>

<% content_for :sidebar do %>
    <%= render 'shared/sidebar' %>
<% end %>