<div class="detailsBox">
  <div class="leftDetails">
    <%= image_tag @store.logo.url(:small), :class => "logo" %>
    <%= link_to image_tag("/images/common/view_our_products.png" , :style => "border:none;margin:0 auto;"), store_products_path(@store) %>
    <br/>

    <%= h3_with_icon "Store Location", "/images/common/icons/map.png" %>

    <div id="store_google_maps">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= store_address(@store, 'short') %>&zoom=15&size=250x200&markers=color:red%7c<%= store_address(@store, 'short') %>&maptype=roadmap&sensor=false" style="padding: 0;" alt="<%= @store.name %>"/>
      <%= link_to "Find us on Google Maps &raquo;".html_safe, "http://maps.google.com/?q=#{store_address(@store, 'short').split(",").join("%20")}", :target => "_blank" %>
    </div>
    <br/>

    <%= render 'shared/store_contact_form' %>

  </div>
  <div class="rightDetails">
    <h1><%= @store.name %></h1>


    <p><%= @store.description %></p>

    <p><strong>Address:</strong> <br/>
      <%= store_address(@store).html_safe %>
    </p>

    <p><strong>Phone:</strong> <%= @store.phone %></p>

    <%= content_tag(:p, content_tag(:strong, "Fax") + " #{@store.fax}") unless @store.fax.empty? %>


    <% if @store.show_website? %>
        <p><strong>Website:</strong> <%= link_to @store.website, "http://#{@store.website}", :target => "_blank"  %></p>
    <% end unless @store.website.empty? %>

    <% if @store.show_facebook? %>
        <hr/>
        <p><%= link_to image_tag('/images/common/facebook_fu.jpg'), "http://www.facebook.com/#{@retailer.retailer_detail.facebook}", :target => "_blank" %></p>
        <hr/>
    <% end unless @retailer.retailer_detail.facebook.empty? %>
    <% unless @store.license.empty? %>
        <p><strong>Member
          of:</strong><br/><%= link_to image_tag("/images/common/jaa.jpg"), "http://www.jaa.com.au", :target => "_blank" %>
        </p>
    <% end %>



    <br/>

    <% if @retailer.stores.count > 1 %>
        <h3>Our Other Stores</h3>
        <ul>
          <% @retailer.stores.each do |s| %>
              <li><%= link_to s.name, store_path(s) %> - <%= store_address(s, "short") %></li>
          <% end %>
        </ul>
    <% end %>

  </div>
</div>

<% content_for :sidebar do %>
    <%= render 'shared/sidebar' %>
<% end %>
