<tr>
  <td>
    <%= mini_image(product) %>
    <%= link_to product.name, product_path(product) %>
  </td>
  <td><%= highest_bidder(product) %></td>
  <td align="right">
    <%= format_price(bid.amount) %>
  </td>
</tr>
