<h1>Your Current Offers</h1>


<% unless @bids.empty? %>

    <div id="bids">
      <ul class="tabs">
        <li><a href="#">Current</a></li>
      </ul>

      <div class="panes">
        <div class="pane">

          <table width="100%">
            <thead>
            <tr>
              <th style="border:1px #aaa solid; border-right:none;" align="left">Product</th>
              <th style="border:1px #aaa solid; border-right:none; border-left: none;" align="left">Highest Bidder</th>
              <th style="border:1px #aaa solid; border-left:none;" align="right">Your Offer</th>
            </tr>
            </thead>
            <tbody>
            <% unless @current_bids.empty? %>
                <% @current_bids.each do |b| %>
                    <%= render :partial => 'product_offer', :locals => {:bid => b, :product => b.product} %>
                <% end %>
            <% else %>
                <tr>
                  <td>No current offers</td>
                  <td></td>
                  <td></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>


<% else %>
    <p>You currently have no offers</p>
<% end %>

<% content_for :sidebar do %>
    <%= render "shared/sidebar" %>
<% end %>

<%= javascript_tag do %>

    $("#bids .tabs").tabs("#bids .panes > .pane", { effect:'slide' });

<% end %>
