<div id="fuse_monitor">

  <%= image_tag "common/icons/spark.gif", :id => "end_price_icon" %>
  <%= image_tag "common/icons/spark.gif", :id => "current_price_icon" %>

</div>

<% content_for :head do %>
    <%= javascript_include_tag "fuse-monitor.js" %>
<% end %>