<table cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <span style="color:#444;">Starts at
            <span style="color:#8a1f11;"><%= format_price(@product.price) %></span></span>
    </td>
  </tr>
  <tr>
    <td>
      <span style="font-size:18px; color:#444;">Save up to</span>
      <h2 class="currentSaving" style="color:#ac0101;"><%= product.max_drop_count %>%</h2>
    </td>
  </tr>
  <tr>
    <td>
      <span style="color:#444;">Starts in</span>

      <div class="timer">
        <h2 class="time showpage" style="color:#0e1f5b;">00:02:35</h2>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h2>Make an Offer!</h2>
      <%= render :partial => "bid_form", :locals => {:bid => bid, :product => product} %>
      <br style="clear:both"/>
      <small><%= product_reserve(product) %></small>
    </td>
  </tr>
  <tr>
    <td>
    <%= watchlist_btn product %>
    </td>
  </tr>
</table>
