<table cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <span style="color:#444;">Started at
            <span style="color:#8a1f11;"><%= format_price(@product.price) %></span></span>
    </td>
  </tr>
  <tr>
    <td>
      <span style="font-size:18px; color:#444;">Sold for</span>
      <h2 style="color:#ac0101;"><%= format_price(product.order.item_total) %></h2>
    </td>
  <tr/>
  <tr>
    <td>
      <span style="font-size:18px; color:#444;">Saved</span>
      <h2 class="currentSaving" style="color:#ac0101;"><%= product.drop_count %>%</h2>
    </td>
  </tr>
  <tr>
    <td>
      <span style="color:#444;">Sold in</span>

      <div class="timer">
        <h2 class="showpage" style="color:#0e1f5b;"><%= distance_of_time_in_words @product.available_on, @product.kill_time %></h2>
      </div>
    </td>
  </tr>
</table>

