<table cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2">
      <span style="color:#444;">Was
            <span style="text-decoration: line-through; color:#8a1f11;"><%= format_price(@product.price) %></span></span>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h2>Make an Offer!</h2>


      <%= render :partial => "bid_form", :locals => {:bid => bid, :product => product} %>
      <br style="clear:both;"/>

      <p class="offer_saving">and save <span><%= product.offer_saving %>%</span></p>

    </td>
  </tr>
  <tr>
    <td colspan="2">
      or
      <%= render 'cart_form' %>
    </td>
  </tr>

  <tr>
    <td style="border-right: 1px #eee solid;">
      for
      <h2 class="currentPrice" style="color:#ac0101;"></h2>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <% if @product.drop_count < @product.max_drop_count %>
          <span style="color:#444;">which will drop <%= format_price(@product.drop_amount) %> in</span>
      <% else %>
          <span style="color:#444;">which will end in</span>
      <% end %>
      <div class="timer">
        <h2 class="time showpage" style="color:#0e1f5b;">Loading...</h2>
      </div>
    </td>
  </tr>


  <tr>
    <td colspan="2">
      <%= watchlist_btn product %>
    </td>
  </tr>
</table>
