<h1>Change your password</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :class => "style_1"}) do |f| %>
    <%= devise_error_messages! %>
    <%= field_set_tag "Forgot Password" do %>
        <div>
          <%= f.hidden_field :reset_password_token %>

          <p><%= f.label :password, "New password" %>
            <%= f.password_field :password %>
            <span class="required">*</span>
          </p>

          <p><%= f.label :password_confirmation, "Confirm new password" %><br/>
            <%= f.password_field :password_confirmation %>
            <span class="required">*</span>
          </p>
        </div>
    <% end %>
    <p><%= f.submit "Change my password" %></p>

<% end %>

<%= render :partial => "devise/shared/links" %>