<h1>Forgot your password huh?</h1>

<p>Enter your login email address, and we'll send you some instructions on how to reset your password.</p>
<%= devise_error_messages! %>


<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
             :html => {:method => :post, :class =>"style_1"}) do |f| %>
    <%= field_set_tag "Forgot Password" do %>
        <div>
          <p>
            <%= f.label :email %>
            <%= f.text_field :email %>
            <small class="required"> * </small>
          </p>
        </div>

    <% end %>

    <%= f.submit "Send me the instructions" %>

<% end %>
<%= render :partial => "devise/shared/links" %>
