.yui-editor-container A {color: black !important;}
.editor-mask-container.active .editor-mask {
	background-color: black;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5+*/
	-moz-opacity: 0.3; /* Mozilla 1.6 */
	-webkit-opacity: 0.3; /* Mozilla 1.6 */
	-khtml-opacity: 0.3; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.3;
	width: 100%;
	height: 100%;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
}
.editor-mask-container .editor-mask-label {display: none;}
.editor-mask-container.active .editor-mask-label {
	background-color: black;
	color: white;
	font-weight: bold;
	height: 25px;
	left: 50%;
	margin-left: -130px;
	padding: 30px 50px;
	position: fixed;
	top: 250px;
	width: 200px;
	z-index: 101;
	display: block !important;
}
.yui-toolbar-imageUpload .first-child {
	background: url("/images/upload_image.png") no-repeat scroll 50% 50% transparent !important;
}
.yui-toolbar-fileUpload .first-child {
	background: url("/images/upload_file.png") no-repeat scroll 50% 50% transparent !important;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-heading {
    width: 120px;
}

.yui-toolbar-group-undoredo h3, .yui-toolbar-group-insertitem h3, .yui-toolbar-group-indentlist h3 {
    width: auto;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-editcode span.yui-toolbar-icon {
    background-image: url("/images/html_editor.gif");
    background-position: 0 1px;
    left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-button-editcode-selected span.yui-toolbar-icon {
    background-image: url("/images/html_editor.gif");
    background-position: 0 1px;
    left: 5px;
}

.editor-hidden {
    visibility: hidden;
    top: -9999px;
    left: -9999px;
    position: absolute !important;
}
#page_body {
    border: 0;
    margin: 0;
    padding: 0;
}