/*1323735988,169775815*/

#fb-select-pages {

    /* overlay is hidden before loading */
    display: none;

    /* standard decorations */
    width: 400px;
    border: 10px solid #666;
    background: #fff;

    /* for modern browsers use semi-transparent color on the border. nice! */
    border: 10px solid rgba(82, 82, 82, 0.698);

    /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

form {
    margin: 0;
    padding: 0
}

label {
    cursor: pointer;
    color: #666;
    font-weight: bold;
    vertical-align: middle
}

label input {
    font-weight: normal
}

textarea, .inputtext, .inputpassword {
    border: 1px solid #bdc7d8;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

select {
    border: 1px solid #bdc7d8;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 2px
}

.inputtext, .inputpassword {
    margin: 0;
    padding-bottom: 4px
}

.inputradio {
    padding: 0;
    margin: 0 5px 0 0;
    vertical-align: middle
}

.inputcheckbox {
    border: 0;
    vertical-align: middle
}

.inputbutton, .inputsubmit {
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #fff;
    padding: 2px 15px 3px 15px;
    text-align: center
}

.inputsubmit_disabled {
    background-color: #999;
    border-bottom: 1px solid #000;
    border-right: 1px solid #666;
    color: #fff
}

.inputaux {
    background: #f0f0f0;
    border-color: #e7e7e7 #666 #666 #e7e7e7;
    color: #000
}

.inputaux_disabled {
    color: #999
}

.inputsearch {
    background: #fff url(https://s-static.ak.facebook.com/rsrc.php/v1/yV/r/IJYgcESal33.png) no-repeat left 4px;
    padding-left: 17px
}

.uiCloseButton {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom: 1;
    width:10px;
    height:10px
}

label.uiCloseButton {
    overflow: hidden
}

.uiCloseButton input {
    cursor: pointer;
    opacity: 0;
    outline: none;
    padding: 18px
}

.uiCloseButton {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yA/r/4WSewcWboV8.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px
}

.uiCloseButtonSmall {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yx/r/ogYrclupeJV.png);
    height: 11px;
    margin-top: 1px;
    width: 11px
}

.uiCloseButtonHuge {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yj/r/ubIGOTIgUYc.png)
}

.uiCloseButtonDark {
    background-position: left -16px
}

.uiCloseButtonInverted {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yo/r/33RpiRygxAr.png);
    background-position: left -16px
}

.uiCloseButton:hover, .uiCloseButton:focus {
    background-position: left -32px
}

.uiCloseButton:active {
    background-position: left -48px
}

.uiCloseButtonSmallDark {
    background-position: left -12px
}

.uiCloseButtonSmallInverted {
    background-position: left -12px;
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yT/r/Vi-KTnbdMKr.png)
}

.uiCloseButtonSmall:hover, .uiCloseButtonSmall:focus {
    background-position: left -24px
}

.uiCloseButtonSmall:active {
    background-position: left -36px
}

.connect_comment_widget {
    margin: 0 4px;
    padding: 5px 0;
    position: relative
}

.connect_comment_widget .nub {
    background: transparent url(https://s-static.ak.facebook.com/rsrc.php/v1/yv/r/agyQHs6yLID.gif) no-repeat 8px 0;
    height: 6px;
    width: 20px;
    padding: 0;
    margin: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    z-index: 2;
    top: 0
}

.connect_comment_widget .side_nub {
    background: transparent url(https://s-static.ak.facebook.com/rsrc.php/v1/yn/r/vAOEfR4cWQM.gif) no-repeat 0 0;
    height: 20px;
    width: 6px;
    padding: 0;
    margin: 0;
    left: -5px;
    line-height: 0;
    position: absolute;
    z-index: 2;
    top: 14px
}

.connect_comment_widget_rtl .side_nub {
    background: transparent url(https://s-static.ak.facebook.com/rsrc.php/v1/yK/r/R95msRfVr6a.gif) no-repeat 0 0
}

.connect_comment_widget .comment_content {
    background: white;
    border-color: #333333 #333333 #283e6c;
    border-style: solid;
    border-width: 1px 1px 2px;
    zoom: 1
}

.connect_comment_widget .connect_comment_widget_text {
    padding: 8px 8px 4px
}

.connect_comment_widget .connect_comment_widget_custom_text {
    color: gray
}

.connect_comment_widget .connect_comment_widget_placeholder_input {
    width: 304px;
    color: gray;
    line-height: 16px;
    height: 20px
}

.connect_comment_widget .connect_comment_widget_placeholder_input_region {
    padding: 8px 8px 5px
}

.connect_comment_widget .connect_comment_widget_user_pic {
    display: block;
    float: left;
    height: auto;
    padding: 0 5px 0 0;
    width: 50px
}

.connect_comment_widget .connect_comment_widget_full_input_textarea {
    height: 50px;
    width: 319px
}

.connect_comment_widget .connect_comment_widget_full_input_region {
    padding: 8px 8px 5px
}

.connect_comment_widget textarea.connect_comment_widget_disabled {
    color: gray
}

.connect_comment_widget.like_button_dark textarea.connect_comment_widget_disabled {
    color: #dedede
}

.connect_comment_widget div.connect_comment_share_preview {
    padding-left: 55px;
    padding-top: 6px
}

.connect_comment_widget div.connect_comment_widget_button_region {
    padding: 8px 8px 5px;
    text-align: right;
    background-color: #f2f2f2;
    border-top: 1px solid #bdc7d8
}

.connect_comment_widget_checkbox_region div.uiinputlabel {
    display: inline-block;
    float: left
}

.connect_comment_widget.like_button_dark div.connect_comment_widget_button_region {
    background-color: #333;
    border-top: 1px solid #666
}

.like_button_dark .nub, .like_button_dark .connect_widget_comment_box_upward_nub {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yL/r/7vbl1usLlV8.gif)
}

.like_button_dark .side_nub {
    background: transparent url(https://s-static.ak.facebook.com/rsrc.php/v1/yB/r/Gvy8rtIdNBK.gif) no-repeat 0 0;
    left: -4px
}

.connect_comment_widget_rtl.like_button_dark .side_nub {
    background: transparent url(https://s-static.ak.facebook.com/rsrc.php/v1/yp/r/E-2vs4qfO7d.gif) no-repeat 0 0
}

.like_button_dark .comment_content {
    background: #111;
    border: 1px solid #666;
    border-bottom: 2px solid #ccc;
    color: #ccc
}

.like_button_dark .connect_comment_widget_placeholder_input {
    border: 1px solid #505050;
    background: #505050;
    color: #fff
}

.like_button_dark .connect_comment_widget_full_input_textarea, .like_button_dark .connect_comment_widget_placeholder_input {
    background-color: #000;
    border-color: #434343;
    color: #fff
}

.like_button_dark .connect_comment_widget_full_input_textarea {
    color: #fff
}

.like_button_dark a {
    color: #fff
}

.connect_comment_widget .connect_comment_widget_title {
    font-size: 12px;
    font-weight: bold;
    margin-top: -2px
}

.connect_comment_widget.like_button_dark .connect_comment_widget_title {
    color: #ccc
}

.connect_comment_widget .connect_comment_widget_description, .connect_comment_widget .connect_comment_widget_href {
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 6px
}

.connect_comment_widget .connect_comment_widget_description {
    color: #000
}

.connect_comment_widget.like_button_dark .connect_comment_widget_description {
    color: #ccc
}

.DOMControl_placeholder {
    color: #777
}

.no_js .DOMControl_placeholder {
    color: #000
}

.pop_container_advanced {
    background: rgba(82, 82, 82, 0.7);
    -webkit-border-radius: 8px;
    padding: 10px
}

.pop_content_old {
    position: relative
}

.pop_container {
    direction: ltr;
    position: relative;
    top: 10px
}

.pop_topleft, .pop_topright, .pop_bottomleft, .pop_bottomright {
    height: 10px;
    width: 10px;
    overflow: hidden;
    position: absolute
}

.pop_topleft {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/y3/r/3AeFkLPxG03.png);
    background-repeat: no-repeat;
    background-position: 0 -86px;
    left: -10px;
    top: -10px
}

.pop_topright {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/y3/r/3AeFkLPxG03.png);
    background-repeat: no-repeat;
    background-position: 0 -97px;
    right: -10px;
    top: -10px
}

.pop_bottomleft {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/y3/r/3AeFkLPxG03.png);
    background-repeat: no-repeat;
    background-position: 0 -64px;
    bottom: -10px;
    left: -10px
}

.pop_bottomright {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/y3/r/3AeFkLPxG03.png);
    background-repeat: no-repeat;
    background-position: 0 -75px;
    right: -10px;
    bottom: -10px
}

.pop_verticalslab, .pop_horizontalslab {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #525252;
    opacity: .7
}

.pop_verticalslab {
    margin: -10px 0 0;
    padding-bottom: 20px
}

.pop_horizontalslab {
    margin: 0 0 0 -10px;
    padding-right: 20px
}

.generic_dialog {
    height: 0;
    left: 0;
    overflow: visible;
    outline: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200
}

.generic_dialog_modal, .generic_dialog_fixed_overflow {
    background-color: rgba(252, 252, 252, .9);
    height: 100%;
    z-index: 300
}

.generic_dialog_fixed_overflow {
    overflow-x: auto;
    overflow-y: scroll
}

.generic_dialog_fixed_overflow .generic_dialog_popup {
    height: auto;
    padding-bottom: 40px
}

.generic_dialog_overflow_mode body {
    overflow: hidden !important
}

.generic_dialog_popup {
    height: 0;
    overflow: visible;
    position: relative;
    width: 465px;
    margin: auto
}

.generic_dialog div.dialog_loading {
    background-color: #f2f2f2;
    border: 1px solid #606060;
    font-size: 24px;
    padding: 10px
}

.pop_content {
    direction: ltr;
    outline: none;
    position:relative;
}

.pop_content .fb_close{
    position:absolute;
    width:10px;
    height:10px;

}

.pop_dialog_rtl .pop_content {
    direction: rtl
}

.pop_content h2.dialog_title {
    background: #6d84b4;
    border: 1px solid #3b5998;
    border-bottom: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0
}


.pop_content h2.secure {
    background: #6d84b4 url(https://s-static.ak.facebook.com/rsrc.php/v1/yu/r/jp8TzrZb6J1.png) 98% no-repeat
}

.pop_content h2.loading {
    background: #6d84b4 url(https://s-static.ak.facebook.com/rsrc.php/v1/y-/r/AGUNXgX_Wx3.gif) 98% no-repeat
}

.pop_content h2.dialog_loading {
    background: #6d84b4 url(https://s-static.ak.facebook.com/rsrc.php/v1/y-/r/AGUNXgX_Wx3.gif) no-repeat 400px 10px;
    padding-right: 40px
}

.pop_content h2 span {
    display: block;
    padding: 5px 10px
}

.pop_content .dialog_content {
    background: #fff;
    border: 1px solid #555;
    border-top-width: 0
}

.pop_content .dialog_content.dialog_content_titleless {
    border-top: 1px solid #555
}

.pop_content .dialog_loading, .dialog_loading_shown .dialog_title, .dialog_loading_shown .dialog_content {
    display: none
}

.dialog_loading_shown .dialog_loading {
    display: block
}

.pop_content .dialog_body {
    padding: 10px;
    border-bottom: 1px solid #ccc
}

.omitDialogFooter .pop_content .dialog_body {
    border-bottom: 0
}

.pop_content .dialog_summary {
    background: #f2f2f2;
    padding: 8px 10px;
    border-bottom: 1px solid #ccc
}

.pop_content .dialog_buttons {
    background: #f2f2f2;
    padding: 8px 10px 8px 10px;
    position: relative;
    text-align: right
}

.pop_content .dialog_buttons_msg {
    float: left;
    line-height: 17px;
    padding-top: 4px
}

.pop_content .dialog_footer {
    background: #F2F2F2 none repeat scroll 0
}

.full_bleed .pop_content .dialog_body {
    padding: 0
}

.pas {
    padding: 5px
}

.pam {
    padding: 10px
}

.pal {
    padding: 20px
}

.pts {
    padding-top: 5px
}

.ptm {
    padding-top: 10px
}

.ptl {
    padding-top: 20px
}

.prs {
    padding-right: 5px
}

.prm {
    padding-right: 10px
}

.prl {
    padding-right: 20px
}

.pbs {
    padding-bottom: 5px
}

.pbm {
    padding-bottom: 10px
}

.pbl {
    padding-bottom: 20px
}

.pls {
    padding-left: 5px
}

.plm {
    padding-left: 10px
}

.pll {
    padding-left: 20px
}

.phs {
    padding-left: 5px;
    padding-right: 5px
}

.phm {
    padding-left: 10px;
    padding-right: 10px
}

.phl {
    padding-left: 20px;
    padding-right: 20px
}

.pvs {
    padding-top: 5px;
    padding-bottom: 5px
}

.pvm {
    padding-top: 10px;
    padding-bottom: 10px
}

.pvl {
    padding-top: 20px;
    padding-bottom: 20px
}

.mas {
    margin: 5px
}

.mam {
    margin: 10px
}

.mal {
    margin: 20px
}

.mts {
    margin-top: 5px
}

.mtm {
    margin-top: 10px
}

.mtl {
    margin-top: 20px
}

.mrs {
    margin-right: 5px
}

.mrm {
    margin-right: 10px
}

.mrl {
    margin-right: 20px
}

.mbs {
    margin-bottom: 5px
}

.mbm {
    margin-bottom: 10px
}

.mbl {
    margin-bottom: 20px
}

.mls {
    margin-left: 5px
}

.mlm {
    margin-left: 10px
}

.mll {
    margin-left: 20px
}

.mhs {
    margin-left: 5px;
    margin-right: 5px
}

.mhm {
    margin-left: 10px;
    margin-right: 10px
}

.mhl {
    margin-left: 20px;
    margin-right: 20px
}

.mvs {
    margin-top: 5px;
    margin-bottom: 5px
}

.mvm {
    margin-top: 10px;
    margin-bottom: 10px
}

.mvl {
    margin-top: 20px;
    margin-bottom: 20px
}

.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yN/r/fdwmwnKP2DA.png);
    background-repeat: no-repeat;
    background-position: 0 -49px;
    background-color: #eee;
    border: 1px solid #999;
    border-bottom-color: #888;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap
}

.uiButtonLarge {
    line-height: 16px
}

.uiButton + .uiButton {
    margin-left: 4px
}

.uiButton:hover {
    text-decoration: none
}

.uiButton:active, .uiButtonDepressed {
    background: #ddd;
    border-bottom-color: #999;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05)
}

.uiButton .img {
    margin-top: 2px;
    vertical-align: top
}

.uiButtonLarge .img {
    margin-top: 4px
}

.uiButton .customimg {
    margin-top: 0
}

.uiButton .uiButtonText, .uiButton input {
    background: none;
    border: 0;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 1px 0 2px;
    white-space: nowrap
}

.uiButtonOverlay, .uiButtonOverlay:hover {
    -webkit-background-clip: padding-box;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);
    background-image: none;
    border-color: #a5a5a5;
    border-color: rgba(0, 0, 0, .35);
    -webkit-border-radius: 2px
}

.uiButtonOverlay:focus, .uiButtonOverlay:active {
    background-color: #f9fafc;
    background-color: rgba(249, 250, 252, .9);
    border-color: #3b5998;
    border-color: rgba(59, 89, 152, .5)
}

.async_saving .uiButton.uiButtonOverlay, .uiButtonOverlay.uiButtonDisabled, .uiButtonOverlay.uiButtonDisabled:active, .uiButtonOverlay.uiButtonDisabled:focus, .uiButtonOverlay.uiButtonDisabled:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);
    border-color: #c8c8c8;
    border-color: rgba(180, 180, 180, .8)
}

.uiButtonSpecial {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yN/r/fdwmwnKP2DA.png);
    background-repeat: no-repeat;
    background-position: 0 -98px;
    background-color: #69a74e;
    border-color: #3b6e22 #3b6e22 #2c5115
}

.uiButtonSpecial:active {
    background: #609946;
    border-bottom-color: #3b6e22
}

.async_saving .uiButton.uiButtonSpecial, .uiButtonSpecial.uiButtonDisabled, .uiButtonSpecial.uiButtonDisabled:active, .uiButtonSpecial.uiButtonDisabled:focus, .uiButtonSpecial.uiButtonDisabled:hover {
    background: #b4d3a7;
    border-color: #9db791
}

.uiButtonConfirm {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yN/r/fdwmwnKP2DA.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #5b74a8;
    border-color: #29447e #29447e #1a356e
}

.uiButtonConfirm:active {
    background: #4f6aa3;
    border-bottom-color: #29447e
}

.async_saving .uiButton.uiButtonConfirm, .uiButtonConfirm.uiButtonDisabled, .uiButtonConfirm.uiButtonDisabled:active, .uiButtonConfirm.uiButtonDisabled:focus, .uiButtonConfirm.uiButtonDisabled:hover {
    background: #adbad4;
    border-color: #94a2bf
}

.async_saving .uiButton.uiButtonSpecial .uiButtonText, .async_saving .uiButton.uiButtonSpecial input, .async_saving .uiButton.uiButtonConfirm .uiButtonText, .async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input {
    color: #fff
}

.async_saving .uiButton, .uiButtonDisabled, .uiButtonDisabled:active, .uiButtonDisabled:focus, .uiButtonDisabled:hover {
    background: #f2f2f2;
    border-color: #c8c8c8;
    -webkit-box-shadow: none
}

.async_saving .uiButton .img, .uiButtonDisabled .img {
    opacity: .5
}

.async_saving .uiButton .uiButtonText, .async_saving .uiButton input, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input {
    color: #b8b8b8
}

.async_saving .uiButton, .async_saving .uiButton .uiButtonText, .async_saving .uiButton input, .uiButtonDepressed, .uiButtonDepressed .uiButtonText, .uiButtonDepressed input, .uiButtonDisabled, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input {
    cursor: default
}

.uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input {
    font-size: 13px
}

.uiButtonSuppressed {
    background: none;
    border-color: transparent;
    -webkit-box-shadow: none
}

.uiButtonNoText .img {
    margin-left: -1px;
    margin-right: -1px
}

.android .uiButton .uiButtonText, .android .uiButton input {
    padding: 3px 0 1px 1px
}

.uiGrid {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
}

.uiGridCalc {
    width: 100%
}

.uiGrid .vTop {
    vertical-align: top
}

.uiGrid .vMid {
    vertical-align: middle
}

.uiGrid .vBot {
    vertical-align: bottom
}

.uiGrid .hLeft {
    text-align: left
}

.uiGrid .hCent {
    text-align: center
}

.uiGrid .hRght {
    text-align: right
}

.uiTooltip {
    position: relative
}

.uiTooltip:active, .uiTooltip:focus, .uiTooltip:hover {
    outline: none;
    text-decoration: none;
    z-index: 5
}

.uiTooltipWrap {
    display: none
}

.uiTooltipWrap:hover {
    visibility: hidden
}

.uiTooltipText {
    background-color: #282828;
    color: #fff !important;
    display: block;
    font-size: 11px;
    line-height: 14px;
    padding: 4px 8px;
    text-align: left;
    white-space: nowrap
}

.uiTooltip:active .uiTooltipWrap, .uiTooltip:focus .uiTooltipWrap, .uiTooltip:hover .uiTooltipWrap {
    background: url(https://s-static.ak.facebook.com/rsrc.php/v1/y1/r/uVR6w3wRHEJ.gif) left bottom no-repeat;
    bottom: 100%;
    display: block;
    left: 0;
    padding: 0 0 4px;
    position: absolute
}

.uiTooltip:active .center, .uiTooltip:focus .center, .uiTooltip:hover .center {
    left: 50%;
    margin-left: -10px;
    padding-left: 10px
}

.uiTooltip .center .uiTooltipText {
    left: -50%;
    position: relative
}

.uiTooltip .centerbottom .uiTooltipText {
    margin-left: 18px
}

.uiTooltip:active .right, .uiTooltip:focus .right, .uiTooltip:hover .right {
    background-position: right bottom;
    left: auto;
    right: 0
}

.uiTooltip:active .middle, .uiTooltip:focus .middle, .uiTooltip:hover .middle {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yR/r/kPCE0g_tKJs.gif);
    background-position: right top;
    left: auto;
    margin: -4px 4px 0 0;
    right: 100%;
    padding: 4px;
    top: 50%
}

.uiTooltip .middle .uiTooltipText {
    margin-top: -10px
}

.uiTooltip:active .rightmiddle, .uiTooltip:focus .rightmiddle, .uiTooltip:hover .rightmiddle {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yY/r/_ZWZupdaAgS.gif);
    background-position: left top;
    left: 100%;
    margin: -4px 0 0 4px;
    right: auto
}

.uiTooltip:active .bottom, .uiTooltip:focus .bottom, .uiTooltip:hover .bottom {
    background-image: url(https://s-static.ak.facebook.com/rsrc.php/v1/yX/r/k2R_CZuPy2I.png);
    background-position: left top;
    bottom: auto;
    padding: 4px 0 0;
    top: 100%
}

.uiTooltip:active .rightbottom, .uiTooltip:focus .rightbottom, .uiTooltip:hover .rightbottom {
    background-position: right top
}

.openToggler > .uiTooltip:active .uiTooltipWrap, .openToggler > .uiTooltip:focus .uiTooltipWrap, .openToggler > .uiTooltip:hover .uiTooltipWrap {
    display: none
}

#bootloader__a5V6 {
    height: 42px;
}