/*----- Fontage ------- */
.clear {
    clear: both;
}

h1 {
    padding: 10px 0;
    color: #555;
}

.red {

    /* IE10 */
    background-image: -ms-linear-gradient(bottom, #a01c1f 0%, #cf1d23 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #a01c1f 0%, #cf1d23 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, #a01c1f 0%, #cf1d23 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a01c1f), color-stop(1, #cf1d23));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #a01c1f 0%, #cf1d23 100%);

    /* Proposed W3C Markup */
    background-image: linear-gradient(bottom, #a01c1f 0%, #cf1d23 100%);

    background-color: #AC1010;

}

.orange {

    /* IE10 */
    background-image: -ms-linear-gradient(bottom, #FF9100 0%, #EFCF00 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #FF9100 0%, #EFCF00 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, #FF9100 0%, #EFCF00 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF9100), color-stop(1, #EFCF00));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #FF9100 0%, #EFCF00 100%);

    /* Proposed W3C Markup */
    background-image: linear-gradient(bottom, #FF9100 0%, #EFCF00 100%);

}

.orange:hover {
    background: #EFCF00;
}

.action_button {
    border: none;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 0 0 1px #888;
    font-weight: bold;
    color: #fff;

    -webki-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.buy_now {
    padding: 10px 20px;
    font-size: 25px;
}

#left_content_wrapper h2 {
    padding: 3px 0;
    font-size: 22px;
    font-weight: normal;
    color: #333;
}

#left_content_wrapper small {
    color: #555;
}

#left_content_wrapper h3 {
    text-align: left;
}

#left_content_wrapper p {
    color: #444;
    padding-top: 5px;
}

#left_content_wrapper {
    clear: both;
    border-top: 1px #eee solid;
    padding: 10px 0;
}

#left_content_left {
    text-align: center;
    float: left;
    padding: 0 10px;
    width: 190px;
    min-height: 600px;
}

#left_content_right {
    float: right;
    padding: 0 10px;
    border-left: 1px #eee solid;
    width: 448px;
}

/* ------  LIVE INFO BOX --------*/

#live_info {
    padding: 10px;
    margin-bottom: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#live_info.green {
    background: #aaff11;
    box-shadow: inset 0 0 30px #226600;
}

#live_info.grey {
    background: #fff;
    box-shadow: inset 0 0 20px #ccc;
}

#live_info table {
    width: 175px;
}

#live_info table tr td {
    padding: 5px 0;
    border-bottom: 1px #eee solid;
}

#live_info table tr:last-child td {
    border-bottom: none;
}

#live_info table tr td form {
    margin-top: 10px;
}

#live_info table tr td .offer_saving {
    font-weight:bold;
    font-size:14px;
}
#live_info table tr td .offer_saving span {
    color:green;
    font-size:18px;
}
#live_info table tr td.buy_now_box {
    position:relative;
    top:-16px;
}


#live_info #buy_now_button {

}

/* ------ Gallery ------*/
#gallery #zoom1 {
    position: relative;
    display: block;
}

#gallery .patch {
    position: absolute;
    z-index: 9998;
}

#gallery > img {
    width: 448px;
    max-width: 448px;
    max-height: 600px;
}

#gallery .cloud-zoom img {
    width: 448px;
    max-width: 448px;
    max-height: 400px;
}

#gallery ul.thumbs {
    list-style: none;
    overflow: hidden;
    clear: both;
}

#gallery ul.thumbs li {
    float: left;
    margin-right: 5px;
}

#gallery ul.thumbs li a img {
    max-width: 80px;
    max-height: 45px;
    padding: 3px;
    border: 1px #eee solid;
}

/* ----- Social Buttons ------ */
#left_content_right .social_btns ul {
    border-bottom: 1px #eee solid;
    display: block;
    margin-bottom: 5px;
    padding: 0px 0 5px 0;
    list-style: none;
    overflow: hidden;
}

#left_content_right .social_btns ul li {
    float: left;
    margin-right: 10px;
}

#left_content_right .social_btns ul li * {
    z-index: 9999;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget {
    top: -150px !important;
}

/* ----- bid Form -------*/
#new_bid {
    width: 155px;
    clear: both;
    margin: 0 auto;
}

#new_bid span {
    float: left;
}

#new_bid #bid_submit {
    padding: 5px 10px;
    height: 32px;
}

#new_bid input[type=text] {
    width: 120px;
    font-size: 18px;
    padding: 4px;
    color: #333;
    border: 1px #ccc solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* ----- FUSE MONITOR ------*/

#fuse_monitor {
    clear: both;
    height: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
}

#fuse_monitor > span {
    position: absolute;
    text-align: center;
    background: #eee;
    top: -20px;
    padding: 0 5px;
    z-index: 10000;
    font-size: 10px;
    display: none;
    border: 1px #ccc solid;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#fuse_monitor > span.fm_start_price {
    right: 0px;
}

#fuse_monitor > span.fm_highest_offer {
    left: 0;
}

#fuse_monitor img {
    top: -5px;
    width: 20px;
    display: none;
    position: absolute;
}

#fuse_monitor p {
    position: absolute;
    display: block;
    font-size: 12px;
    width: inherit;
}

#fuse_monitor p#base {
    overflow: visible;
    border: 0;
    background: #eee;
    box-shadow: inset 0 0 5px #555;
    height: 6px;
}

#fuse_monitor p#current {
    background: #ac0101;
    top: 0;
    height: 5px;
}

#fuse_monitor img#end_price_icon {
    left: -6px;
}

#fuse_monitor img#current_price_icon {
    right: -6px;
}

/* ------- MORE INFO TABS ------------*/

#product_tabs .store_details h2 {
    padding: 5px 0;

}

/* ------ MORE PRODUCT SIDEBAR -------*/
#more_products_sidebar ul {
    list-style: none;
}

#more_products_sidebar ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
    overflow: hidden;
    clear: both;
}

#more_products_sidebar ul li > h5 a {
    color: #555;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 0;
    display: block;
}

#more_products_sidebar ul li a.button {
    margin-left: 0;
    font-weight: bold;
    clear: both;
}

#more_products_sidebar ul li > a img {
    float: left;
    width: 80px;
}

#more_products_sidebar ul li div.info {
    font-size: 12px;
    float: left;
    width: 135px;
    line-height: 1.5em;
    margin-left: 10px;
}

#more_products_sidebar ul li div.info p {
    line-height: 18px;
    color: #555;
    font-size: 1.1em;
}

#more_products_sidebar ul li div.info p span {
    color: #ccc;
    text-decoration: line-through;
}

#more_products_sidebar ul li div.info p span.time {
    color: #050163;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

#more_products_sidebar ul li div.info p span.time span {
    color: #050163;
    text-decoration: none;
}

#more_products_sidebar ul li div.info p span.perc {
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 12px;
}

#more_products_sidebar ul li div.info p span.currentPrice {
    text-decoration: none;
    color: #ac0101;
    font-size: 14px;
    font-weight: bold;
}

#more_products_sidebar ul li div.info a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 0;
}









