@charset "UTF-8";
/* Jewel Lover CSS Document */

/* ======================================== GENERAL STARTS ======================================== */

* { padding:0; margin:0; }

body {
	line-height:20px; font-size:13px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
	background:#FFF url(../images/common/background.gif) top repeat-x;
}

img { border:none; }
a { outline:none; text-decoration:none; }
a:hover { text-decoration:underline; }

input { outline:none; background:none; }
input[type=submit]:hover, input[type=button]:hover { cursor:pointer; }


h1 { font-family:"Myriad Web Pro", Verdana, Geneva, sans-serif; }

#wrapper { display:block; width:950px; margin:0 auto; padding:0 0 20px 0; }


/* ======================================== GENERAL FINISH ======================================== */


/* ======================================== GLOBALS START ========================================= */

/* GCDS Customs */
hr {
    border: none;
    border-bottom: 1px #ddd solid;
    margin-bottom: 10px;
    display: block;
}

form input {
    padding: 3px;
    border: 1px #333 solid;
    color: #444;
}

form input[type=submit], form input[type=image], button {
    border: none;
    cursor:pointer;
}

form input[type=image] {
    padding: 0;
}
#errorExplanation {padding:10px; color:#900; background:#fee; margin-bottom:10px;}
#errorExplanation ul{list-style:inside square;}

.field_with_errors label{color:#c00}

/* Facebook stuff */
.fb-signup{float:right; border-left:1px #eee solid; padding-left:50px;}
.reg-signup{float:left;}
.fb-login{float:left; padding-left:30px; }
.reg-login{float:left; border-right:1px #eee solid; padding-right:30px;}

/*   Mostly Rails Related Stuff  */

#errorExplanation {
    color: #CF1D23;
    margin:30px 0;
    padding: 10px;
    border:1px #CF1D23 solid;
    background:#fec;
}

#errorExplanation ul {
    list-style: inside square;
}

.field_with_errors label {
    color: #CF1D23;
    font-weight: bold;
}

.field_with_errors input {
    border: 1px #CF1D23 solid;
    border-left: 3px solid #CF1D23;
}

.flash {
    padding: 10px;
    margin-bottom:10px;
    border-width: 1px;
    border-style: solid;
    border-left-width:3px;
}

.flash.notice {
    background: #cfa;
    border-color: #6d0
}

.flash.alert {
    background: #fe9;
    border-color: #fc0
}

.flash.error {
    background: #eaa;
    border-color: #AC0101;
    color:#AC0101;
}

.watchlist.add{background:url('../images/common/eye.png') 0px 2px no-repeat; padding-left:20px; }
.watchlist.remove{}





/* ======================================== GLOBALS END ========================================= */

/* ======================================== HEADER  STARTS ======================================== */

#login { display:block; font-size:11px; text-align:right; padding:10px; color:#5c5c5c; }
#login a { color:#5c5c5c; }

#header {
	display:block; height:150px; margin-bottom:10px;
	background:url(../images/common/header_background.png) no-repeat;
}

.mainHeader { display:block; height:80px; padding:15px 20px; }
.mainHeader img { display:block; float:left; }
.search {
	display:block; float:right; height:20px; width:520px; padding:30px 20px;
	background:url(../images/common/search_background.png) center no-repeat;
}
.search input[type=text] {
	border:none; width:480px; height:20px; background:none;	color:#C5C5C5; font-size:14px;
	float:left;
}
.search a { float:right; }

#navigation { display:block; height:40px; padding:0 10px; color:#FFF; position:relative; z-index:10; }
#navigation li {
	list-style:none; display:block; float:left; font-size:13px; position:relative;
	border-left:1px solid #650e04; border-right:1px solid #ea3237;
}
#navigation li.first { border-left:none; }
#navigation li.last { border-right:none; }

#navigation li a { color:#ffd3d3; padding:10px 12px; height:20px; display:block; }
#navigation li a:hover { text-decoration:none; color:#FFF; }

#navigation li a.dropdown {
	margin:0 10px 0 0; padding:10px 15px 10px 10px;
	background:url(../images/common/navigation_arrow.png) right center no-repeat;
}
#navigation li a.dropdown:hover {
	background:url(../images/common/navigation_hover.png) right center no-repeat;
}

#navigation li ul {
	position:absolute; left:-1px; top:40px; display:none; width:450px;
	border:1px solid #650e04; border-top:none; padding:5px 0 0 0;
	background:#be0004 url(../images/common/dropdown_background.gif) bottom repeat-x;
    z-index:9999;
}
#navigation li ul li {
	position:relative; float:left; list-style-type:none; display:block;
	padding:0; border:none; width:130px; padding:4px 10px; font-size:12px;
}
#navigation li ul li.full {
	display:block; width:96%; margin:5px 0 0 0; padding:5px 2%; border-top:1px solid #c9130f;
}
#navigation li ul li a { padding:0; margin:0; }
#navigation li ul li a:hover { color:#FFF; text-decoration:underline; background:none; }

#navigation li:hover ul, #navigation li.over ul { display: block; } /* The magic */



#dealSlider {
	display:block; margin:10px 0; overflow:hidden; position:relative; width:950px; height:220px;
}
.slides { display:block; overflow:hidden; position:relative; height:220px; }
.slides li { display:block; overflow:hidden; list-style:none; position:relative; width:950px; height:220px; }
.slides li div { display:block; overflow:hidden; position:absolute; top:150px; left:20px; }
.slides li div a { display:block; float:left; margin:0 10px 0 0; }


.slidesNavi { display:block; overflow:hidden; position:absolute; float:right; bottom:10px; right:20px; }
.slidesNavi a {
	display:block; width:21px; height:21px; float:left; margin:0 2px;
	background:url(../images/common/slides_normal.png) no-repeat;
}
.slidesNavi a.active { background:url(../images/common/slides_active.png) no-repeat; }




#breadcrumbContainer {
	display:block; margin:10px 0; height:35px; line-height:25px;
	background:url(../images/common/breadcrumb_background.png) no-repeat;
}
.breadcrumbInfo { display:block; float:left; width:690px; height:35px; padding:0 10px 0 0; }
.breadcrumbInfo p { display:block; padding:5px 0 5px 5px; margin:0 2px; float:left; font-size:12px; }
.breadcrumbInfo p.why {
	padding:5px 20px 5px 15px; width:165px; margin:0; color:#FFF; text-shadow:#000 0 1px 1px;
	background:url(../images/common/breadcrumb_first.png) left no-repeat; font-weight:bold;
}

.breadcrumbInfo ul { display:block; overflow:hidden; padding:5px 20px; }
.breadcrumbInfo ul li {
	display:block; float:left; font-size:11px; list-style:none; color:#898989; margin:0 5px 0 0;
	font-weight:bold;
}
.breadcrumbInfo ul li a { color:#363636; }


#breadcrumbContainer a.signup {
	display:block; float:right; height:25px; width:200px; padding:5px 35px 5px 5px;
	font-weight:bold; color:#000; text-shadow:#FFF 0 1px 1px; font-size:12px; overflow:hidden;
	background:url(../images/common/signup_normal.png) right no-repeat; text-align:center;
}
#breadcrumbContainer a.signup:hover {
	text-decoration:none; color:#FFF; text-shadow:#000 0 1px 1px;
	background:url(../images/common/signup_hover.png) right no-repeat;
}

/* ======================================== HEADER  FINISH ======================================== */

/* ======================================== CONTENT STARTS ======================================== */

#contentArea { display:block; overflow:hidden;}
#contentArea h1 {
	display:block; font-size:30px; line-height:35px; font-weight:normal;
	margin:0 0 10px 0;
}


.content {
	display:block; padding:0; margin:0; overflow:hidden;
	background:url(../images/common/content_background.gif) repeat-y;
}
.topShadow {
	display:block; overflow:hidden;
	background:url(../images/common/content_shadow_top.jpg) top right no-repeat;
}
.bottomShadow {
	display:block; overflow:hidden;
	background:url(../images/common/content_shadow_bottom.jpg) bottom right no-repeat;
}

.leftContent {
	display:block; overflow:hidden; width:680px; padding:0 30px 20px 0; float:left;
}
.leftContent p { display:block; margin:0 0 10px 0; }
.leftContent ul{list-style:disc inside;}

.smallItems { display:block; margin:20px 0; overflow:hidden; }
.smallItems li {
	display:block; float:left; overflow:hidden; list-style:none; width:210px; height:200px;
	margin:0 10px 20px 0;
}
.smallItems li img { padding:4px; border:1px solid #CCC; margin:0 0 2px 0; clear:both; width:200px; height:150px; }
.smallItems li a.button {
	display:block; text-align:center; height:20px; padding:5px; overflow:hidden; font-size:12px;
	color:#EEE;  text-decoration:none; font-weight:bold; text-shadow:#333 0 1px 1px;
	background:url(../images/common/small_item_btn.png) no-repeat; margin:0;
}
.smallItems li a.button:hover {
	background:url(../images/common/small_item_btn_hover.png) no-repeat; color:#FFF;
}







.bigItems { display:block; overflow:hidden; margin:20px 0; }
.bigItems li {
	display:block; overflow:hidden; list-style:none; padding:20px 0 60px 0; margin:0 0 10px 0;
	background:url(../images/common/big_product_shadow.jpg) bottom no-repeat;
}
.bigItems li img { display:block; padding:4px; border:1px solid #CCC; float:left; width:200px; height:150px; }
.bigItems li .bigItemsInfo { display:block; float:right; width:450px; color:#464646; }
.bigItems li .bigItemsInfo .topInfo {
	display:block; overflow:hidden; padding:0 0 5px 0; border-bottom:1px dashed #464646;
}
.bigItems li .bigItemsInfo .topInfo h2 { display:block; font-size:15px; margin:0 0 5px 0; }
.bigItems li .bigItemsInfo .topInfo h2 a { color:#464646; }
.bigItems li .bigItemsInfo .topInfo div { display:block; overflow:hidden; }
.bigItems li .bigItemsInfo .topInfo div p {
	display:block; float:left; width:260px; margin:0; padding:0 20px 0 0; line-height:16px;
	font-size:11px;
}
.bigItems li .bigItemsInfo .topInfo div img {
	border:none; float:right; margin:0; padding:0; width:auto; height:auto;
}

.bigItems li .bigItemsInfo .bottomInfo { display:block; overflow:hidden; font-size:11px; padding:10px 0 0 0; }
.bigItems li .bigItemsInfo .bottomInfo ul { display:block; overflow:hidden; float:left; width:210px; padding:0 15px 0 0; }
.bigItems li .bigItemsInfo .bottomInfo li { display:block; background:none; padding:0; margin:0; }
.bigItems li .bigItemsInfo .bottomInfo li.currentPrice { color:#003471; font-size:15px; font-weight:bold; }
.bigItems li .bigItemsInfo .bottomInfo li.currentDiscount { color:#ac0101; font-size:12px; font-weight:bold; }
.bigItems li .bigItemsInfo .bottomInfo li a { font-weight:bold; color:#464646; }




.pagination { display:block; overflow:hidden; margin:0 0 10px 0; color:#555; }
.pagination li {
	display:block; float:left; list-style:none; width:27px; height:25px; text-align:center; line-height:25px;
	background:url(../images/common/pages_btn.png) no-repeat; font-size:12px; margin:0 5px 0 0;
}
.pagination li a { color:#666; }
.pagination li a:hover { color:#333; }
.pagination li.page { background:url(../images/common/pagination_btn.png) no-repeat; width:60px; }



.detailsBox {
	display:block; overflow:hidden; padding:0 0 80px 0; margin:0 0 20px 0;
	background:url(../images/common/big_product_shadow.jpg) bottom no-repeat;
}
.leftDetails { display:block; float:left; width:255px; padding:0 10px 0 0; }
.leftDetails #product-images #main-image{z-index:1; position:relative;}
.leftDetails #product-images #main-image img{ display:block; padding:4px; border:1px solid #CCC; margin:0 0 5px 0; width:245px; }
.leftDetails #product-images #main-image a.enlarge {
	display:block; text-align:center; padding:10px; border:1px solid #CCC; color:#636363;
	position:relative; font-weight:bold; font-size:12px; margin:0 0 5px 0;
	background:#fafafa url(../images/common/enlarge_background.gif) top repeat-x;
}

.leftDetails #product-images #main-image a.enlarge:hover { color:#333; }
.leftDetails #product-images #main-image a.enlarge img { position:absolute; top:5px; left:50px; width:22px; height:23px; display:block; border:none; }

.leftDetails #product-thumbnails { display:block; overflow:hidden; margin:0 0 15px 0; list-style:none; }
.leftDetails #product-thumbnails li a img { width:81px; height:auto; border:none;  }
.leftDetails #product-thumbnails li a{float:left; padding:0; margin:2px;}


.discount { font-size:110%; color:#ac0101; font-weight:bold; }
.price { font-size:140%; color:#003471; font-weight:bold; }


.descriptionBox {
	display:block; overflow:hidden; padding:0 0 50px 0;
}
.descriptionBox h2 { display:block; margin:0 0 10px 0; color:#003471; line-height:25px; }



.rightContent {
	display:block; overflow:hidden; width:230px; padding:0 0 0 10px; float:right;
}
.rightContent img { display:block; margin:0 0 10px 0; }
.rightContent .infoHolder { display:block; overflow:hidden; margin:0 0 10px 0; }
.rightContent .infoHolder h4 {
	display:block; padding:5px 5px 5px 35px; height:20px; color:#FFF; font-size:14px;
	text-shadow:#000 0 1px 1px;
}
.rightContent .infoHolder h4.watchlist { background:url(../images/common/watchlist_background.jpg) no-repeat; }
.rightContent .infoHolder h4.general { background:url(../images/common/types_background.jpg) no-repeat; }


.rightContent .infoHolder div { padding:10px; border:1px solid #AAA; overflow:hidden; }
.rightContent .infoHolder div ol { padding:0 0 0 20px; display:block; margin:0 0 10px 0; }
.rightContent .infoHolder div ol li { font-size:11px; line-height:18px; margin:0 0 7px 0; }
.rightContent .infoHolder div ol li a { color:#b6100b; font-weight:bold; }

.rightContent .infoHolder div ul { display:block; margin:0 0 10px 0; }
.rightContent .infoHolder div ul li { font-size:11px; line-height:18px; margin:0 0 5px 0; list-style:none; }
.rightContent .infoHolder div ul li a { color:#b6100b; font-weight:bold; }

.rightContent .infoHolder div p { display:block; font-size:10px; }
.rightContent .infoHolder div p strong { color:#002f6e; }
.rightContent .infoHolder div p a { color:#003471; font-weight:bold; font-size:12px; }

.rightContent .infoHolder div img { margin:0; padding:0; }

.rightContent .infoHolder div img.seller {
	display:block; padding:0; margin:0; width:50px; height:auto; float:left;
	border:1px solid #CCC;
}
.rightContent .infoHolder div span { display:block; float:right; width:145px; line-height:18px; }
.rightContent .infoHolder div span h6 { display:block; font-size:12px; }
.rightContent .infoHolder div span h6 a { color:#363636; }
.rightContent .infoHolder div span p { display:block; margin:0 0 3px 0; }
.rightContent .infoHolder div span p a { color:#363636; font-size:11px; }


.rightContent iframe { margin:0 0 10px 0; }

/* ======================================== CONTENT FINISH ======================================== */

/* ======================================== FOOTER  STARTS ======================================== */
#sitemap {
	display:block; margin:10px 0; padding:20px; border:1px solid #e6e6e6; font-size:11px; overflow:hidden;
	background:#FFF url(../images/common/sitemap_background.gif) top repeat-x; color:#999;
}
.col { display:block; float:left; padding:0 40px 0 0; min-width:160px; overflow:hidden; }
.col p { display:block; font-weight:bold; }
.col a { color:#999; }
.col a:hover { color:#666; }
.col ul { display:block; overflow:hidden; }
.col ul li { display:block; list-style:none; }

.col ul.twoCol { width:250px; }
.col ul.twoCol li { width:115px; float:left; padding:0 10px 0 0; }


#footer { display:block; padding:5px 20px; text-align:center; font-size:11px; color:#999; }
#footer a { color:#666; }

/* ======================================== FOOTER  FINISH ======================================== */




/* NEW STUFFS ON 21ST MAR 2011 STARTS */

.hotDeals { display:block; overflow:hidden;  }
.hotDeals li {
	display:block; float:left; width:160px; height:335px; margin:5px 5px 15px 5px;
	list-style:none; overflow:hidden; text-align:center; padding:10px; font-size:11px;
	background:url(../images/common/hot_deals.jpg) no-repeat;
}
.hotDeals li p { display:block; overflow:hidden; text-align:center; }

.hotDeals li .top { display:block; height:170px; }
.hotDeals li .top h3 {
	display:block; color:#464646; font-weight:normal; height:20px; font-size:12px;
	overflow:hidden;
}
.hotDeals li .top p { color:#898989; line-height:18px; }
.hotDeals li .top a { display:block; margin:7px 0; }
.hotDeals li .top a img { padding:3px; border:1px solid #bfbfbf; width:114px; height:86px; }

.hotDeals li .top div { display:block; text-align:center; }
.hotDeals li .top div span {
	height:20px; position:relative; color:#000; font-size:14px;
}
.hotDeals li .top div span p {
	position:absolute; width:100px; top:-30px; left:-40px; font-size:9px; line-height:12px;
	padding:2px; border:1px solid #d2d2d2; background:#fffcd9; display:none; color:#666;
}
.hotDeals li .top div span img {
	width:15px; height:15px; margin:0 10px 0 0; padding:0; position:absolute; top:3px; left:0;
	display:block;
}
.hotDeals li .top div span:hover p { display:block; }

.hotDeals li .bottom { display:block; overflow:hidden; padding:20px 0 0 0; height:145px; }
.hotDeals li .bottom p.current { font-size:22px; font-weight:bold; color:#003471; line-height:25px; }
.hotDeals li .bottom p.location { font-size:13px; color:#555; margin:5px 0; }
.hotDeals li .bottom p.location span { font-size:16px; }
.hotDeals li .bottom a { display:block; margin:10px 0;}



.result { display:block; overflow:hidden; margin:0 0 10px 0; line-height:25px;  }
.result div { display:block; float:left; color:#252525; margin:0 20px 0 0; }
.result div label { margin:0 5px 0 0; }
.result p { display:block; float:right; margin:0; }
.result p span { color:#ac0101; font-weight:bold; }




.rightDetails { display:block; float:left; overflow:hidden; width:405px; padding:0 0 0 10px; color:#464646; }
.rightDetails h1 { font-size:20px !important; }
.infoRow { display:block; overflow:hidden; font-size:12px; padding:0 0 5px 0; }
.infoRow label { display:block; float:left; overflow:hidden; width:120px; padding:0 5px 0 0; }
.infoRow p { display:block; float:left; overflow:hidden; width:275px; padding:0 0 0 5px; margin:0; }

.infoRow table { padding:0; margin:10px 0; width:100%; }
.infoRow th { text-align:left; padding:2px 0; }
.infoRow td { padding:0; font-size:11px; }


.rightDetails h3 {
	color:#003471; display:block; overflow:hidden; padding:5px 0; margin:0 0 10px 0;
	border-bottom:1px dashed #464646;
}
.rightDetails p>a { color:#464646; }


.bidding {
	display:block; overflow:hidden; padding:10px; margin:5px 0; font-size:11px; height:95px;
	background:#fbfbfb url(../images/common/bidding_background.jpg) no-repeat;
}

.tooltip { background:#111; text-align:center; color:#fff; padding:15px; width:250px; height:80px; font-size:12px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.bidding .infoTip {cursor:pointer;}
.bidding > div { display:block; float:left; width:122px; }
.bidding > div p { padding:0; margin:0; line-height:15px; color:#FFF; }
.bidding > div p span { font-size:15px; line-height:18px; font-weight:bold; color:#FFF; }
.bidding > div .time{color:#fff; padding:5px; font-weight:bold; font-size:2em; display:inline-block; margin-top:2px; background:#770A0A;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}

.bigItems li .bigItemsInfo .bottomInfo p { display:block; margin:0; padding:0; }

.leftContent p span { color:#AC0101; }



/* NEW STUFFS ON 21ST MAR 2011 FINISH */


p.certified{background:url(../images/common/certificate.png) no-repeat; padding:5px 0 5px 35px; font-weight:bold; font-size:1em; }

.homeTitle { display:block; position:relative; overflow:hidden; margin:0 0 20px 0; }
.homeTitle a { display:block; position:absolute; width:215px; height:40px; right:0; top:0; }

