@charset "UTF-8";
/* Jewel Lover CSS Document */

/* ======================================== GENERAL STARTS ======================================== */

* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 20px;
    font-size: 13px;
    font-family: "Myriad Web Pro", Arial, Verdana, Geneva, sans-serif;
    background: #FFF url(../images/common/background.gif) top repeat-x;
}

img {
    border: none;
}

a {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    outline: none;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
    cursor: pointer;
}

h1 {
    font-family: "Myriad Web Pro", Verdana, Geneva, sans-serif;
}

#wrapper {
    display: block;
    width: 950px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

/* ======================================== GENERAL FINISH ======================================== */
/* ======================================== GLOBALS START ========================================= */

/* GCDS Customs */
hr {
    border: none;
    border-bottom: 1px #ddd solid;
    margin-bottom: 10px;
    display: block;
}

.clear {
    clear: both;
}

.bidding button {
    border: none;
}

/*   Mostly Rails Related Stuff  */

#errorExplanation {
    color: #CF1D23;
    margin: 30px 0;
    padding: 10px;
    border: 1px #CF1D23 solid;
    background: #FCE3E3;
    overflow: hidden;
    clear: both;
}

#errorExplanation ul {
    list-style: inside square;
}

label.invalid {
    color: #CF1D23;
}

span.field_with_errors {
    color:#CF1D23;
}

span.field_with_errors input{
    border: 1px #CF1D23 solid !important;
    background: #FCE3E3 !important;
}

input.invalid, textarea.field_with_errors {
    border: 1px #CF1D23 solid !important;
    background: #FCE3E3 !important;
}

input.valid_field {
    border: 1px #51ef50 solid !important;
}

span.invalid {
    color: #c9130f;
    padding-left: 5px;
}

.flash {
    padding: 10px;
    margin: 10px 0;

    border-width: 1px;
    border-style: solid;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.flash.notice {
    background: #cfa;
    border-color: #6d0
}

.flash.alert {
    background: #fe9;
    border-color: #fc0
}

.flash.error {
    background: #FCE3E3;
    border-color: #AC0101;
    color: #AC0101;
}

.watchlist.add {
    background: url('../images/common/eye.png') no-repeat;
    padding-left: 20px;
    border: none;
    color: #AC0101;
}

.watchlist.add:hover {
    text-decoration: underline;
}

#debug {
    position: absolute;
    margin: 10px;
    min-height: 100px;
    width: 290px;
    background: #fff;
    display: none;
    border: 1px red solid;
    padding: 10px;
    right: 0;
}

table.style1 {

}

/*====== CSS3 Niceties ======== */

.textbox_1 {
    padding: 20px;
    background: #fdffcd;
    text-align: center;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.text_shadow {
    text-shadow: 1px 1px 1px #888;
    filter: dropshadow(color = #888, offx = 1, offy = 1);
}

.grey_grad {
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%, #cecece 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cecece', GradientType = 0); /* IE6-9 */
}

.red_grad {
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(top, #ff0000 0%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff0000 0%, #cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff0000 0%, #cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff0000 0%, #cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff0000 0%, #cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0000', endColorstr = '#cc0000', GradientType = 0); /* IE6-9 */
}

.silver_metal_gradient {
    background: #d6d6d6; /* Old browsers */
    background: -moz-linear-gradient(top, #d6d6d6 0%, #ffffff 23%, #e0e0e0 52%, #ffffff 52%, #eaeaea 53%, #ffffff 81%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6d6d6), color-stop(23%, #ffffff), color-stop(52%, #e0e0e0), color-stop(52%, #ffffff), color-stop(53%, #eaeaea), color-stop(81%, #ffffff), color-stop(100%, #d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6d6d6 0%, #ffffff 23%, #e0e0e0 52%, #ffffff 52%, #eaeaea 53%, #ffffff 81%, #d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6d6d6 0%, #ffffff 23%, #e0e0e0 52%, #ffffff 52%, #eaeaea 53%, #ffffff 81%, #d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6d6d6 0%, #ffffff 23%, #e0e0e0 52%, #ffffff 52%, #eaeaea 53%, #ffffff 81%, #d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d6d6d6 0%, #ffffff 23%, #e0e0e0 52%, #ffffff 52%, #eaeaea 53%, #ffffff 81%, #d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d6d6d6', endColorstr = '#d6d6d6', GradientType = 0); /* IE6-9 */
}

.red_metal_gradient {
    background: #d81515; /* Old browsers */
    background: -moz-linear-gradient(top, #d81515 0%, #ff0000 48%, #ac1010 48%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d81515), color-stop(48%, #ff0000), color-stop(48%, #ac1010), color-stop(100%, #cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d81515 0%, #ff0000 48%, #ac1010 48%, #cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d81515 0%, #ff0000 48%, #ac1010 48%, #cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d81515 0%, #ff0000 48%, #ac1010 48%, #cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d81515 0%, #ff0000 48%, #ac1010 48%, #cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d81515', endColorstr = '#cc0000', GradientType = 0); /* IE6-9 */
}

/* ======================================== GLOBALS END ========================================= */

/* ===== SIDEWINDOW PANEL ===== */
#left_slider_panel {
    position: absolute;
    background: #fff;
    border: #ddd 2px solid;
    top: -100em;
    left: 10px;
    padding: 5px;
    width: 140px;
    text-align: center;
    line-height: 18px;
}

#left_slider_panel a {
    color: #333;
    text-decoration: none;
}

#left_slider_panel a strong span {
    color: #ac0101;
    font-size: 1.1em;
    text-decoration: none;
}

#left_slider_panel a.close {
    position: absolute;
    bottom: -20px;
    right: 0;

    display: block;
    font-size: 10px;
    color: #555;
}

#left_slider_panel a:hover {
    color: #ac0101;
    text-decoration: underline;
}

#left_slider_panel img {
    width: 100px;
}

#left_slider_panel a.signup_trigger {
    padding:20px 0 20px 50px;
    display: block;
    background:#fff url('/images/common/stock/new_girl_small.jpg') no-repeat;
}
#left_slider_panel a.signup_trigger strong {
    color:#ac0101;
}

/* ====== Other Overlay Styles ====== */

#both {
    clear:both;
    background:#fff url('../images/common/background.gif') repeat-x;
}

#both h2 {
    display:block;
    border-bottom:1px #ccc solid;
    padding:3px 0;
    color: #274e72;
    margin-bottom:10px;
}

#both p {
    clear:both;
    overflow:hidden;
    display:block;
}

#both > div {
    padding:10px;
    float:left;
}

#both .login {
    width:300px;
}

#both .login h2 {
    color:#ac0101;
}

#both .signup {
    background:#eee;
    width:235px;
    padding-left:20px;
    margin-left:20px;
    border-left:1px #ccc solid;
}
#both input {
    padding:3px 5px;
    border:1px #ccc solid;
    margin:0;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

#both input.button {
    padding:5px 10px;
    background:#111;
    color:#fff;
    border:none;
    font-size:1.1em;
    float:right;
}



#signup_overlay {
    background: #fff url('/images/common/overlay_bg.jpg') no-repeat;
    text-align: center;
}

#signup_overlay p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}

#signup_overlay h1 {
    font-size: 80px;
    line-height: 80px;
}

#signup_overlay h1.massive {
    color: #ac0101;
    line-height: 130px;
    font-size: 140px;
}

#signup_overlay h2 {
    font-size: 30px;
    line-height: 30px;
    color: #283351;
    margin-bottom: 20px;
    text-decoration: underline;
}

#signup_overlay h3 {
    font-size: 24px;
    line-height: 24px;
}

#signup_overlay h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

#signup_overlay div {
    width: 50%;
    margin-bottom: 20px;
    float: left;
}

#signup_overlay div div {
    padding: 40px;
    margin-left: 40px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#signup_overlay div div a {
    padding: 10px;
    color: #fff;
    font-weight: bold;
    display: block;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#signup_overlay div.register div a {
    background: #ac0101;
}

#signup_overlay div.with_facebook div a {
    background: #4B67A0 url('/images/common/facebook.png') 5px 5px no-repeat;
    padding-left: 40px;
}

/* ===== Levedge Ad ======= */
#leveredge_sidebar small {
    color: #555;
    font-size: 10px;
    line-height: 1.2em;
    display: block;
}

#leveredge_sidebar h5 {
    color: #333;
    font-size: .9em;
    background: #ddd;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

#leveredge_sidebar p a {
    color: #000;
}

#leveredge_sidebar .download_link {

    background: #333 url("../images/common/leveredge_logo.png") 5px no-repeat;
    padding: 20px;
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#leveredge_sidebar .download_link:hover {
    background-color: #777;
}

#leveredge_sidebar .download_link img {
    background: #fff;
    padding: 10px;
    display: block;
}

/* ======== SIDEBAR NOTICATIONS ================*/

#notification_sidebar {
    display: none;
    position: fixed;
    left: 10px;
    bottom: 30px;
    z-index: 10;
    background: #c1fd74;
    border: solid 1px #81b143;
    width: 150px;
    font-size: .8em;
    padding: 10px;
    text-align: center;
}

/* =============================================================================================== *?



/* =========================*/

#new_retailer, #new_user, .style_1 {

    margin-top: 20px;
    clear: both;

}

#new-customer img {
    float: left;
    margin-right: 20px;
}

#new-customer ul {
    float: left;
    width: 530px;
    list-style: square inside;
}

#new_retailer input[type=submit], #new_user input[type=submit], .login_form input[type=submit], .signup_form input[type=submit], #notifications input[type=submit],
.style_1 input[type=submit] {
    background: #222;
    color: #fff;
    font-size: 1.2em;
    border: none;
    padding: 5px 10px;
    display: block;
    float: right;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

#new_retailer label, #new_user label, .login_form label, #notifications label, .style_1 label, .signup_form label {
    float: left;
    padding-top: 5px;
    width: 120px;
    text-align: right;
    margin: 0 10px 0 20px;
}

#new_retailer select, #notifications select, .signup_form select .style_1 select {
    padding: 5px;
    width: 260px;
}

#new_retailer input[type=text], #new_retailer input[type=file], #new_retailer input[type=password], #new_retailer textarea,
#new_user input[type=text], #new_user input[type=password],
.login_form input[type=text], .login_form input[type=password],
.signup_form input[type=text], .signup_form input[type=password],
#notifications input[type=text],
.style_1 input[type=text], .style_1 input[type=password] {
    background: #fff;
    border: 1px #ccc solid;
    padding: 5px;
    width: 250px;
    color: #333;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

#new_retailer fieldset > div, #new_user fieldset > div, .signup_form fieldset > div, .login_form fieldset > div, .style_1 fieldset > div {
    background: url("../images/common/background.gif") repeat-x;
    padding: 20px 30px;
    margin-bottom: 20px;
    border: 1px #ccc solid;
    display: block;
    overflow: hidden;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

fieldset {
    border: none;
}

#login_form .form_actions {
    clear:both;
    overflow:hidden;
}
#login_form .form_actions a {
    font-weight:normal;
    padding:10px;
}

#login_form_secondary{

    display:block;
    text-align: center;
    padding:10px;
    /*background: #ee8700; */
    background: #0aa;

    font-weight:bold;
    color:#fff;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

#new_retailer fieldset p {
    display: block;
    overflow: hidden;
    clear: both;
}

#new_retailer fieldset legend, #new_user fieldset legend, .login_form fieldset legend, .signup_form legend, .style_1 fieldset legend {
    padding: 5px;
    background: #AC1010;
    color: #fff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

#new_retailer .leveredge_token {
}

#new_retailer .leveredge_token span {
    padding: 10px 20px;
    background: #fcd5d8;
    color: #ac0101;

}

#new_retailer .leveredge_token .copy {
    background: #111 url('../images/common/clipboard.png') 10px 50% no-repeat;
    padding: 10px 10px 10px 30px;
    color: #aaa;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#new_retailer .leveredge_token .copy:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

#new_user div.date_of_birth div {
    margin: 0 auto;
    width: 400px;
}

#new_user div.date_of_birth div select {
    padding: 5px;
}

form a {
    color: #333;
    font-weight: bold;
}

form p {
    margin-bottom: 5px;
}

#store_contact_form {
    overflow: hidden;
}

#store_info {
    background: #eee;
    padding: 10px;
}

#store_info {
    text-align: center;

}

.sidebar_form p {
    width: 97%;
    margin-bottom: 5px;
}

.sidebar_form label {

}

.sidebar_form input[type=text], .sidebar_form input[type=password], .sidebar_form textarea {
    width: 100%;
    border: 1px #ccc solid;
    padding: 3px;
    color: #333;
}

.sidebar_form input[type=submit] {
    float: right;
    background: #111;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 1em;
}

/* ================= DASHBoARD ================ */

.datetime > select {
    width: 80px !important;
}

.content_title {
    background: #AC0101;
    padding: 5px 10px;
    float: left;
    color: #fff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#preview_box .panes, #bids .panes, #watchlist .panes {
}

#preview_box .tabs, #orders .tabs, #bids .tabs, #watchlist .tabs {
    list-style: none;
    display: block;
    overflow: hidden;
}

#preview_box .tabs li, #orders .tabs li, #bids .tabs li, #watchlist .tabs li {
    float: left;
    margin-right: 3px;
}

#preview_box .tabs li a, #orders .tabs li a, #bids .tabs li a, #watchlist .tabs li a {
    display: block;
    padding: 5px 10px;
    background: #111;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    -webkit-border-bottom-radius: 0px;
    -moz-border-bottom-radius: 0px;

}

#preview_box .tabs li a.current, #orders .tabs li a.current, #bids .tabs li a.current {
    background: #AC0101;
}

#preview_box .pane, #bids .pane, #watchlist .pane {
    padding: 20px;
    border: 1px #ccc solid;
    background: url("../images/common/background.gif") repeat-x;
}

#preview_box table {

}

#preview_box table thead, #bids table thead, #watchlist table thead {
    text-align: left;
    background: #fff;
}

#preview_box table thead tr th, #bids table thead tr th, #watchlist table thead tr th {
    padding: 10px;
}

#preview_box table tbody tr {

}

#preview_box table tbody tr td, #bids table tbody tr td, #watchlist table tbody tr td {
    padding: 10px;

    border-bottom: 1px #aaa solid;
}

#preview_box .products {
    clear: both;
    overflow: hidden;
}

#preview_box .products .item {
    float: left;
    width: 100px;
    margin-left: 20px;
}

#dash_head {
    clear: both;
    overflow: hidden;
}

#dash_head h1 {
    float: left;
    padding: 5px 10px;

}

#first_login {
    border: 1px #ccc solid;
    background: url("../images/common/background.gif") repeat-x;
    position: relative;
    display: block;
    overflow: hidden;
    height: 452px;
    clear: both;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#first_login .itemHolder {
    position: relative;
    width: 540px;
    height: 300px;
    overflow: hidden;
    border: 1px #ccc solid;
    float: left;
    margin: 30px 0;
}

#first_login .items {
    position: absolute;
    width: 9999em;
    height: 300px;
}

#first_login .item {
    float: left;
    width: 540px;
    display: block;
    position: relative;
}

#first_login .naviHolder {
    background: #ebebeb;
    border-top: 1px #ccc solid;
    overflow: hidden;
    clear: both;
}

#first_login .naviHolder .navi {
    position: relative;
    list-style: none;
    display: block;
    overflow: hidden;
    width: 570px;
    margin: 0 auto;

}

#first_login .naviHolder .navi a {
    float: left;
    display: block;
    cursor: pointer;
    width: 189px;
    height: 90px;
    background: url("../images/common/navigation_sprite.jpg") no-repeat;
}

#first_login .naviHolder .navi a#item1 {
}

#first_login .naviHolder .navi a#item2 {
    border-left: 1px #ccc solid;
    background-position: -190px 0;
}

#first_login .naviHolder .navi a#item3 {
    border-left: 1px #ccc solid;
    background-position: -380px 0;
}

#first_login .naviHolder .navi a#item1:hover, #first_login .naviHolder .navi a#item1.active {
    background-position: 0 -90px;
}

#first_login .naviHolder .navi a#item2:hover, #first_login .naviHolder .navi a#item2.active {
    background-position: -190px -90px;
}

#first_login .naviHolder .navi a#item3:hover, #first_login .naviHolder .navi a#item3.active {
    background-position: -380px -90px;
}

#first_login .prev {
    background: url("../images/common/big_arrows.png") no-repeat;
    float: left;
    display: block;
    margin-top: 150px;
    margin-left: 20px;
    width: 45px;
    height: 52px;
}

#first_login .prev:hover {
    background-position: -45px 0;
}

#first_login .next {
    background: url("../images/common/big_arrows.png") 0 -52px no-repeat;
    float: left;
    display: block;
    margin-top: 150px;
    width: 45px;
    height: 52px;
}

#first_login .next:hover {
    background-position: -45px -52px;
}

#first_login .products {
    padding: 20px;
    background: url("../images/common/background.gif") repeat-x;
}

#first_login .products th {
    padding: 5px;
}

#first_login .products tr td {
    padding: 5px;
}

#first_login .products h2 {
    padding: 10px;
    color: #fff;
    background: #AC0101
}

#notifications {
    overflow: hidden;
    background: url("../images/common/background.gif") repeat-x;
    clear: both;
    padding: 20px;
    border: 1px #ccc solid;
    margin-bottom: 20px;
}

#notifications input[type=submit] {
    float: none;
}

/* ====================== SHOPPING CART ==================================*/

.leftContent h3 {
    background: #ddd;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.leftContent h3.icon {
    background: no-repeat 7px 7px #ddd;
    padding-left: 28px;
    color: #333;
    text-shadow: 1px 1px #fff;
}

.leftContent a {
    color: #555;
}

.leftContent a:visited {
    color: #777;
}

.leftContent a:hover {
    color: #333;
}

.leftContent .order {
    border-bottom: 1px #aaa solid;
    margin-bottom: 10px;
    padding-top: 10px;
}

.leftContent .order table {
    padding: 0;
}

.leftContent .order > h4 {
    background: #eaeaea;
    color: #222;
    padding: 10px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}

.leftContent .order table th {
    background: #222;
    color: #eee;
}

.leftContent .order .button {
    background: #ac0101;
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 16px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    display: block;
    float: right;
}

.leftContent .order .order_product_item h4 {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 1.1em;
}

.leftContent .order .order_product_item img {
    float: left;
    margin-right: 10px;
}

.leftContent .order .order_product_item p {
}

.leftContent .order .order_product_item {
    clear: both;
    overflow: hidden;
}

.leftContent .progress-steps {
    clear: both;
    overflow: hidden;
    list-style: none;
}

.leftContent .progress-steps li {
    float: left;
    background: #eee;
    padding: 10px 20px;
    color: #555;

}

.leftContent .progress-steps li span {
    display: block;
}

.leftContent .progress-steps li span a {
    color: #222;
    font-weight: bold;
    text-decoration: underline;
}

.leftContent .progress-steps li {
    margin-right: 10px;
}

.leftContent .progress-steps .current-first, .leftContent .progress-steps .current {
    color: #000;
    background: #fddfdf;
}

.leftContent .progress-steps .completed-first, .leftContent .progress-steps .completed {
    background: #c8febd;
}

.leftContent #order_summary th {
    background: #222;
    color: #eee;
    padding: 5px;
}

.leftContent #order_summary tbody#totals {
    padding: 10px;
    backgronud: #eee;

}

.leftContent #order_summary tbody#line-items {
    margin-bottom: 20px;
}

.leftContent #payment-methods {
    width: 200px;
    margin: 0 auto;
    list-style: none;
}

/* ======================================== HEADER  STARTS ======================================== */

#login {
    display: block;
    overflow: hidden;
    font-size: 11px;
    padding: 10px;
    color: #5c5c5c;
    clear: both;
}

#login a {
    color: #5c5c5c;
}

#login div.logged_out {
    float: right;
}

#login div.logged_in {
    float: right;
    padding-top: 4px;
}

.button {
    display: block;
    float: left;
    margin: 0 0 0 5px;
    border: 1px solid #d7d7d7;
    color: #666;
    background: url(../images/common/small_btn_background.gif) top repeat-x;
    padding: 2px 5px;
    font-size: 10px;
}



.button.blue {
    background: url(../images/common/small_btn_background_blue.gif) top repeat-x;
}

.button img {
    padding-top: 2px;
    margin-right: 5px;
    float: left;
    display: inline-block;
}

.button:hover {
    color: #444;
}

#header {
    display: block;
    background: url(../images/common/header_background.png) no-repeat;
}

.mainHeader {
    display: block;
    height: 80px;
    padding: 15px 20px;
    overflow: hidden;
    clear: both;
}

.mainHeader #logo {
    display: block;
    float: left;
}

.search {
    display: block;
    float: right;
    height: 20px;
    width: 520px;
    padding: 30px 20px;
    background: url(../images/common/search_background.png) center no-repeat;
}

.search input[type=text] {
    border: none;
    width: 480px;
    height: 20px;
    background: none;
    color: #999;
    font-size: 14px;
    float: left;
}

.search input[type=image] {
    float: right;
    display: block;
}

.emailCapture {
    display: block;
    float: right;
    overflow: hidden;
    color: #666;
    margin-top: 5px;
}

.emailCapture > img {
    float: left;
    margin: 17px 10px 0;

}

.emailCapture .af-form-wrapper {
    float: left;
}

.emailCapture .af-form-wrapper label {
    display: block;
    overflow: hidden;
    line-height: 20px;
    height: 20px;
}

.emailCapture .af-form-wrapper label span {
    color: #ac0101;
}

.emailCapture .af-form-wrapper label a {
    font-size: 6px;
}

.emailCapture .af-form-wrapper .af-textWrap {
    display: block;
    overflow: hidden;
    margin: 5px 0;
}

.emailCapture .af-form-wrapper .af-textWrap div {
    display: block;
    float: left;
    padding: 5px 20px;
    width: 290px;
    height: 20px;
    margin: 0 5px 0 0;
    background: url(../images/common/short_input_background.png) no-repeat;
}

.emailCapture .af-form-wrapper .af-textWrap div input {
    background: none;
    border: none;
    height: 20px;
    line-height: 20px;
    width: 290px;
    color: #999;
    font-size: 15px;
}

.emailCapture  .af-form-wrapper .af-textWrap input[type=image] {
    float: left;
    display: block;
}

.emailCapture .af-form-wrapper p {
    display: block;
    line-height: 18px;
}

.emailCapture .af-form-wrapper p span {
    color: #ac0101;
}

#navigation {
    display: block;
    height: 40px;
    padding: 0 10px;
    color: #FFF;
    position: relative;
}

#navigation li {
    list-style: none;
    display: block;
    float: left;
    font-size: 13px;
    position: relative;
    border-left: 1px solid #650e04;
    border-right: 1px solid #ea3237;
}

#navigation li.first {
    border-left: none;
}

#navigation li.last {
    border-right: none;
}

#navigation li a {
    color: #ffd3d3;
    padding: 10px 15px;
    height: 20px;
    display: block;

    text-shadow: 1px 1px 1px #000;
}

#navigation li a:hover {
    text-decoration: none;
    color: #FFF;
}

#navigation li a.dropdown {
    margin: 0 10px 0 0;
    padding: 10px 15px 10px 10px;
    background: url(../images/common/navigation_arrow.png) right center no-repeat;
}

#navigation li a.dropdown:hover {
    background: url(../images/common/navigation_hover.png) right center no-repeat;
}

#navigation li ul {
    position: absolute;
    left: -1px;
    top: 40px;
    display: none;
    width: 450px;
    border: 1px solid #650e04;
    border-top: none;
    padding: 5px 0 0 0;
    background: #be0004 url(../images/common/dropdown_background.gif) bottom repeat-x;
}

#navigation li ul li {
    position: relative;
    float: left;
    list-style-type: none;
    display: block;
    padding: 0;
    border: none;
    width: 130px;
    padding: 4px 10px;
    font-size: 12px;
}

#navigation li ul li.full {
    display: block;
    width: 96%;
    margin: 5px 0 0 0;
    padding: 5px 2%;
    border-top: 1px solid #c9130f;
}

#navigation li ul li a {
    padding: 0;
    margin: 0;
}

#navigation li ul li a:hover {
    color: #FFF;
    text-decoration: underline;
    background: none;
}

#navigation li:hover ul, #navigation li.over ul {
    display: block;
}

#cat_nav {
    padding: 10px;
    margin: 5px 0;
    clear: both;
    display: block;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
}

#cat_nav li {
    float: left;
    margin-right: 10px;

}

#cat_nav li a {
    padding: 6px 10px;
    font-weight: normal;
    color: #fff;
    background: #555;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-text-shadow:0 0 3px #000;
    -moz-text-shadow:0 0 1px #000;
    text-shadow:0 0  1px #000;
}

#cat_nav li a:hover {
    background: #aaa;
    color: #fff;
    text-decoration: none;
}

#cat_nav li a span {
    display:none;
    color:#aaa;
}

/* The magic */

/* ----- ========== Stats ======== ------- */
#stats {
    padding: 10px 0 10px 10px;
    overflow: hidden;
    clear: both;
}

#stats > * {
    float: left;
}

#stats h1 {
    color: #555;
    font-size: 16px;
}

#stats h4 {
    color: #777;
    margin:0 10px 0 20px;
}

#stats #count_wrapper {
    background: #ac0101;
    padding: 3px;
    color: #fff;
    overflow: hidden;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#stats #count_wrapper #count {
    color: #fff;
    position: relative;
}

#stats #count_wrapper #count .new {
    opacity: 0;
    position: relative;
    top: 10px;
    left: -8;
}

#stats #count_wrapper #count .old {
    position: absolute;
}

/* ----- ==========  Deal Slider ======== ----- */
#dealSlider {
    display: block;
    margin: 0 0 10px 0;
    overflow: hidden;
    position: relative;
    width: 950px;
    height: 260px;
}

/*
    root element for scrollable items. Must be absolutely positioned
    and it should have a extremely large width to accommodate scrollable items.
    it's enough that you set width and height for the root element and
    not for this element.
*/
#dealSlider .items {
    /* this cannot be too large */
    width: 20000em;
    position: absolute;
}

#dealSlider .items li {
    float: left;
}

#dealSlider .items {
    grey_grad display: block;
    overflow: hidden;
    position: relative;
    height: 260px;
}

#dealSlider .items li {
    display: block;
    overflow: hidden;
    list-style: none;
    position: relative;
    width: 950px;
    height: 260px;
}

#dealSlider .items li div {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 185px;
    left: 20px;
}

#dealSlider .items li div a {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

#dealSlider .navi {
    display: block;
    overflow: hidden;
    position: absolute;
    float: right;
    bottom: 20px;
    right: 20px;
}

#dealSlider .navi a {
    display: block;
    width: 21px;
    height: 21px;
    float: left;
    margin: 0 2px;
    background: url(../images/common/slides_normal.png) no-repeat;
}

#dealSlider .navi a.active {
    background: url(../images/common/slides_active.png) no-repeat;
}

/* ----- ==========  END ======== ----- */

/* the overlayed element */
.overlay {

    /* must be initially hidden */
    display: none; /* place overlay on top of other elements */
    z-index: 9999; /* styling */
    padding: 10px;

    width: 615px;
    border: 5px solid #fff; /* CSS3 styling for latest browsers */
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    background: #fff;

}

/* close button positioned on upper right corner */
.overlay .close {
    background-image: url(../images/common/close.png);
    position: absolute;
    right: -16px;
    top: -16px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    z-index: 9999;
}

/* ----- ==========  END ======== ----- */

#breadcrumbContainer {
    display: block;
    margin: 10px 0;
    height: 35px;
    line-height: 25px;
    background: url(../images/common/breadcrumb_background.png) no-repeat;
}

.breadcrumbInfo {
    display: block;
    float: left;
    width: 690px;
    height: 35px;
    padding: 0 10px 0 0;
}

.breadcrumbInfo p {
    display: block;
    padding: 5px 0 5px 5px;
    margin: 0 2px;
    float: left;
    font-size: 12px;
}

.breadcrumbInfo p.why {
    padding: 5px 20px 5px 15px;
    width: 165px;
    margin: 0;
    color: #FFF;
    text-shadow: #000 0 1px 1px;
    background: url(../images/common/breadcrumb_first.png) left no-repeat;
    font-weight: bold;
}

.breadcrumbInfo ul {
    display: block;
    overflow: hidden;
    padding: 5px 20px;
}

.breadcrumbInfo ul li {
    display: block;
    float: left;
    font-size: 11px;
    list-style: none;
    color: #898989;
    margin: 0 5px 0 0;
    font-weight: bold;
}

.breadcrumbInfo ul li a {
    color: #363636;
}

#breadcrumbContainer a.signup {
    display: block;
    float: right;
    height: 25px;
    width: 200px;
    padding: 5px 35px 5px 5px;
    font-weight: bold;
    color: #000;
    text-shadow: #FFF 0 1px 1px;
    font-size: 12px;
    overflow: hidden;
    background: url(../images/common/signup_normal.png) right no-repeat;
    text-align: center;
}

#breadcrumbContainer a.signup:hover {
    text-decoration: none;
    color: #FFF;
    text-shadow: #000 0 1px 1px;
    background: url(../images/common/signup_hover.png) right no-repeat;
}


#search_container {
    background:#ddd;
    padding:10px;
    overflow:hidden;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}


#product_search {
    position:relative;
    overflow:hidden;
}

#product_search input {
    border:none;
    padding:7px;
    float:left;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#product_search input[type=text]{
    width:765px;
    color:#555;
}

#product_search input[type=submit] {
    background:#ac1010;
    color:#fff;
    width:150px;
    font-weight:bold;

    -webkit-text-shadow:1px 1px 1px #000;
    -moz-text-shadow:1px 1px 1px #000;
    text-shadow:1px 1px 1px #000;
}

#product_search #org {
    display:none;
}

#product_search #search_context {
    display:block;
    position:absolute;
    float:left;
    top:0;
    left:40px;
    margin-left:10px;
    color:#888;
    padding:5px;
}

#product_search .delete {
    display:block;
    width:16px;
    float:right;
    margin-left:5px;
    height:16px;
    background:url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/round_delete.png') no-repeat;
    opacity:.2;
}
#product_search .delete:hover {
    opacity:1;
}




#filter_form {
    padding:10px 0;
    overflow:hidden;
    clear:both;
}

#filter_form label {
    color:#555;
}
#filter_form label select {
    background:#fff;
}

#filter_form .left {
    float:left;
}

#filter_form .right {
    float:right;
}

#filter_form .right a.list_view {
    background: url('/images/common/list_view.png') no-repeat 0 0;
}

#filter_form .right a.grid_view {
    background: url('/images/common/grid_view.png') no-repeat 0 0;
}

#filter_form .right a.grid_view:hover {
    background-position: 0 -16px;
}

#filter_form .right a.list_view:hover {
    background-position: 0 -16px;
}
/* ======================================== HEADER  FINISH ======================================== */

/* ======================================== CONTENT STARTS ======================================== */

#contentArea {
    display: block;
}

#contentArea h1 {
    display: block;
    font-size: 28px;
    line-height: 30px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.content {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: url(../images/common/content_background.gif) repeat-y;
}

.content_wo_bg {
    display: block;
    padding: 0;
    margin: 0;
}

.content.list_view {
    background: url(../images/common/content_background.gif) repeat-y;
}

.content.grid_view {
    background: none;
}

.topShadow {
    display: block;
    overflow: hidden;
    background: url(../images/common/content_shadow_top.jpg) top right no-repeat;
}

.bottomShadow {
    display: block;
    overflow: hidden;
    background: url(../images/common/content_shadow_bottom.jpg) bottom right no-repeat;
}

.leftContent {
    display: block;
    overflow: hidden;
    width: 680px;
    padding: 0 30px 20px 0;
    float: left;
}

.leftContent p {
    font-size: 1.1em;
    color: #333;
    font-weight: normal;
    display: block;
    margin: 0 0 10px 0;
}

.smallItems {
    display: block;
    margin: 20px 0;
    overflow: hidden;
}

.smallItems li {
    display: block;
    float: left;
    overflow: hidden;
    list-style: none;
    width: 210px;
    height: 200px;
    margin: 0 10px 20px 0;
}

.smallItems li img {
    padding: 4px;
    border: 1px solid #CCC;
    margin: 0 0 2px 0;
    clear: both;
    width: 200px;
    height: 150px;
}

.smallItems li a.button {
    display: block;
    text-align: center;
    float: none;
    border: none;
    height: 20px;
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #EEE;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #333 0 1px 1px;
    background: url(../images/common/small_item_btn.png) no-repeat;
    margin: 0;
}

.smallItems li a.button:hover {
    background: url(../images/common/small_item_btn_hover.png) no-repeat;
    color: #FFF;
}


.gridItems {
    list-style: none;
    clear: both;
}

.gridItems li.item {
    float: left;
    width: 170px;
    height: 345px;
    text-align: center;
    position: relative;
    padding: 5px;
    margin: 20px 10px 10px 0;
    background: url(../images/common/hot_deals.jpg) no-repeat;
}

.gridItems li.item .main_image {
    display: block;
    margin: 4px;
    width: 160px;
    height: 120px;
    background: #fff no-repeat;
    background-position: center;
}

.gridItems li.item .patch {
    position: absolute;
    top: 0;
    left: 0;
}

.gridItems li.item .discount_badge {
    color: #fff;
    padding-top: 4px;
    line-height: 16px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    background: url("/images/common/badge.png") no-repeat;
    width: 50px;
    height: 50px;
}

.gridItems li.item .discount_badge span {
    font-size: 18px;
}

.gridItems li.item ul.itemInfo {
    list-style: none;
}

.gridItems li.item ul.itemInfo li {
    margin-bottom: 5px;
    color: #888;
}

.gridItems li.item .buy_now {
}

.gridItems li.item .buy_now span {
    color: #555;
    font-weight: bold;

}

.gridItems li.item .store_name a {
    color: #888;
}

.gridItems li.item .timer {
    clear: both;
    overflow: hidden;
    padding: 5px;
    display: block;
}

.gridItems li.item .timer img {
    display: inline-block;
    margin-right: 5px;
}

.gridItems li.item .timer .currentPrice {
    font-weight: bold;
    color: #555;
}

.gridItems li.item .timer .time {
    color: #194786;
    padding: 3px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.gridItems .offer_price {
    padding: 3px;
}

.gridItems .offer_price span {
    color: #ac0101;
    font-size: 24px;
    font-weight: bold;
}

.gridItems .retail_price span {
    font-weight: bold;
    color:#000;
}

.gridItems .store_name {
    color: #888;
}

.itemInfo h4 a:visited, .itemInfo h4 a:link {
    color: #333;
}

/* === OLD SKOOL === */

.bigItems {
    display: block;
    overflow: hidden;
    margin: 20px 0;
}

.bigItems li {
    display: block;
    overflow: hidden;
    list-style: none;
    padding: 20px 0 60px 0;
    margin: 0 0 10px 0;
    background: url(../images/common/big_product_shadow.jpg) bottom no-repeat;
}

.bigItems li .patch {
    position: absolute;
}

.bigItems li .main_image {
    display: block;
    padding: 4px;
    float: left;
    width: 200px;
    height: 150px;
    background: #fff no-repeat;
    background-position: center;
}

.bigItems li .bigItemsInfo {
    display: block;
    float: right;
    width: 450px;
    color: #464646;
}

.bigItems li .bigItemsInfo .topInfo {
    display: block;
    overflow: hidden;
    padding: 0 0 5px 0;
    border-bottom: 1px dashed #464646;
}

.bigItems li .bigItemsInfo .topInfo h2 {
    display: block;
    font-size: 15px;
    margin: 0 0 5px 0;
}

.bigItems li .bigItemsInfo .topInfo h2 a {
    color: #464646;
}

.bigItems li .bigItemsInfo .topInfo div {
    display: block;
    overflow: hidden;
}

.bigItems li .bigItemsInfo .topInfo div p {
    display: block;
    float: left;
    width: 260px;
    height: 50px;
    margin: 0;
    padding: 0 20px 0 0;
    line-height: 16px;
    font-size: 11px;
}

.bigItems li .bigItemsInfo .topInfo div img {
    border: none;
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.bigItems li .bigItemsInfo .bottomInfo {
    display: block;
    overflow: hidden;
    font-size: 11px;
    padding: 10px 0 0 0;
}

.bigItems li .bigItemsInfo .bottomInfo ul {
    display: block;
    overflow: hidden;
    float: left;
    width: 210px;
    padding: 0 15px 0 0;
}

.bigItems li .bigItemsInfo .bottomInfo li {
    display: block;
    background: none;
    padding: 0;
    margin: 0;
}

.bigItems li .bigItemsInfo .bottomInfo li.currentPrice {
    color: #003471;
    font-size: 15px;
    font-weight: bold;
}

.bigItems li .bigItemsInfo .bottomInfo li.currentDiscount {
    color: #ac0101;
    font-size: 16px;
    font-weight: bold;
}

.bigItems li .bigItemsInfo .bottomInfo li a {
    font-weight: bold;
    color: #464646;
}

.pagination {
    clear: both;
}

.pagination * {
    display: block;
    overflow: hidden;
    margin: 0 10px 0 0;
    color: #555;
    padding: 10px;
    float: left;
}

.pagination a {
    background: #eee;
    color: #ac0101;
}

.pagination a:hover {
    background: #eaeaea;
}

.detailsBox {
    display: block;
    overflow: hidden;
    padding: 0 0 80px 0;
    margin: 0 0 20px 0;
    background: url(../images/common/big_product_shadow.jpg) bottom no-repeat;
}

.leftDetails {
    display: block;
    float: left;
    width: 255px;
    padding: 0 10px 0 0;
}

#retailer_terms ol {
    padding: 20px 30px;
}

#retailer_terms ol > li {
    margin-bottom: 10px;
}

#terms_and_conditions ul {
}

#terms_and_conditions ul li {
    background: #eee;
    margin-bottom: 5px;
    padding: 5px;
}

#terms_and_conditions ul li a {
    color: #222;
    font-weight: bold;
}

.leftDetails .infoBox {
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
}

.leftDetails #delivery {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.leftDetails #main_image {
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.leftDetails #main_image .enlarge {
    display: none;
    position: absolute;
    left: 95px;
    top: 35%;
    width: 20px;
    opacity: .8;
    height: 20px;
    background: #fff url('/images/common/icons/zoom_in.png') 15px 15px no-repeat;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.leftDetails #main_image .patch img {
    padding: 0;
    border: none;
    margin: 0;
}

.leftDetails #main_image > img {
    width: 245px;
    z-index: 1;
}

.leftDetails a.enlargebtn {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid #CCC;
    color: #636363;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    margin: 0 0 5px 0;
    background: #fafafa url(../images/common/enlarge_background.gif) top repeat-x;
}

.leftDetails a.enlargebtn:hover {
    color: #333;
}

.discount {
    font-size: 110%;
    color: #ac0101;
    font-weight: bold;
}

.price {
    font-size: 140%;
    color: #003471;
    font-weight: bold;
}

.descriptionBox {
    display: block;
    overflow: hidden;
    padding: 0 0 50px 0;
}

.descriptionBox h2 {
    display: block;
    margin: 0 0 10px 0;
    color: #003471;
    line-height: 25px;
}

.rightContent {
    display: block;
    width: 230px;
    padding: 0 0 0 10px;
    float: right;
}

.rightContent > img {
    display: block;
    margin: 0 0 10px 0;
}

.rightContent .infoHolder {
    display: block;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.rightContent .infoHolder h4 {
    display: block;
    padding: 5px 5px 5px 35px;
    height: 20px;
    color: #FFF;
    font-size: 14px;
    text-shadow: #000 0 1px 1px;
}

.rightContent .infoHolder h4.watchlist {
    background: url(../images/common/watchlist_background.jpg) no-repeat;
}

.rightContent .infoHolder h4.general {
    background: url(../images/common/types_background.jpg) no-repeat;
}

.rightContent .infoHolder > div {
    padding: 10px;
    border: 1px solid #AAA;
}

.rightContent .infoHolder div ol {
    padding: 0 0 0 20px;
    display: block;
    margin: 0 0 10px 0;
}

.rightContent .infoHolder div ol li {
    font-size: 11px;
    line-height: 18px;
    margin: 0 0 7px 0;
}

.rightContent .infoHolder div ol li a {
    color: #b6100b;
    font-weight: bold;
}

.rightContent .infoHolder div ul {
    display: block;
    margin: 0 0 10px 0;
}

.rightContent .infoHolder div ul li {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 5px 0;
    list-style: none;
}

.rightContent .infoHolder div ul li a {
    background: url("../images/common/arrow.png") no-repeat 0;
    padding: 3px 0 3px 20px;
    color: #b6100b;
    font-weight: bold;
}

.rightContent .infoHolder div ul li p a {
    color: #002f6e;

}

.rightContent .infoHolder div p {
    display: block;
    font-size: 10px;
}

.rightContent .infoHolder div p strong {
    color: #002f6e;
}

.rightContent .infoHolder div p a {
    color: #003471;
    font-weight: bold;
    font-size: 12px;
}

.rightContent .infoHolder div img {
    margin: 0;
    padding: 0;
}

.rightContent .infoHolder div img.seller {
    display: block;
    padding: 0;
    margin: 0;
    width: 50px;
    height: auto;
    float: left;
    border: 1px solid #CCC;
}

.rightContent .infoHolder div span {
    display: block;
    float: right;
    width: 145px;
    line-height: 18px;
}

.rightContent .infoHolder div span h6 {
    display: block;
    font-size: 12px;
}

.rightContent .infoHolder div span h6 a {
    color: #363636;
}

.rightContent .infoHolder div span p {
    display: block;
    margin: 0 0 3px 0;
}

.rightContent .infoHolder div span p a {
    color: #363636;
}

.rightContent .infoHolder .nextProduct {
    position: relative;
}

.rightContent .infoHolder .nextProduct a {
    display: block;
    color: #333;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
}

.rightContent .infoHolder .nextProduct .arrow {
    position: absolute;
    right: -25px;
}

.rightContent .infoHolder .nextProduct td.next_image img {
    width: 100px;
    padding-right: 5px;
}

.rightContent .infoHolder .nextProduct td.next_text a {
    width: 100px;
    word-wrap: break-word;
}

.rightContent iframe {
    margin: 0 0 10px 0;
}

/* ====== Testimonials ====== */

#testimonials {

}

#testimonials .testimonial {
    padding: 20px;
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
    line-height: 25px;
    clear: both;
    overflow: hidden;
}

#testimonials .testimonial span {
    font-style: italic;
    font-size: .8em;
}

#testimonials .testimonial.even {
    border-left: 3px #aaa solid;
}

#testimonials .testimonial.odd {
    text-align: right;
    border-right: 3px #aaa solid;
    background: #eee;
}

#testimonials .testimonial:hover {
    border-color: #a01c1f;
    color: #555;
    background: none;
}

/* ======================================== CONTENT FINISH ======================================== */

/* ======================================== FOOTER  STARTS ======================================== */
#sitemap {
    display: block;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #e6e6e6;
    font-size: 11px;
    overflow: hidden;
    background: #FFF url(../images/common/sitemap_background.gif) top repeat-x;
    color: #999;
}

.col {
    display: block;
    float: left;
    padding: 0 40px 0 0;
    min-width: 160px;
    overflow: hidden;
}

.col p {
    display: block;
    font-weight: bold;
}

.col a {
    color: #999;
}

.col a:hover {
    color: #666;
}

.col ul {
    display: block;
    overflow: hidden;
}

.col ul li {
    display: block;
    list-style: none;
}

.col ul.twoCol {
    width: 250px;
}

.col ul.twoCol li {
    width: 115px;
    float: left;
    padding: 0 10px 0 0;
}

#footer {
    display: block;
    padding: 5px 20px;
    text-align: center;
    font-size: 11px;
    color: #999;
}

#footer a {
    color: #666;
}

/* ======================================== FOOTER  FINISH ======================================== */

/* NEW STUFFS ON 21ST MAR 2011 STARTS */

.hotDeals {
    display: block;
    clear: both;
}

.hotDeals li {
    display: block;
    float: left;
    width: 160px;
    height: 335px;
    margin: 5px 5px 15px 5px;
    list-style: none;
    text-align: center;
    padding: 10px;
    font-size: 11px;
    background: url(../images/common/hot_deals.jpg) no-repeat;
}

.hotDeals li p {
    display: block;
    overflow: hidden;
    text-align: center;
}

.hotDeals li .top {
    display: block;
    height: 195px;
    position:relative;
}

.hotDeals li .top h3 {
    display: block;
    color: #464646;
    font-weight: normal;
    height: 20px;
    font-size: 12px;
    overflow: hidden;
}

.hotDeals li .top p {
    line-height: 18px;
}

.hotDeals li .top .patch {
    position: absolute;
    top: -5px;
    left: -5px;
}

.hotDeals li .top p span {
    font-weight: bold;
}

.hotDeals li .top a {
    display: block;
    margin: 7px 0 0;
}

.hotDeals li .top a.main_image {
    margin: 10px auto;
    padding: 3px;
    border: 1px solid #bfbfbf;
    width: 145px;
    height: 100px;
    background: no-repeat;
    background-position: center;
    position:relative;
}

.hotDeals li .top div {
    text-align: center;
}

.hotDeals li .top div span {
    padding: 0 0 3px;
    position: relative;
    color: #333;
    font-size: 16px;
}

.hotDeals li .top div span p {
    position: absolute;
    width: 100px;
    top: -30px;
    left: -40px;
    font-size: 9px;
    line-height: 12px;
    padding: 2px;
    border: 1px solid #d2d2d2;
    background: #fffcd9;
    display: none;
    color: #666;
}

.hotDeals li .top .timer img {
    cursor: help;
}

.hotDeals li .top .timer .time {
    font-weight: bold;
    color: #111177;
    position: relative;
}

/* for expand effect on < 10 */
.hotDeals li .top .timer {
    overflow: hidden;
    padding: 3px 0 0 30px;
    background: #fff;
}

.hotDeals li .top .timer img {
    cursor: help;
    float: left;
    margin-top: 2px;
}

.hotDeals li .top .timer .time {
    font-weight: bold;
    color: #111177;
    position: relative;
    margin-left: 7px;
    display: block;
    float: left;
    margin-bottom: 5px;
}

.hotDeals li .top .timer .countdown {
    color: #111177;
    position: absolute;
}

.hotDeals li .top div span img {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    padding: 0;
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
}

.hotDeals li .top div span:hover p {
    display: block;
}

.hotDeals li .bottom {
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
    height: 145px;
}

.hotDeals li .bottom a{
    color:#222;
    font-weight:bold;
    font-size:1.2em;
}

.hotDeals li .bottom p.currentPrice {
    font-size: 22px;
    font-weight: bold;
    color: #a21c1f;
    line-height: 25px;
}

.hotDeals li .bottom p.location {
    font-size: 13px;
    color: #222;
    margin: 5px 0;
}

.hotDeals li .bottom p.location span {
    font-size: 16px;
}

.hotDeals li .bottom a {
    display: block;
    margin: 10px 0;
}

.result {
    display: block;
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 10px;
    background: #e7f3fa;
    clear: both;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.result label {
    font-weight: bold;
    float: left;
    color: #252525;
    margin-right: 5px;
}

.result select, .result input {
    float: left;
    margin-right: 5px;
}

.result form {
    float: left;
}

.result form input {
    padding: 0 5px;
}

.result p {
    display: block;
    float: right;
    margin: 0;
}

.result p span {
    color: #ac0101;
    font-weight: bold;
}

.leftDetails .thumbnails {
    display: block;
    overflow: hidden;
    margin: 0 0 15px 0;
    list-style: none;
}

.leftDetails .logo {
    width: 247px;
}

.leftDetails .thumbnails img {
    width: 79px;
    height: 61px;
    border: 1px #ccc solid;
    float: left;
    padding: 0;
    margin: 2px;
}

.rightDetails {
    display: block;
    float: left;
    overflow: hidden;
    width: 405px;
    padding: 0 0 0 10px;
    color: #464646;
}

.rightDetails h1 {
    font-size: 20px !important;
}

.rightDetails .introDesc {
    position: relative;
    margin-bottom: 40px;
}

.rightDetails .introDesc div {
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#product_tabs {
    position: relative;
}

#product_tabs .tabs {
    clear: both;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px #eee solid;
}

#product_tabs .tabs li {
    float: left;
    margin-right: 5px;

}

#product_tabs .tabs li a {
    background: #eee;
    padding: 10px;
}

.product_title span {
    color:#ac0101;
    font-weight:bold;
}

#expander_trigger {
    position: absolute;
    display: block;
    height: 20px;
    width: 405px;
    text-align: center;
    background: #eee;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.infoRow {
    display: block;
    overflow: hidden;
    font-size: 12px;
    padding: 0 0 5px 0;
}

.infoRow label {
    display: block;
    float: left;
    overflow: hidden;
    width: 120px;
    padding: 0 5px 0 0;
}

.specs .infoRow p {
    display: block;
    float: left;
    overflow: hidden;
    padding: 0 0 0 5px;
    margin: 0;
}

.infoRow table {
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

#product_images {
    margin-bottom: 10px;
}

#product_images img {
    display: block;
    padding: 4px;
    border: 1px solid #CCC;
    margin: 0 0 5px 0;
}

#product_tabs {
    clear: both;
}

#product_tabs .tabs {
    list-style: none;
    height: 30px;

}

#product_tabs .tabs li {
    float: left;
    margin-right: 10px;
    padding: 5px 10px;
    background: #eee;
    cursor: pointer;
}

#product_tabs .tabs li.current {
    background: white;
    border: 1px #ccc solid;
    border-bottom: none;
}

#product_tabs .panes div {
    padding: 5px;
}

#product_info #discount h4 {
    color: #888;
}

#product_info #discount h4 strong {
    color: #ac0101;
    margin-left: 10px;
}

#purchase_message {
    display: none;
    color: #ac0101;
    padding: 20px;
    live-height: 1.5em;
    clear: both;
    font-size: 17px;
    font-weight: bold;
    width: 450px;
}

#purchase_message img {
    float: left;
    margin: 10px;
}

#purchase_message p {
    float: left;
    width: 380px;
}

#purchase_message button {
    border: none;
    float: right;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}

button#purchase_confirm {
    background: #59A151;
}

button#purchase_deny {
    background: #ac0101;
}

.infoRow th {
    text-align: left;
    padding: 2px 0;
}

.infoRow td {
    font-size: 11px;
}

.infoRow label {
    background: #eee;
    padding: 5px;
}

.infoRow p.drops_every, .infoRow p.current_discount, .infoRow p.starts_in, .infoRow p.ends_in, .infoRow p.start_price, .infoRow p.reserve_price {
    font-size: 14px;
}

.rightDetails h3 {
    color: #003471;
    display: block;
    overflow: hidden;
    padding: 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px dashed #464646;
}

.rightDetails p>a {
    color: #464646;
}

.rightDetails .social_btns {
    clear: both;
    overflow: visible;
    min-height: 30px;
}

.rightDetails .social_btns ul {
    list-style: none;
}

.rightDetails .social_btns ul li {
    float: left;
}

.reserve {
    position: absolute;
    right: 0;
    top: 50px;
    clear: both;
}

.reserve img {
    float: left;
    margin-right: 5px;
}

.reserve span {
    float: left;
    width: 100px;
}

.bidding {
    position: relative;
    top: 15px;
    display: block;
    overflow: hidden;
    padding: 10px;
    margin: 5px 0;
    font-size: 11px;
    height: 100px;
    background: url(../images/common/bidding_background.png) no-repeat;
}

.bidding div {
    display: block;
    float: left;
    width: 122px;
}

.bidding div p {
    padding: 0;
    margin: 0;
    line-height: 15px;
    color: #FFF;
}

.bidding div p span {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #FFF;
}

.bidding .timer .sold {
    color: #fff;
    font-weight: bold;

}

a.wishlist {
    color: #f76e09;
    display: block;
    float: right;
    padding: 0 0 0 20px;
    background: url(../images/common/eye.png) left center no-repeat;
}

.bigItems li .bigItemsInfo .bottomInfo p {
    display: block;
    margin: 0;
    padding: 0;
}

.required {
    color: #AC0101;
    vertical-align: top;
}

.field_example {
    color: #666;
    font-size: .8em;
}

.before_field {
    color: #666;
}

.more_info {
    background: url('/images/common/info.gif') no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 8px;
}

/* NEW STUFFS ON 21ST MAR 2011 FINISH */

.homeTitle {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.homeTitle a {
    display: block;
    position: absolute;
    width: 215px;
    height: 40px;
    right: 0;
    top: 0;
}

#homepage_social {
    float:right;
}

#homepage_social * {
    margin-right: 5px;
}

/* NEW STUFFS ON 21ST MAR 2011 FINISH */
.specs p {
    padding: 5px;
    width: 300px;
}

.specs .infoRow span {
    display: block;
    width: 32px;
    float: right;
    overflow: hidden;

}

.homeTitle {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.homeTitle a {
    display: block;
    position: absolute;
    width: 215px;
    height: 40px;
    right: 0;
    top: 0;
}

.hotdeal-tooltip {
    padding: 5px;
    background: #ffe;
    border: 1px #ccc solid;
    color: #555;
    width: 120px;
    text-align: center;
}

.tooltip {
    display: none;
    background: #222;
    max-width: 300px;
    text-align: center;
    width: 150px;
    font-size: 10px;
    color: #eee;
    height: auto;
    position: absolute;
    word-wrap: break-word;
    padding: 5px;
}

.tooltip.product {
    width:auto;
}

.tooltip.clock {
    height: 40px;
}

.bidding .infoTip {
    cursor: pointer;
}

.bidding > div {
    display: block;
    float: left;
    width: 122px;
}

.bidding > div p {
    padding: 0;
    margin: 0;
    line-height: 15px;
    color: #FFF;
}

.bidding > div p span {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: #FFF;
}

.bidding > div .time {
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 2.1em;
    display: inline-block;
    margin-top: 2px;
    background: #770A0A;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bigItems li .bigItemsInfo .bottomInfo p {
    display: block;
    margin: 0;
    padding: 0;
}

/* ---- NEW STUFFS ON 23rd May ---- Cart Detailing  */

#cart-detail {
    width: 100%;
}

#cart-detail thead {
    background: #ccc;
    padding: 5px;
}

a.button:hover {
    text-decoration: none;
}

#cartLinks p a.button {
    background: #000;
}

#subtotal {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #eee;
}

#subtotal b {
    display: inline-block;
    color: #888;
    font-size: 14px;
    margin-top: 5px;
}

#checkout-summary #order_summary {
    overflow: hidden;
    border-bottom: 1px #ccc dotted;
    padding: 10px;
}

#checkout-summary #order_summary h3 {
    border-bottom: 1px #ccc dotted;
}

#checkout-summary #order_summary div {
    float: left;
    width: 300px;
}

#checkout-summary #order_summary table {
    float: right;
    background: #daeafd;
    padding: 20px;
}

#subtotal .checkout {
    float: right;
}

#subtotal .checkout img {
    float: left;
    margin-right: 5px;
}

#subtotal span {
    font-weight: bold;
    font-size: 1.2em;;
    color: #f00;
}

#shipping_method #methods ul {
    list-style: none;
    clear: both;
    overflow: hidden;
}

#shipping_method #methods ul li {
    float: left;
    margin-right: 20px;
}