
<h3><%= t("customer_details") %></h3>
<table class="index">
  <thead>
    <th colspan="8"><%= t('account') %></th>
  </thead>
  <tbody>
    <tr>
      <td class="lbl-col"><%= f.label :email, t(:email)+':' %></td>
      <td class="val-col" colspan="3"><%= f.text_field :email, :class => "fullwidth" %></td>
      <td class="lbl-col"></td>
      <td class="val-col" colspan="3">
        <% if @order.completed? %>
          <%= @order.user.nil? ? "Yes" : "No" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<h3><%= Address.model_name.human(:count => 2) %></h3>
<%= f.fields_for :bill_address do |ba_form|  %>
  <%= render :partial => "retailer/shared/address_form", :locals => {:f => ba_form, :name => t('billing_address'), :use_billing => false} %>
<% end %>

<%= f.fields_for :ship_address do |sa_form|  %>
  <%= render :partial => "retailer/shared/address_form", :locals => {:f => sa_form, :name => t('shipping_address'), :use_billing => true} %>
<% end %>

<p class="form-buttons">
  <%= button @order.cart? ? t('continue') : t('update') %>
</p>
