<div class='toolbar order-links'>
  <%= hook :admin_order_show_buttons do %>
    <%= button_link_to t("cancel"), fire_retailer_order_url(@order.number, {:e => "cancel"}), :icon => 'delete', :confirm => 'are you sure?' if @order.can_cancel? %>
    <%= button_link_to t("edit"), edit_retailer_order_url(@order.number), :icon => 'edit' %>
  <% end %>
</div>

<%= render :partial => 'retailer/shared/order_tabs', :locals => {:current => "Order Details"} %>

<%= hook :admin_order_show_addresses do %>
  <% if @order.bill_address %>
    <div class='adr'>
      <h4><%= t("bill_address") %></h4>
      <%= render :partial => 'retailer/shared/address', :locals => {:address => @order.bill_address} %>
    </div>
  <% end %>
  <% if @order.ship_address %>
    <div class='adr'>
      <h4><%= t("ship_address") %></h4>
      <%= render :partial => 'retailer/shared/address', :locals => {:address => @order.ship_address} %>
    </div>
    <% end %>
  <hr />
<% end %>

<%= hook :admin_order_show_details do %>
  <%= render :partial => 'retailer/shared/order_details', :locals => {:order => @order} %>
<% end %>