<%= render :partial => 'retailer/shared/order_tabs', :locals => {:current => "Customer Details"} %>
<%= csrf_meta_tag %>



<%= render "shared/error_messages", :target => @order %>

<%= form_for(@order, :url => retailer_order_url(@order), :html => { :method => :put}) do |f| %>
  <%= f.hidden_field :number %>
  <%= render :partial => "user_form", :locals => {:f => f} %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'admin/checkouts/edit.js' %>
<% end %>
