<div class='toolbar'>
  <ul class='actions'>
<% if @order.outstanding_balance? %>
    <li>
      <%= button_link_to t("new_payment"), new_retailer_order_payment_url(@order), :icon => 'add' %>
    </li>
<% end %>
  </ul>
  <br class='clear' />
</div>

<%= render 'retailer/shared/order_tabs', :current => "Payments" %>

<% if @order.outstanding_balance? %>
  <p><%= @order.outstanding_balance < 0 ? t('credit_owed') : t('balance_due') %> <strong><%= number_to_currency @order.outstanding_balance %></strong></p>
<% end %>

<h2><%= t("payments") %></h2>
<%= render 'list', :payments => @payments %>


<%= button_link_to t('continue'), retailer_orders_url %>
