<%= field_set_tag "Preferred Address" do %>
    <div>
      <%= f.fields_for :user_preference do |up| %>

          <p>
            <%= up.label :fname, "First Name" %>
            <%= up.text_field :fname %>
            <small class="required"> * Required</small>
          </p>

          <p>
            <%= up.label :lname, "Last Name" %>
            <%= up.text_field :lname %>
            <small class="required"> * Required</small>
          </p>

          <p class="datetime">
            <%= up.label :dob, "Date of Birth" %>
            <%= up.date_select(:dob, :start_year => Time.now.year - 100, :order => [:day, :month, :year], :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}) %>
          </p>


          <p>
            <%= up.label :address1, "Address 1" %>
            <%= up.text_field :address1 %>
            <small class="required"> * Required</small>
          </p>

          <p>
            <%= up.label :address2, "Address 2" %>
            <%= up.text_field :address2 %>
          </p>

          <p>
            <%= up.label "Suburb/City" %>
            <%= up.text_field :city %>
            <small class="required"> * Required</small>
          </p>

          <p>
            <%= up.label :postcode %>
            <%= up.text_field :postcode %>
            <small class="required"> * Required</small>
          </p>

          <p>
            <%= up.label :phone %>
            <%= up.text_field :phone %>
            <small class="required"> * Required</small>
          </p>


      <% end %>
    </div>
<% end %>
