<%= field_set_tag "Setup Login Details" do %>
    <div>
      <p>
        <%= f.label :email, "Email".html_safe %>
        <%= f.text_field :email %>
        <small class="required"> * Required</small>
      </p>

      <p>
        <%= f.label :username, "Username" %>
        <%= f.text_field :username %>
        <small class="required"> * Required</small>
      </p>
      <div id="password-credentials">
        <p>
          <%= f.label :password, "Password" %>
          <%= f.password_field :password %>
          <small class="required"> * Required</small>
        </p>

        <p>
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>
          <small class="required"> * Required</small>
        </p>
      </div>
    </div>
<% end %>

<%= hook :signup_below_password_fields %>