<h1>My Account</h1>
<br/>

<%= render "shared/error_messages", :target => @user %>

<%= form_for(@user, :html => {:class => "style_1"}) do |user| %>

    <%= render 'user_form', :f => user %>

    <br>

    <%= render 'address_form', :f => user %>

    <p>
      <%= submit_tag t("update") %>
    </p>

<% end %>

<% content_for :sidebar do %>
    <%= render "shared/sidebar" %>
<% end %>
