<div id="breadcrumbContainer">

  <div class="breadcrumbInfo">
    <% breadcrumber %>
  </div>
  <% if !user_signed_in? %>
      <%= link_to "Sign Up For More Deals Now!", signup_path, :class => "signup" %>
  <% end %>

</div>

