<ul id="cat_nav">
  <% jl_get_taxonomies.each do |taxonomy| %>
      <% taxonomy.taxons.reverse.each do |taxon| %>
          <li<%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>>
            <%= link_to "#{taxon.name}".html_safe, seo_url(taxon) %>
          </li>
      <% end %>
  <% end %>
</ul>
