<h3>Enquiry/Feedback Form</h3>

<form>
  <label>From</label><br/>
  <input type="text" value="<%= current_user.email %>"/>
  <br/>
  <label>Subject</label><br/>
  <input type="text"/>
  <br/>
  <label>Message</label><br/>
  <textarea></textarea>

</form>