<% if target && target.errors.any? %>
    <div id="errorExplanation" class="errorExplanation">
      <h2><%= t(:errors_prohibited_this_record_from_being_saved, :count => target.errors.count) %>:</h2>
      <ul>
        <% target.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<script type="text/javascript">
    jQuery(document).ready(function() {
        if (jQuery("#retailer_stores_attributes_0_logo").val() == "" && jQuery("#errorExplanation").html()) {
            jQuery("#errorExplanation ul").append('<li>Please reinsert your logo / store image</li>');
            jQuery("#retailer_stores_attributes_0_logo").css("border", "#f00 solid 1px");
        }
    });
</script>