<% if flash.notice %>
    <div class="flash notice"><%= flash.notice %></div>
<% end %>

<% if flash[:error] %>
    <div class="flash error"><%= flash[:error] %></div>
<% end %>

<% if flash[:alert] %>
    <div class="flash alert"><%= flash[:alert] %></div>
<% end %>