<div id="sitemap">
  <div class="col">
    <p><%= link_to "Homepage", root_path %></p>

    <p><%= link_to "Recent Completed Deals", recent_path %></p>

    <p><%= link_to "How It Works", "/how_it_works" %></p>

    <p><%= link_to "FAQs", "/faqs" %></p>

    <p><%= link_to "Jewellery Stores", stores_path %></p>

    <p><%= link_to "Contact Us", "/contact-us" %></p>
  </div>
  <div class="col">
    <p>Browse Jewels By Category</p>
    <ul class="twoCol">

      <% jl_get_taxonomies.each do |taxonomy| %>
          <% taxonomy.taxons.each do |taxon| %>
              <li<%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>>
                <%= link_to taxon.name, seo_url(taxon) %>
              </li>
          <% end %>
      <% end %>

    </ul>
  </div>
  <div class="col">
    <p>Legal Information</p>
    <ul>
      <li>&raquo; <%= link_to "Terms for Customers", "/terms_and_conditions" %></li>
      <li>&raquo; <%= link_to "Terms for Retailer", "/retailer_terms" %></li>
      <li>&raquo; <%= link_to "Privacy Policy", "/privacy_policy" %></li>
      <li>&raquo; <%= link_to "Shipping Information", "/terms_and_conditions#shipping" %></li>
      <li>&raquo; <%= link_to "Disclaimer", "/terms_and_conditions#disclaimer" %></li>
    </ul>
  </div>
  <div class="col">
    <p>Social Media</p>
    <ul>
      <li>&raquo; <%= link_to "Find us on Facebook", "http://www.facebook.com/lovejewellover", :target => "_blank" %></li>
      <li>&raquo; <%= link_to "Follow us on Twitter", "http://twitter.com/JewelLoverOz", :target => "_blank" %></li>
    </ul>
  </div>
</div>
<div id="footer">
  Copyright &copy;
  <script type="text/javascript">
      var d = new Date();
      document.write(d.getFullYear());
  </script>
  <a href="/">Jewellery Marketing Solutions</a>. All Rights Reserved.
  Gold Coast Web Design by <a rel="nofollow" target="_blank" href="http://jewelpro.com.au">JewelPro Solutions</a>.
  <br/>
  <%= link_to image_tag("comodo_secure-52x63.gif"), "http://www.instantssl.com" %>
  <%= link_to image_tag("common/pp_prefer.gif"), "http://www.paypal.com" %>
</div><!-- Footer Ends -->