<div class="emailCapture">
  <%= image_tag "common/black_arrow.png" %>

  <form method="post" class="af-form-wrapper" action="http://www.aweber.com/scripts/addlead.pl">

    <div style="display: none;">
      <input type="hidden" name="meta_web_form_id" value="1668160398" />
      <input type="hidden" name="meta_split_id" value="" />
      <input type="hidden" name="listname" value="jewellovers" />
      <input type="hidden" name="redirect" value="http://www.jewellover.com.au/thank_you" id="redirect_d1ceedfd9320b712c6526edbde1f65bb" />
      <input type="hidden" name="meta_redirect_onlist" value="http://www.jewellover.com.au/already_subscribed" />
      <input type="hidden" name="meta_adtracking" value="basic_capture_form" />
      <input type="hidden" name="meta_message" value="1" />
      <input type="hidden" name="meta_required" value="email" />

      <input type="hidden" name="meta_tooltip" value=""/>
    </div>
    <div id="af-form-1668160398" class="af-form">
      <label class="previewLabel" for="awf_field-20183984">Want to receive our daily deals and automatically enter our prize draws?</label>

      <div class="af-textWrap">
        <div>
          <input class="text" id="awf_field-20183984" type="text" name="email" tabindex="500" value="Enter your email address" onfocus="if(this.value=='Enter your email address'){this.value=''};" onblur="if(this.value==''){this.value='Enter your email address'};"/>
        </div>
        <input name="submit" class="submit" value="Submit" tabindex="501" type="image" src="/images/common/sign_up_for_deals.png"/>
      </div>
    </div>
    <div style="display:none;">
      <img src="http://forms.aweber.com/form/displays.htm?id=jGxsHIxsDMycHA==" alt=""/>
    </div>
  </form>
</div>