<div id="login">
  <% if user_signed_in? %>
      <% if current_user.has_role?("retailer") %>
          <%= link_to image_tag('common/settings.png') + raw("Store Administration &raquo;"), retailer_path, :class => "button blue" %>
      <% elsif current_user.has_role?("admin") %>
          <%= link_to image_tag('common/settings.png') + raw("Site Administration &raquo;"), admin_path, :class => "button blue" %>
      <% else %>
          <%= link_to image_tag('common/dashboard.png') + raw("My Dashboard &raquo;"), my_dashboard_path, :class => "button blue" %>
      <% end %>
      <div class="logged_in">
        <strong>Gday!</strong>
        <%= current_user.username %>
        <% if current_user.has_role? "user" %>
            | <%= link_to_orders %>
        <% end %>
        | <%= link_to "Not you? Logout", destroy_user_session_path %>

      </div>
  <% else %>
      <div class="logged_out">
        <%= link_to "I'm a Jeweller!", "http://www.jewelloversolutions.com.au", :class => "button", :target => "_blank" %>
        <%= link_to "Register Now!", signup_path, :class => "button overlay_trigger", :rel => "#both" %>
        <%= link_to "Login", login_path, :class => "button blue overlay_trigger", :rel => "#both" %>
      </div>
  <% end %>
</div>


