<ul id="navigation">
  <li class="first"><%= link_to "Home", root_path %></li>
  <li><%= link_to "Latest Deals", products_path %></li>
  <li><%= link_to "Upcoming Deals", upcoming_path %></li>
  <li><%= link_to "Recent Deals", recent_path %></li>
  <li><%= link_to "How it Works", "/how_it_works" %></li>
  <li><%= link_to "FAQs", "/faqs" %></li>
  <li><%= link_to "Testimonials", "/testimonials" %></li>
  <li><%= link_to "About Us", "/about_us" %></li>
  <li class="last"><%= link_to "Jewellery Sellers", stores_path %></li>
</ul>