<div id="dealSlider">

  <ul class="items">
    <li>
      <img src="/images/slider/slider1.jpg" alt="Best jewellery deals from online jewellers"/>

      <div>
        <%= link_to image_tag("common/how_it_works.png"), "/how_it_works" %>
        <%= link_to image_tag("common/register.png"), signup_path %>
      </div>
    </li>
    <li>
      <img src="/images/slider/slider2.jpg" alt="Save on jewellery brands from jewellers"/>

      <div style="top:163px; left:420px">
        <a href="https://cms.paypal.com/au/cgi-bin/?cmd=_render-content&content_ID=ua/UserAgreement_full&locale.x=en_AU#Schedule%202.%20PayPal%20Buyer%20Protection%20Policy" style="display:block; width:410px; height:45px;"></a>
      </div>
    </li>
  </ul>

  <div class="navi"></div>

</div>

<script type="text/javascript">
    $(function() {
        $("#dealSlider").scrollable({circular:true}).navigator().autoscroll({interval:10000});
    });
</script>

<!-- Slider Ends -->