<div class="infoHolder">
  <h4 class="general">My Jewellover</h4>

  <div>
    <ul>
      <li><p><%= link_to "My Dashboard", "/my_dashboard" %></p></li>
      <li><p><%= link_to "My Watchlist", "/my_watchlist" %></p></li>
      <li><p><%= link_to "My Offers", "/my_offers" %></p></li>
      <li><p><%= link_to "My Wallet", "/my_wallet" %></p></li>
      <li><p><%= link_to "My Orders", "/my_orders" %></p></li>
      <li><p><%= link_to "My Account", "/my_account" %></p></li>
    </ul>
  </div>
</div>