<%= content_tag :div, :id => "notification_sidebar" do %>
    <p>Auto refresh freshening you up <span id="notification_count">10</span> seconds.
      <br/>
      <a href="#" id="refresh_trigger">Refresh now!</a>.</p>
<% end %>


<% content_for :head do %>
    <script type="text/javascript">
        $(function() {

            var box = $("#notification_sidebar", "#contentArea");
            var notification_timer = setTimeout(open_notification, 110000);
            var notification_count = Number($('#notification_count').text());

            function refresh_page() {
                box.slideUp();
                location.reload();
            }

            function open_notification() {
                box.slideDown(1000);
                var pause = setInterval(function() {
                    notification_count -= 1;
                    $('#notification_count').text(notification_count);
                    if(notification_count == 0) {
                        refresh_page();
                    }
                }, 1000);
            }

            $('#refresh_trigger', box).click(function() {
                refresh_page();
            });
        });
    </script>
<% end %>
