<% unless @product.nil? %>
    <div class="leftDetails">
      <div id="product-images">
        <%= hook :product_images do %>

            <div id="main-image">
              <%= render 'products/image', :product => @product %>
            </div>

            <div id="thumbnails">
              <%= render 'products/thumbnails', :product => @product %>
            </div>
            <br/>

            <p><strong>Store:</strong> <br/><%= @product.store.name %></p>

            <p><strong>Location:</strong><br/> <%= store_address(@product.store).html_safe %></p>
            <br/>
            <%= render 'shared/store_contact_form' %>
        <% end %>
      </div>
    </div>
    <div class="rightDetails">
      <h1><%= @product.name %></h1>
      <table class="index" id="order_summary">
        <tbody id='line-items'>
        <tr>
          <%= hook :order_details_line_items_headers do %>
              <th align="left"><%= t('item_description') %></th>
              <th><%= t('price') %></th>
              <th><%= t('qty') %></th>
              <th><span><%= t('total') %></span></th>
          <% end %>
        </tr>
        <% @order.line_items.each do |item| %>
            <tr>
              <%- locals = {:item => item} %>
              <%= hook :order_details_line_item_row, locals do %>
                  <td width="300"><%= item.variant.product.name %> <%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %></td>
                  <td><%= number_to_currency item.price %></td>
                  <td><%= item.quantity %></td>
                  <td><span><%= number_to_currency (item.price * item.quantity) %></span></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
        <tbody><tr></tr></tbody>
        <tbody>
        <%= hook :order_details_subtotal do %>
            <tr class="total" id="subtotal-row">
              <td colspan="3"><b><%= t('subtotal') %>:</b></td>
              <td><span><%= number_to_currency @order.item_total %></span></td>
            </tr>
        <% end %>
        <%= hook :order_details_adjustments do %>
            <% @order.adjustments.each do |adjustment| %>
                <tr class="total">
                  <td colspan="3"><strong><%= adjustment.label %></strong></td>
                  <td class="total"><span><%= number_to_currency adjustment.amount %></span></td>
                </tr>
            <% end %>
        <% end %>
        <%= hook :order_details_total do %>
            <tr class="total">
              <td colspan="3"><b><%= t('order_total') %>:</b></td>
              <td class="total"><span id="order_total"><%= number_to_currency @order.total %></span></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <br/>
      <hr/>
      <h2>Order Details</h2>
      <hr/>

      <p><strong style="color:#333">Order State:</strong> <%= @order.state %></p>

      <p><strong style="color:#333">Payment State:</strong> <%= @order.payment_state %></p>

      <p><strong style="color:#333">Shipment State:</strong> <%= @order.try(:shipment_state) || "Not set" %></p>

      <p><strong style="color:#333">To:</strong> <%= @order.try(:bill_address) || "Not Set" %></p>

      <div class="order_actions">
        <% unless @order.complete? || @order.refunded? || @order.canceled? %>
            <%= checkout_button(@order) %>
        <% end %>

        <%= link_to t('back_to_store'), store_path(@product.store), :class => "button primary checkout" %>


        <% if params.has_key? :checkout_complete %>
            <h3><%= t('thank_you_for_your_order') %></h3>
        <% else %>
            <%= link_to "Back to Dashboard", my_dashboard_path, :class => "button primary checkout" if user_signed_in? %>
        <% end %>


      </div>
    </div>
<% end %>
