<div id="overlays">
  <% unless @devise_mapping %>
      <%= render 'shared/overlays/both' %>
  <% end %>
  <%# render 'shared/overlays/login' %>
  <%# render 'shared/overlays/login' %>
  <%# render 'shared/overlays/signup' %>
</div>
