<%= form_for :products, :html => {:method => :get, :id => "filter_form"} do |f| %>

    <% if params[:search] %>
        <%= hidden_field_tag "search[#{search_method.to_s}]", params[:search][search_method] %>
    <% end %>

    <%= hidden_field_tag "view_style" %>

    <div class="left">
      <%= page_entries_info @products %>
    </div>

    <div class="right">
      <%= f.label :sort_by, "Sort by:" %>
      <select id="product_filters" name="sort_by">
        <option value="">Best Match Results</option>
        <option value="latest">Latest Products</option>
        <option value="highest_discount">Highest Savings</option>
        <option value="lowest_discount">Lowest Savings</option>
        <option value="lowest_price">Lowest Retail Price</option>
        <option value="highest_price">Highest Retail Price</option>
        <option value="lowest_current_price">Lowest Current Price</option>
        <option value="highest_current_price">Highest Current Price</option>
        <option value="lowest_reserve_price">Lowest Reserve Price</option>
        <option value="highest_reserve_price">Highest Reserve Price</option>
      </select>

      <%= f.label :sort_by, "View:" %>
      <%= link_to "", "javascript:void(0);", :class => "list_view" %>
      <%= link_to "", "javascript:void(0);", :class => "grid_view" %>
      <%= select_tag "view_amount", options_for_select([30, 60, 90], cookies[:view_amount]) %>

    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        // Selected option in focus
        $("option", '#product_filters').filter('[value=<%= params[:sort_by] %>]').attr('selected', 'selected');
        $("option", '#location_filters').filter('[value=<%= params[:location] %>]').attr('selected', 'selected');

        $("#view_options a").click(function () {
            $("#view_style").val($(this).attr('class'));
            $(this).parents('form').submit();
        });

        $("#view_options select").change(function () {
            $(this).parents('form').submit();
        });

    });
</script>
