<% content_for :sidebar do %>

    <% unless user_signed_in? %>
        <%= link_to image_tag('common/member_login.png'), login_path %>
    <% else %>
        <%= render 'shared/members_menu' if current_user.has_role?("user") %>
    <% end %>

    <%= render "shared/taxonomies" unless params[:store_name] %>

    <div class="infoHolder">
      <h4 class="general">Facebook</h4>
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flovejewellover&amp;width=228&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=true&amp;header=true&amp;height=300" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:228px; height:300px;" allowTransparency="true"></iframe>
    </div>

<% end %>