<div id="stats">
  <h1>Australia's No.1 Online Jewellery Clearance Site!</h1>

  <div style="margin-left:10px; display:block; width:80px;" class="fb-like" data-href="https://www.facebook.com/lovejewellover" data-send="false" data-layout="button_count" data-width="80" data-show-faces="true"></div>
  <h4>
    <span id="count_wrapper">$<span id="count"><%= site_total_value %></span></span> worth of jewellery must go!
  </h4>

  <div id="homepage_social">
    <%= link_to image_tag("common/google.png", :height => '25px', :alt => "Check us out for latest jewellery deals on Google"), "http://plus.google.com/102759805767149178826/posts", :target => "_blank" %>
    <%= link_to image_tag("common/facebook.png", :height => '25px;', :alt => "Like us for latest jewellery deals on Facebook"), "http://www.facebook.com/lovejewellover", :target => "_blank" %>
    <%= link_to image_tag("common/twitter.png", :height => '25px;', :alt => "Follow us for latest jewellery deals on Twitter"), "http://twitter.com/#!/JewelLoverOz", :target => "_blank", :style => "margin-right:0;" %>
  </div>
</div>

<script type="text/javascript">
    $(function() {

        function get_current_value() {

            $.getJSON("http://www.jewellover.com.au/site_product_info.js", function(data) {
                var total_product_value = new Number(data['total_product_value']);
                var old_value = new Number($("#count").text());

                $("#stats h4").fadeIn();
                counter(total_product_value, old_value);
            })

        }


        function counter(val, o_val) {

            // Split the string into segments for animation
            var new_val = val.toString().split('');
            var old_val = o_val.toString().split('');
            var a = new Array();
            var ins;


            for (var i = 0; i < new_val.length; i++) {
                if (new_val[i] === old_val[i]) {
                    ins = new_val[i];
                } else {

                    if (old_val[i] != undefined) {
                        ins_old = "<span class=\"old\">" + old_val[i] + "</span>";
                    }

                    ins = "<span class=\"new\">" + new_val[i] + "</span>";
                    a.push(ins_old);
                }
                a.push(ins);
            }

            // Add spans to page
            $("#count").html(a.join(''));

            //Animate Spans
            $('span.old', '#count').animate({
                top: '-10px',
                opacity:0
            }, 500, function() {
                $(this).remove();
            });
            $('span.new', '#count').animate({
                top:'0px',
                opacity:1
            }, 500);

        }

        get_current_value();

    });
</script>
