<%= form_for :store_products, :html => {:method => :get} do |f| %>

    <%# if params[:keywords] %>
        <%# hidden_field_tag :keywords, params[:keywords] %>
    <%# end %>

    <%= f.label :keywords, "Search products from this store: " %>
    <%= f.text_field :keywords, :style => "width:340px; border:1px #999 solid" %>

    <br/>
    <br/>
    <%= f.label :sort_by, "Sort by:" %>
    <select id="store_products_sort_by" name="sort_by">
      <option value="">Best Match Results</option>
      <option value="latest">Latest Products</option>
      <option value="oldest">Oldest Products</option>
      <option value="highest_discount">Highest Savings</option>
      <option value="lowest_discount">Lowest Savings</option>
      <option value="lowest_price">Lowest Retail Price</option>
      <option value="highest_price">Highest Retail Price</option>
      <option value="lowest_current_price">Lowest Current Price</option>
      <option value="highest_current_price">Highest Current Price</option>
      <option value="lowest_reserve_price">Lowest Reserve Price</option>
      <option value="highest_reserve_price">Highest Reserve Price</option>
    </select>

    <%= f.label :categories, "Categories:" %>
    <%= collection_select(:taxon, :product, Taxon.first.children, :name, :name, {:include_blank => "All"}, {:name => "category", :id => "store_products_category"}) %>

    <%= f.submit "Go", :style => "width:163px" %>

<% end %>

<script type="text/javascript">
    // Selected option in focus
    $("option", '#store_products_sort_by').filter('[value=<%= params[:sort_by] %>]').attr('selected', 'selected');
    $("option", '#store_products_category').filter('[value=<%= params[:category] %>]').attr('selected', 'selected');
</script>