<% if @store.present? %>

    <%= h3_with_icon "About this store", "/images/common/shop.png" %>

    <div id="store_info" class="infoBox">
      <div>
        <%= link_to image_tag(@store.logo.url(:small)), store_path(@store) %>
        <br/>
        <h4><%= link_to @store.name, store_path(@store) %></h4>
      </div>
      <br/>
      <h3 style="color:#ac1010;">Ph: <%= @store.phone %></h3>

    </div>

<% end %>