<% if @store.present? %>

    <%= h3_with_icon "Email Seller", "/images/common/icons/email.png" %>

    <div id="store_contact_form" class="infoBox">
      <% if user_signed_in? && @current_user.has_role?("user") %>
          <% form_for :contact, :url => {:controller => 'contacts', :action => 'store'}, :html => {:id => "contact_form", :class => "sidebar_form"} do |f| %>
              <% unless @product.nil? %>
                  <input type="hidden" name="product_id" value="<%= @product.id %>"/>
              <% end %>
              <input type="hidden" name="store_id" value="<%= @store.id %>"/>

              <p>Fields marked (<span class="required">*</span>) are required.</p>

              <p>
                <%= f.label :name %> <span class="required">*</span>
                <br/>
                <%= f.text_field :name, {:value => @current_user.user_preference.try(:full_name), :class => "required"} %>
              </p>

              <p>
                <%= f.label :email %> <span class="required">*</span>
                <br/>
                <%= f.text_field :email, {:value => @current_user.try(:email), :class => "required"} %>
              </p>

              <p>
                <%= f.label :phone %>
                <br/>
                <%= f.text_field :phone, :value => @current_user.user_preference.try(:phone) %>
              </p>

              <p>
                <%= f.label :subject %> <span class="required">*</span>
                <br/>
                <%= f.text_field :subject, {:class => "required"} %>
              </p>

              <p>
                <%= f.label :message %> <span class="required">*</span>
                <br/>
                <%= f.text_area :message, :cols => 25, :rows => 10, :class => "required" %>
              </p>

              <%= f.submit "Send", :class => "button" %>

          <% end %>
      <% else %>
          <p><%= link_to "Login", login_path %> to email <%= @store.name %></p>
      <% end %>
    </div>

    <% content_for :head do %>
        <script type="text/javascript">
            $(function() {
                $("#contact_form").validate({
                    rules: {
                        'contact[email]': {
                            required:true,
                            email:true
                        },
                        'contact[phone]':{
                            digits:true,
                            minlength:7
                        },
                        'contact[message]':{
                            minlength:10,
                            required:true
                        }
                    },
                    errorClass:"field_with_errors",
                    validClass:"valid_field"
                });
            });
        </script>
    <% end %>

<% end %>