<div id="taxonomies" class="infoHolder">
  <h4 class="general">Quick Browse</h4>

  <div>

    <% jl_get_taxonomies.each do |taxonomy| %>
        <ul class="navigation-list">
          <li<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>>
            <h3><%= t("shop_by_taxonomy", :taxonomy => taxonomy.name.singularize) %></h3>
          </li>

          <% taxonomy.taxons.each do |taxon| %>
              <li<%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>>
                <%= link_to taxon.name, seo_url(taxon) %>
              </li>
          <% end %>

        </ul>
    <% end %>

  </div>


</div>