<table id="my_coupons" cellpadding="0" cellspacing="0" border="0">
  <thead>
  <tr>
    <th>Coupon ID</th>
    <th>Value</th>
    <th>Expires at</th>
  </tr>
  </thead>
  <tbody>
  <% current_user.wallet.coupons.each do |c| %>
      <tr>
        <td class="coupon_id"><%= c.number %></td>
        <td align="center"><%= c.value %></td>
        <td align="right"><%= c.expires_at.to_formatted_s(:long) %></td>
        <td><%= link_to "Use Coupon!", "#", :class => "redeem_coupon" %></td>
      </tr>
  <% end unless current_user.wallet.coupons.empty? %>
  </tbody>
</table>