<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<%= yield :meta_head %>
<title><%= "JewelLover Retailer #{t('administration')}: "
           t(controller.controller_name, :default => controller.controller_name.titleize) %></title>

<%= javascript_tag do %>
    ajax_urls = <%= raw({
                                :product_search_json => retailer_products_url(:format => 'json'),
                                :product_search_basic_json => retailer_products_url(:format => 'json', :json_format => 'basic', :limit => 10),
                                :user_search_basic_json => retailer_users_url(:format => 'json', :json_format => 'basic', :limit => 10)
                        }.to_json) %>;

    strings = <%= raw([:no_results, :type_to_search, :searching].inject({}) { |memo, item| {item => t(item)} }.to_json) %>
<% end %>

<%= stylesheet_link_tag 'admin/admin-reset',
                        'admin/grids',
                        'admin/admin-typography',
                        'admin/admin-forms',
                        'admin/admin-tables',
                        'admin/admin',
                        'admin/autocomplete',
                        'admin/token-input',
                        '/javascripts/jquery.ui/css/blitzer/jquery-ui-1.8.16.custom.css',
                        '/javascripts/jquery.alerts/jquery.alerts.css',
                        '/javascripts/jquery.alerts/jquery.alerts.spree.css',
                        'admin/jewel-lover.css',
                        'jquery.autocomplete.css'
%>

<%= javascript_include_tag 'jquery.tools.min',
                           'rails',
                           'jquery.suggest',
                           'jquery.tokeninput.js',
                           'jquery.delayedobserver.js',
                           'admin',
                           'nested-attribute',
                           'zone',
                           'calculator',
                           'gateway',
                           'jquery.validate.min.js',
                           'jquery.ui/js/jquery-ui-1.8.16.custom.min.js',
                           'jquery.ui.timepicker.js',
                           'jquery.alerts/jquery.alerts.js',
                           'jquery.autocomplete.min.js',
                           'flowplayer/example/flowplayer-3.2.6.min.js' %>
<%= javascript_include_tag('jquery.template') unless controller.controller_name == "overview" %>

<%= javascript_tag do %>
    $ = jQuery;
    jQuery.alerts.dialogClass = 'spree';
<% end %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%# raw unobtrusive_datepicker_includes %>

<%= yield :head %>