<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<div id="fb-root"></div>
<script type="text/javascript">
    //FACEBOOK INIT
    window.fbAsyncInit = function() {

        //var app_id = '202781719761220'; // - Jewellover
        var app_id = '176544045776839'; // - scratch22;//

        FB.init({
            appId      : app_id, // App ID
            channelUrl : '//<%= request.env["HTTP_HOST"] %>/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

    };

    // Load the SDK Asynchronously
    (function(d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);

        //CALL GOOGLE PLUSONE
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    }(document));
</script>