<tr id="<%= dom_id(f.object) %>">
  <%- locals = {:f => f} %>
  <%= hook :admin_order_form_line_item_row, locals do %>
    <td width="300"><%=f.object.variant.product.name%> <%= "(" + variant_options(f.object.variant) + ")" unless f.object.variant.option_values.empty? %></td>
    <td valign="top" class="price"><%= number_to_currency f.object.price %></td>
    <td valign="top" class="qty"><%=f.text_field :quantity, :style => "width:30px;", :class => "qty", :disabled => true %></td>
    <td valign="top" class="total"><%= number_to_currency (f.object.price * f.object.quantity)%></td>
  <% end %>
  <td>
    <%= hook :admin_order_form_line_item_actions, locals do %>
      <%# link_to_delete f.object, {:url => retailer_order_line_item_url(@order.number, f.object),
                                    :dataType => "html" ,
                                    :success => "function(r){ jQuery('#order-form-wrapper').html(r);}"} %>
    <% end %>
  </td>
</tr>
