<!--<div class='toolbar order-links'>-->
<!--<%# button_link_to t("new_order"), new_retailer_order_url, :icon => 'add', :id => 'admin_new_order' %>-->
<!--</div>-->

<%= render :partial => 'retailer/shared/order_sub_menu' %>

<%= link_to_with_icon "printer", "Print Page", "javascript:window.print()", :style => "float:right;" %>

<h1><%= t("listing_orders") %></h1>


<table class="index" id='listing_orders'>
  <thead>
  <tr>
    <%= hook :admin_orders_index_headers do %>
        <% if @show_only_completed %>
            <th><%= sort_link @search, :completed_at, t("activerecord.attributes.order.completed_at") %></th>
        <% else %>
            <th><%= sort_link @search, :created_at, t("order_date") %></th>
        <% end %>
        <th><%= sort_link @search, :number, t("order_number") %></th>
        <th>Stock Code</th>
        <th>Product Name <%# sort_link @search,  %></th>
        <th><%= sort_link @search, :state, "Order Status" %></th>
        <th><%= sort_link @search, :payment_state, t("payment_state") %></th>
        <th><%= sort_link @search, :shipment_state, t("shipment_state") %></th>
        <th><%= sort_link @search, :email, t("customer") %></th>
        <th>Full Name</th>
        <th><%= sort_link @search, :total, "Sold For" %></th>
    <% end %>
    <th>
      <%= hook :admin_orders_index_header_actions %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <%- locals = {:order => order} %>
        <%= hook :admin_orders_index_rows, locals do %>
            <td><%= (@show_only_completed ? order.completed_at : order.created_at).to_date %></td>
            <td><%= order.number %></td>
            <td><%= order.products.first.try(:sku) %></td>
            <td><%= order.products.first.try(:name) %></td>
            <td><%= t("order_state.#{order.state.downcase}") %></td>
            <td><%= order.payment_state if order.payment_state %></td>
            <td><%= order.shipment_state %><%# link_to t("shipment_states.#{order.shipment_state}"), retailer_order_shipments_path(order) if order.shipment_state %></td>
            <td><%= order.email %></td>
            <td><%= link_to "#{order.bill_address.try(:firstname)} #{order.bill_address.try(:lastname)}", user_retailer_order_url(order) %></td>
            <td><%= number_to_currency order.total %></td>
        <% end %>
        <td class='actions'>
          <%= hook :admin_orders_index_row_actions, locals do %>
              <%# link_to_edit order, :title => "retailer_edit_#{dom_id(order)}" %>
              <%= button_to "Issue Refund", refund_retailer_product_path(order.product), :confirm => "Are you sure you wish to refund this order?" if order.complete? %>
              <%= link_to_with_icon 'edit', 'Edit', edit_retailer_order_shipment_url(order, order.shipment) if order.complete? && order.shipment %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate(@orders, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

<% content_for :sidebar do %>
    <div class="box">
      <h3>Search / Reports Filter</h3>
      <%= form_for [:retailer, @search] do |f| %>
          <%- locals = {:f => f} %>
          <%= hook :admin_orders_index_search, locals do %>
              <label><%= t("date_range") %></label><br/>

              <div class="yui-g date-range-filter">
                <div class="yui-u sub-field first">
                  <%= f.spree_date_picker :created_at_greater_than %>
                  <br/>
                  <label class="sub"><%= t("start") %></label>
                </div>
                <div class="yui-u sub-field">
                  <%= f.spree_date_picker :created_at_less_than %>
                  <br/>
                  <label><%= t("stop") %> </label>

                </div>

              </div>

              <p><label><%= t("status") %></label><br/>
                <%= f.select :state_equals, Order.state_machines[:state].states.collect { |s| [t("order_state.#{s.name}"), s.value] }, {:include_blank => true} %>
              </p>

              <p><label><%= t 'order_number' %></label><br/>
                <%= f.text_field :number_like, :size=>25 %></p>

              <p>
                <label><%= t 'email' %></label><br/>
                <%= f.text_field :email_like, :size=>25 %>
              </p>

              <p>
                <label><%= t 'first_name_begins_with' %></label><br/>
                <%= f.text_field :bill_address_firstname_starts_with, :size=>25 %>
              </p>

              <p>
                <label><%= t 'last_name_begins_with' %></label><br/>
                <%= f.text_field :bill_address_lastname_starts_with, :size=>25 %>
              </p>

              <p>
                <%= f.check_box :completed_at_is_not_null, {:checked => @show_only_completed}, "1", "" %>
                <label>
                  <%= t("show_only_complete_orders") %>
                </label>
              </p>
          <% end %>
          <%= hook :admin_orders_index_search_buttons, locals do %>
              <div class="form-buttons"><%= f.submit "Search", :class => "button search" %></div>
          <% end %>
      <% end %>
    </div>
<% end %>