<h1>Listing Stores</h1>

<table class="index" id="listing_stores">
  <thead>
  <tr>
    <th>Name</th>
    <th>Retailer</th>
    <th>Show Website</th>
    <th>Show Facebook</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.retailer.try(:username) %></td>
        <td class="show_website">
          <%= check_box dom_id(store), :show_website, :checked => store.show_website? %>
        </td>
        <td class="show_facebook">
          <%= check_box dom_id(store), :show_facebook, :checked => store.show_facebook? %>
        </td>
        <td>
          <%= link_to_with_icon "edit", "Edit", edit_admin_store_path(store) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% content_for :head do %>
    <script type="text/javascript">
        $(function() {

            //TODO Make Dynamic! Think about key value relationship with store many options.

            // Ajax Toggle Show Website Call
            $('.show_website :checkbox').click(function() {
                var $this = $(this);
                var $sid = $this.attr("id").split("_")[1];
                var $sname = $('td:eq(0)', $this.parent().parent()).text();

                $true = $('<div/>', {class : "flash notice"}).html("Thank you, " + $sname + "'s website link is visible");
                $false = $('<div/>', {class : "flash notice"}).html("Thank you, " + $sname + "'s website link is not visible");

                $.ajax({
                    url: '/admin/stores/' + $sid + '/toggle_website',
                    type: 'post',
                    success:function() {
                        if ($this.attr("checked")) {
                            $true.prependTo("#content");
                        } else {
                            $false.prependTo("#content");
                        }
                        $(".flash").delay(3500).slideUp();
                    }
                })

            });

            // Ajax Toggle Show Website Call
            $('.show_facebook :checkbox').click(function() {
                var $this = $(this);
                var $sid = $this.attr("id").split("_")[1];
                var $sname = $('td:eq(0)', $this.parent().parent()).text();

                $true = $('<div/>', {class : "flash notice"}).html("Thank you, " + $sname + "'s facebook link is visible");
                $false = $('<div/>', {class : "flash notice"}).html("Thank you, " + $sname + "'s facebook link is not visible");

                $.ajax({
                    url: '/admin/stores/' + $sid + '/toggle_facebook',
                    type: 'post',
                    success:function() {
                        if ($this.attr("checked")) {
                            $true.prependTo("#content");
                        } else {
                            $false.prependTo("#content");
                        }
                        $(".flash").delay(3500).slideUp();
                    }
                })

            });
        });
    </script>
<% end %>
