<div class='toolbar'>
  <ul class='actions'>
    <%= hook :admin_shipment_edit_buttons do %>
      <li>
        <% if @shipment.can_ship? %>
          <%= button_link_to(t('ship'), fire_retailer_order_shipment_path(@order, @shipment, :e => 'ship'), :method => :put, :confirm => t("are_you_sure")) %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <br class='clear' />
</div>

<%= render :partial => 'retailer/shared/order_tabs', :locals => {:current => "Shipments"} %>

<%= hook :admin_shipment_edit_header do %>
  <h2><%= t('shipment') %> #<%= @shipment.number%> (<%= t(@shipment.state.to_sym, :scope => :state_names, :default => @shipment.state.to_s.humanize) %>)</h2>
  <% if @shipment.cost %>
    <h3><%= t('charges') %> <%= number_to_currency @shipment.cost %></h3>
  <% end %>

  <%= render "shared/error_messages", :target => @shipment %>
<% end %>

<%= hook :admin_shipment_edit_form do %>
  <%= form_for(@shipment, :url => object_url, :html => { :method => :put }) do |shipment_form| %>
      <%= render :partial => "form", :locals => { :shipment_form => shipment_form } %>

      <%= hook :admin_shipment_edit_form_buttons do %>
        <p class="form-buttons">
          <% if @shipment.editable_by?(current_user) %>
            <%= button @order.cart? ? t('continue') : t('update') %>
            <%= t("or") %> <%= link_to t("cancel"), collection_url %>
          <% else %>
            <%= link_to raw("&laquo; #{t("back")}"), collection_url %>
          <% end %>
        </p>
      <% end %>
  <% end %>
<% end %>
