<% @body_id = 'signup' %>

<h1>Register as a JewelLover Retailer Now!...</h1>

<h3>Maximize your exposure and start selling your jewellery online today, fill in the fields below to establish your
  JewelLover Retailer account...</h3>
<br/>
<ul class="style1">
  <li>
    Need help?
    <a href="https://s3.amazonaws.com/jewellover/videos/jewellover_retailer_registration.flv" rel="#video_popup" class="overlay_trig">
      See how it works.</a>
  </li>
</ul>
<%= hook :signup do %>

    <%= form_for(@retailer, :url => retailer_registration_path, :html => {:multipart => true}) do |f| %>

        <%= render "shared/error_messages", :target => @retailer %>


        <%= hook :signup_inside_form do %>

            <%= render 'shared/forms/retailer_form', :f => f %>

            <%= field_set_tag "LeverEDGE" do %>

                <div>
                  <p>LeverEDGE is a free program offered to jewellers all over Australia which allows them to upload
                    stock from their existing inventory system into
                    JewelLover. <%= link_to ("Find out more &raquo;").html_safe, "http://www.retailedgeconsultants.com", :target => "_blank" %></p>
                  <strong><%= check_box_tag "leveredge_customer" %> Do you currently have an existing LeverEDGE
                    account?</strong>

                  <div class="leveredge_token" style="display:none; margin-top:10px;">
                    <p>Copy the code below and paste
                      it into the JewelLover Token area inside the LeverEDGE program. Once this is done you will be able
                      to
                      upload stock from your existing system via LeverEDGE into JewelLover.</p>
                    <span class="token"><%= token %></span>
                    <%= f.hidden_field :authentication_token, :value => token %>
                    <%= clippy(token) %>
                  </div>
                </div>

            <% end %>

            <%= render 'shared/forms/user_form', :f => f %>

            <fieldset>
              <div>
                <%= check_box_tag :agreement %> I agree to the following:
                <ul style="list-style:inside; margin-left:20px;">
                  <li>I accept the
                    JewelLover <%= link_to "Terms &amp; Conditions".html_safe, "/retailer_terms", :target => "_blank" %>
                    and <%= link_to "Privacy Policy", "/privacy_policy", :target => "_blank" %>
                    .
                  </li>
                  <li>
                    To receive email notifications from JewelLover.
                  </li>
                </ul>
              </div>
            </fieldset>

            <%= submit_tag "Register Now!", :class => 'button primary' %>

        <% end %>

    <% end %>

    <script type="text/javascript">

        $("#new_retailer").validate({
            rules:{
                'retailer[retailer_detail_attributes][abn]':{
                    required:true,
                    digits:true,
                    minlength:11,
                    maxlength:11
                },
                'retailer[retailer_detail_attributes][trading_name]':{
                    required:true
                },
                'retailer[stores_attributes][0][name]': {
                    required:true
                },
                'retailer[stores_attributes][0][logo]':{
                    required:true
                },
                'retailer[stores_attributes][0][permalink]':{
                    required:true
                },
                'retailer[stores_attributes][0][description]':{
                    required:true
                },
                'retailer[stores_attributes][0][fname]':{
                    required:true
                },
                'retailer[stores_attributes][0][lname]':{
                    required:true
                },
                'retailer[stores_attributes][0][phone]':{
                    required:true,
                    digits:true,
                    minlength:6
                },
                'retailer[stores_attributes][0][address1]':{
                    required:true
                },
                'retailer[stores_attributes][0][city]':{
                    required:true
                },
                'retailer[stores_attributes][0][postcode]':{
                    required:true,
                    digits:true,
                    minlength:4,
                    maxlength:4
                },
                'retailer[stores_attributes][0][state]':{
                    required:true
                },
                'retailer[retailer_detail_attributes][pp_email]':{
                    required:true,
                    email:true
                },
                'retailer[email]':{
                    required:true,
                    email:true
                },
                'retailer[username]':{
                    required:true
                },
                'retailer[password]':{
                    required:true,
                    minlength:6
                },
                'retailer[password_confirmation]':{
                    required:true,
                    equalTo:"#retailer_password"
                },
                'agreement':{
                    required:true
                }
            },
            messages: {
                'retailer[retailer_detail_attributes][abn]':{
                    number: "Numerical digits only",
                    minlength: jQuery.format("Must be {0} digits only"),
                    maxlength: jQuery.format("Must be {0} digits only")
                },
                'retailer[retailer_detail_attributes][pp_email]':{

                },
                'retailer[password]':{
                    minlength:"Minimum 6 characters"
                },
                'retailer[email]':{
                    email:"Isn't a valid email"
                },
                'retailer[password_confirmation]':{
                    equalTo:"Doesn't match password"
                }

            },
            errorClass: "field_with_errors",
            validClass: "valid_field",
            errorElement: "span"
        });


        $('#leveredge_customer').click(function() {
            $(".leveredge_token").slideToggle();
        });

//        $("#new_retailer").submit(function() {
//            if ($("#agreement").is(":checked")) {
//                $(this).submit();
//            } else {
//                alert("You must agree to the Terms & Conditions");
//                return false;
//            }
//        });
//
//        function check_url(url, text_field) {
//            var $url = url;
//            var $alert = text_field.parent();
//
//            //Determine if value submitted is valid...
//            if ($url.match(/^[a-z]([a-z0-9_])*$/)) {
//                $alert.find(".alert").text('Valid').css('color', 'green');
//            } else {
//                $alert.find(".alert").text('Invalid').css('color', 'red');
//            }
//        }
//
//        $('#retailer_stores_attributes_0_permalink').keyup(function() {
//            $this = $(this);
//            check_url($this.val(), $this);
//        });

    </script>


<% end %>
<%= link_to t("login_as_existing"), login_path %>


<%= hook :login_extras %>


<%= content_for :sidebar do %>
    <%= content_tag "div", :class => "infoHolder" do %>
        <h4 class="general">LeverEDGE</h4>
        <div id="leveredge_sidebar">
          <%= link_to image_tag("common/edge.jpg"), "http://www.retailedgeconsultants.com", :target => "_blank" %>
          <br/>

          <h5>LeverEDGE is a Stock Inventory Program available to Jewellery Store owners that communicates between your
            current Stock Inventory System and JewelLover.
            <br/><%= link_to ("Read More &raquo;").html_safe, "http://www.retailedgeconsultants.com", :target => "_blank" %>
          </h5>
          <br/>
          <small><strong>Disclaimer:</strong> LeverEDGE is third party software, that is software not owned or developed
            by JewelLover.
            JewelLover has no control over the performance or functionality of LeverEDGE software. Please ensure you
            review all terms and conditions of use prior to downloading that software. You install LeverEDGE software at
            your own risk.
          </small>
        </div>
    <% end %>
<% end %>

