<h1><%= @message %></h1>
<hr/>
<table width="100%">
  <tr>
    <td valign="top" width="200px"><%= image_tag @product.images.first.attachment.url(:product) %></td>
    <td valign="top" style="padding-left:10px; margin-left:10px; border-left: 1px #ccc solid;">
      <h3><%= @product.name %></h3>

      <p>
        <strong>Offers Over: </strong><span><%= format_price @product.cost_price %></span><br/>
        <strong>Drops: </strong><span><%= format_price @product.drop_amount %></span>
        every <%= pluralize(@product.interval, "minute") %><br/>
        <strong>Starts dropping from: </strong>
        <span><%= format_price @product.price %> in <%= distance_of_time_in_words_to_now @product.available_on %></span><br/>
      </p>
      <br/>
      <h3>Love it? - <%= link_to "Make your offer now!", product_url(@product), :style => "color:#ac1010" %></h3>
    </td>
  </tr>
  <tr>
    <td align="right" colspan="2">
      <%= link_to image_tag("http://www.jewellover.com.au/images/common/take_to_deal.png", :style=>"border:none;"), product_url(@product) %>
    </td>
  </tr>
</table>