<h3>Check out your products!</h3>
<p>The products you are watching keep dropping dramatically! Take advantage of these tremendous savings today!</p>
<%= link_to "Login to check them out", my_watchlist_url, :class => "button" %>