<%= render "shared/error_messages", :target => @order %>
<table id="cart-detail">
  <thead>
    <tr>
      <%= hook :cart_items_headers do %>
        <th colspan="2"><%= t("item") %></th>
        <th><%= t("price") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="line_items">
    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render 'line_item', :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form %>
    <% end %>
  </tbody>
</table>