<div class="order_product_item">
<h4><%= order.products.first.name %></h4>
<br/>

<%= image_tag order.products.first.images.first.attachment.url(:small) unless order.products.first.images.empty? %>
<p><%= truncate(order.products.first.description, :length => 100) %></p>
</div>