<tr class="<%= cycle('', 'alt') %>">
  <td width="120">
    <%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
    <%= hook :cart_item_image, locals do %>
      <% if variant.images.length == 0 %>
        <%= small_image(variant.product) %>
      <% else %>
        <%=  image_tag variant.images.first.attachment.url(:small)   %>
      <% end %>
    <% end %>
  </td>
  <td align="left" width="60%">
    <%= hook :cart_item_description, locals do %>
      <h4><%= link_to variant.product.name,  product_path(variant.product) %></h4>
      <%= variant_options variant %>
      <%= truncate(variant.product.description, :length => 100, :omission => "...") %>
    <% end %>
  </td>
  <td align="center">
    <%= hook :cart_item_price, locals do %>
      <%=  product_price(line_item) %>
    <% end %>
  </td>
 <!-- <td>
    <%# hook :cart_item_delete, locals do %>
      <%# link_to(image_tag('/images/admin/icons/delete.png'), '#', :class => 'delete') %>
    <%# end %>
  </td> -->

</tr>