<% @body_id = 'cart' %>
<% if @order.nil? || @order.products.empty? %>

    <%= hook :empty_cart do %>
        <h1><%= t("your_cart_is_empty.") %></h1>
        <br/>
        <p><%= link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>
    <% end %>

<% else %>

    <%= hook :outside_cart_form do %>

        <h1>Your Shopping Cart</h1>
        <p>
          <strong>Congratulations!</strong> Thanks for shopping with JewelLover! You are now ready to purchase the
          following
          product. Please click the checkout button to follow through with your purchase.</p>

        <br/>



        <div class="order">
          <h4><%= @order.product.store.name %> - <%= store_address(@order.product.store, "short") %></h4>
          <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>

              <%= hidden_field_tag "order_id", @order.id %>

              <%= hook :inside_cart_form do %>

                  <%= hook :cart_items do %>
                      <%= render :partial => 'form', :locals => {:order_form => order_form} %>
                  <% end %>

                  <div id="subtotal">
                    <b>Subtotal:
                      <span><%= "#{  order_price(@order) }" %></span></b><%= link_to t("checkout"), checkout_path, :class => 'button checkout primary' %>
                  </div>

              <% end %>
          <% end %>
        </div>
        <br/>

        <%# form_tag empty_cart_path, :method => :put do %>
            <!--<p id="clear_cart_link">-->
              <!--<input type="submit" value="<%# t('empty_cart') %>" class="button"/>-->
            <!--</p>-->
        <%# end %>
        <%# link_to "Back to Store", root_path, :class => "button primary", :style => "float:right;"%>

    <% end %>
    <br/>
<% end %>

