<% @body_id = 'cart' %>

<% if @orders.empty? %>

    <h1>You currently have no orders</h1>
    <br/>
    <%= hook :empty_cart do %>
        <p><%= link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>
    <% end %>

<% else %>


    <h1>Your Latest Orders</h1>
    <p>Thanks for shopping with JewelLover!</p>
    <br/>

    <%= hook :outside_cart_form do %>


        <div id="orders">

          <ul class="tabs">

            <li><a href="#">Incomplete</a></li>
            <li><a href="#complete">Complete</a></li>
            <li><a href="#canceled">Canceled</a></li>
            <li><a href="#refunded">Refunded</a></li>


          </ul>

          <div class="panes">
            <div class="pane" style="padding-top:20px;">
              <% @orders.select { |o| %w(cart payment delivery redemption address).include? o.state }.each do |order| %>

                  <%= hook :inside_cart_form do %>
                      <div class="order">

                        <h4><%= order.product.store.name %>
                          - <%= store_address(order.product.store, "short") %></h4>

                        <%= hook :cart_items do %>
                            <%= render :partial => 'jl_item', :locals => {:order => order} %>
                        <% end %>

                        <div id="subtotal">
                          <b>Subtotal:
                            <span><%= "#{order_price(order)}" %></span></b>
                          <strong>Current State - <%= order.state %></strong>
                          <%# link_to "Complete Purchase", edit_order_checkout_path(order, :order_id => order.number), :class => "button checkout primary" %>
                          <%= checkout_button(order) %>

                        </div>

                      </div>
                      <br/>

                  <% end %>

              <% end %>
            </div>
            <div class="pane" style="padding-top:20px;">
              <% @orders.select { |o| o.state == "complete" }.each do |order| %>

                  <%= hook :inside_cart_form do %>
                      <div class="order">

                        <h4><%= order.products.first.store.name %>
                          - <%= store_address(order.products.first.store, "short") %></h4>

                        <%= hook :cart_items do %>
                            <%= render :partial => 'jl_item', :locals => {:order => order} %>
                        <% end %>

                        <div id="subtotal">
                          <b>Subtotal:
                            <span><%= "#{order_price(order)}" %></span></b>
                          <strong>Current State - <%= order.state %></strong>
                          <%= link_to "View Order", order_path(order.number), :class => "button checkout primary" %>
                        </div>
                      </div>
                      <br/>

                  <% end %>

              <% end %>
            </div>
            <div class="pane" style="padding-top:20px;">
              <% @orders.select { |o| o.state == "canceled" }.each do |order| %>

                  <%= hook :inside_cart_form do %>
                      <div class="order">

                        <h4><%= order.products.first.store.name %>
                          - <%= store_address(order.products.first.store, "short") %></h4>

                        <%= hook :cart_items do %>
                            <%= render :partial => 'jl_item', :locals => {:order => order} %>
                        <% end %>

                        <div id="subtotal">
                          <b>Subtotal:
                            <span><%= "#{order_price(order)}" %></span></b>
                          <strong>Current State - <%= order.state %></strong>
                          <%= link_to "View Order", order_path(order.number), :class => "button checkout primary" %>
                        </div>
                      </div>
                      <br/>

                  <% end %>

              <% end %>
            </div>
            <div class="pane" style="padding-top:20px;">
              <% @orders.select { |o| o.state == "refunded" }.each do |order| %>

                  <%= hook :inside_cart_form do %>
                      <div class="order">

                        <h4><%= order.products.first.store.name %>
                          - <%= store_address(order.products.first.store, "short") %></h4>

                        <%= hook :cart_items do %>
                            <%= render :partial => 'jl_item', :locals => {:order => order} %>
                        <% end %>

                        <div id="subtotal">
                          <b>Subtotal:
                            <span><%= "#{order_price(order)}" %></span></b>
                          <strong>Current State - <%= order.state %></strong>
                          <%= link_to "View Order", order_path(order.number), :class => "button checkout primary" %>
                        </div>
                      </div>
                      <br/>

                  <% end %>

              <% end %>
            </div>

          </div>

        </div>

    <% end %>


<% end %>

<% content_for :sidebar do %>
    <%=  render "shared/sidebar" %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/sidebar" %>
<% end %>

<%= javascript_tag do %>

    $("#orders .tabs").tabs("#orders .panes > .pane", { effect:'slide' });

<% end %>

