<div id="order">
  <div class="detailsBox">
    <% if !@order.products.empty? %>
        <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
    <%= render 'shared/sidebar' %>
<% end %>