<% @body_id = 'contact' %>

<h1>Contact JewelLover</h1>
<p>If you have any enquiries, please feel free to use the contact form below to get in contact with us. We will get back
  to you as soon as possible.</p>
<p>Alternatively you can phone us on <strong>07 5641 4996</strong> 9am-5pm Mon-Fri (Australian Eastern Standard Time)
</p>
<div id="contact-us">
  <%= hook :contact do %>
      <%= render "shared/error_messages", :target => @contact %>
      <%= form_for @contact, :html => {:class => "style_1"} do |f| %>
          <%= hook :contact_inside_form do %>
              <%= field_set_tag "Enquiry Form" do %>
                  <div>
                    <p>
                      <%= f.label :name, t("name")+":" %>
                      <%= f.text_field :name %>
                      <small class="required"> * Required</small>
                    </p>

                    <p>
                      <%= f.label :email, t("email")+":" %>
                      <%= f.text_field :email %>
                      <small class="required"> * Required</small>
                    </p>

                    <p>
                      <%= f.label :phone, t("phone")+":" %>
                      <%= f.text_field :phone %>
                    </p>

                    <p>
                      <%= f.label :subject, t("subject")+":" %>
                      <%= f.text_field :subject %>
                      <small class="required"> * Required</small>
                    </p>

                    <p>
                      <%= f.label :message, t("message")+":" %>
                      <%= f.text_area :message %>
                      <small class="required"> * Required</small>
                    </p>
                  </div>
              <% end %>
              <div class="action"><%= f.submit t("send_message"), :class => "button primary" %></div>
          <% end %>
      <% end %>
  <% end %>
</div>