<h1>My Wallet</h1>

<div class="infoRow">
  <h3>You have <%= pluralize(current_user.coupons.count, "Coupon") %></h3>
  <table id="my_coupons" class="style_1" cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
      <th>Coupon ID</th>
      <th>Value</th>
      <th>Expires on</th>
      <th>Used on</th>
      <th>Valid</th>
    </tr>
    </thead>
    <tbody>
    <% current_user.wallet.coupons.each do |c| %>
        <tr>
          <td class="coupon_id"><%= c.number %></td>
          <td><%= format_price(c.value) %></td>
          <td><%= c.expires_at.to_formatted_s(:long) %></td>
          <td><%= c.used_at? ? c.used_at.to_formatted_s(:long) : nil %></td>
          <td><%= coupon_status(c) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>