<h1>Inquiry to <%= @store.name %></h1>
<p>Someone has made contact with you from Jewellover.</p>
<p><strong>Name:</strong> <%= @message.name %><br/>
  <strong>Email:</strong> <%= @message.email %><br/>
  <strong>Phone:</strong> <%= @message.try(:phone) %><br/>
  <strong>Subject:</strong> <%= @message.subject %><br/>
  <strong>Message:</strong> <%= @message.message %>
</p>
<br/>
<%= mail_to @message.email, "Reply to Sender", :subject => "Reply from #{@store.name} at JewelLover", :class => "button" %>




