<h3><%= @product.name %></h3>

<p>This product has been relisted automatically!</p>

<p>If you would like to let this product expire in future so you can edit its parameters, please login to
  JewelLover and uncheck the auto relist option on your product list.</p>

<%= link_to "Login Here", login_url %>