<h2>Welcome <%= @retailer.username %> to JewelLover.</h2>

<p>Congratulations, you're now a JewelLover retailer!
  We look forward to helping you make more sales online.</p>
<p align="center">Your JewelLover login email is: <strong><%= @retailer.email %></strong><br/>
  <%= link_to "Click here to login now.", login_url %>
  <br/>
  Your JewelLover Store URL is:
  <strong><%= store_url(@retailer.stores.first) %></strong><br/>
  <br/>

<h3>Confirmation</h3>
<p>Don't forget, you shall receive a confirmation email from Aweber that will subscribe you to the official JewelLover
  Retailers
  newsletter. You will need to click and confirm this email to stay up-to-date with the latest developments for
  JewelLover Retailers, including changes to the system and special consumer promotions you may wish to take part
  in.</p>
<br/>
<h3>LeverEDGE</h3>
<p>If you have the <%= link_to "LeverEDGE System", "http://www.retailedgeconsultants.com" %> installed on your computer,
  copy and paste the 20 digit JewelLover token into your LeverEDGE program.</p>
<p><strong>Getting started:</strong></p>
<ol type="1">
  <li><p>Open the LeverEDGE program.</p></li>
  <li><p>Click "File" in top left corner and select "System Options".</p></li>
  <li><p>Paste in the token below.</p></li>
  <li><p>Click Ok</p></li>
</ol>
<br/>

<p align="center">Your JewelLover Token: <strong><%= @retailer.try(:authentication_token) %></strong></p>

<p>You will now be able to start uploading product directly from the LeverEDGE system into JewelLover. Should you have
  any issues with the LeverEDGE system please contact Retail Edge on (07) 5574 0322</p>

<p><strong>IMPORTANT NOTE:</strong> Be sure to add info@jewellover.com.au to your 'safe senders' list in your email,
  otherwise our emails could end up in your Spam Folder. This means if you make a sale on JewelLover and are
  successful you wont know about it via email.</p>





<p>Kind regards<br/>
  <strong>The JewelLover Team</strong>
</p>

