<h1><%= t("contacts") %></h1>

<table class="index">
  <tr>
    <%= hook :admin_contact_index_headers do %>
        <th><%= t("name") %></th>
        <th><%= t("email") %></th>
        <th><%= t("phone") %></th>
        <th><%= t("subject") %></th>
        <th>Datetime Sent</th>
        <th>Actions</th>
    <% end %>
  </tr>
  <% @contacts.each do |contact| %>
      <tr id="<%= dom_id contact %>">
        <%- locals = {:contact => contact} %>
        <%= hook :admin_contact_index_rows, locals do %>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.subject %></td>
            <td><%= contact.created_at.to_formatted_s(:long) %></td>
        <% end %>
        <td class="actions">
          <%= hook :admin_contact_index_row_actions, locals do %>
              <%= link_to_view contact %>
              &nbsp;
              <%= link_to_delete contact %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>