<h1>Retailer Support</h1>
<h3><%= image_tag '/images/admin/icons/film.png' %> Support Videos</h3>
<%= render 'retailer/shared/support_videos' %>
<!--<hr/>-->
<!--<br class="clear"/>-->
<!--<h3><%= image_tag '/images/admin/icons/faqs.png' %> FAQS</h3>-->
<!--<div id="retailer_faqs">-->
  <!--<% @faqs.each do |faq| %>-->
      <!--<h4><a href="#"><%= faq.title %></a></h4>-->
      <!--<div class="faq">-->
        <!--<p><%= faq.content %></p>-->
      <!--</div>-->
  <!--<% end %>-->
<!--</div>-->
<!--<script type="text/javascript">-->
  <!--$("#retailer_faqs").accordian();-->
<!--</script>-->
<% content_for :sidebar do %>
    <div class="box">
      <%= render 'retailer/shared/jms' %>
    </div>
    <hr/>
    <div class="box">
      <%= render 'retailer/shared/support_contacts' %>
    </div>
<% end %>

