<%= f.field_container :title do %>
    <%= f.label :title %>
    <small class="required"> *</small>
    <br/>
    <%= f.text_field :title %>
    <%= f.error_message_on :title %>
<% end %>

<%= f.field_container :post_role do %>
    <%= f.label :post_role, "Post Type" %>
    <br/>

    <%= collection_select :post, :post_role_id, PostRole.all, :id, :name %>
<% end %>


<%= f.field_container :content do %>
    <%= f.label :content %>
    <small class="required"> *</small>
    <br/>
    <%= f.text_area :content %>
    <%= f.error_message_on :content %>
<% end %>


<%= f.field_container :author do %>
    <%= f.label :author %>
    <small class="required"> *</small>
    <br/>
    <%= f.text_field :author, :value => @current_user.username %>
    <%= f.error_message_on :author %>
<% end %>

<%= f.field_container :featured do %>
    <%= f.check_box :featured %>
    <%= f.label "Featured?" %>
<% end %>


<%= f.field_container :published do %>
    <%= f.check_box :published %>
    <%= f.label "Published?" %>
<% end %>



<div class="form-buttons">
  <%= f.submit "Save Post", :class => "button finish" %>
  <%= link_to "Cancel", admin_posts_path, :class => "button cancel" %>
</div>