<h1>Edit Post</h1><small>Last Updated: <%= @post.updated_at.to_formatted_s(:long) %></small>

<%= render "shared/error_messages", :target => @post %>

<%= form_for(@post, :url => admin_post_path(@post)) do |f| %>
    <%= render 'form', :f => f %>
<% end %>
