<h1>Posts</h1>

<div id="pagination_wrapper">
  <%=  page_entries_info @posts %><%= will_paginate @posts %>
</div>

<% if !@posts.empty? %>
    <div id="admin_posts">
      <% @posts.each do |post| %>
          <div class="post">
            <h3><%= link_to "#{post.title}", edit_admin_post_path(post) %></h3>
            <small><%= post.created_at.to_formatted_s(:long) %>
             by <%= post.try(:author) %>
            </small>
            <br/>
            in <strong><%= post.try(:post_role).try(:name) %></strong>
            <span>
              <%= post.featured? ? "Featured | " : " - " %>
              <%= post.published? ? "Published" : "" %>
            </span>



            <p><%= truncate(post.content, :length => 200) %></p>
            <div class="actions">
              <%= link_to "Edit Post", edit_admin_post_path(post) %> |
              <%= link_to "Delete", admin_post_path(post), :confirm => "Are you sure you wish to delete this post?", :method => :delete %>
            </div>
          </div>

      <% end %>
    </div>
    <br class="clear"/>
<% else %>
    <p>No posts found.</p>
<% end %>

<div class="form-buttons">
  <%= link_to "New Post", new_admin_post_path, :class => "button add" %>
</div>

<% content_for :head do %>
      <%= stylesheet_link_tag "admin/admin-posts" %>
<% end %>