Contact from JewelLover!


<%= t('name') %>:  <%= @message.name %>
<%= t('email') %>: <%= @message.email %>
<%= t('phone') %>: <%= @message.phone %>
<%= t('subject') %>: <%= @message.subject %>

<%= @message.message %>

<%= t('contact_email_footer') %>
<%= Spree::Config[:site_name] %>