<h3>Nothing beats a freebie – and today we’re giving them away on JewelLover</h3>
<br/>
<p>
  Since you’re a valued customer we’ve added an extra little feature to your dashboard called a wallet. It’s a place to
  keep coupons and credits that you might earn on JewelLover. That’s right, we’ll shortly be providing you with ways to
  earn JewelLover currency you can spend on our deals...and to kick it off we’ve popped a $10 coupon in your wallet
  today that you can use on any JewelLover item.
</p>
<%= link_to "Click here to use it now!", root_url, :class => "button red" %>
<p>
  We’re offering it to all new members upon sign up and as an existing member we didn’t want you to miss out. It’s valid
  for one month and is easy to use –so start shopping today!
</p>
<p>
  The JewelLover Team
</p>