<p>Nearly 30 days gone already? But it's not too late. If you haven't used your coupon you still have just over 24 hours to
  save more money on great jewellery deals.</p>
<br/>
<%= link_to "Redeem now before its too late!", root_url, :class => "button" %>
<br/>
<br/>

<p>
  Check out our latest pieces on <%= link_to "JewelLover", root_url %> and make sure you take advantage of this coupon before it ends
  (you must win your bid AND pay for your item before the coupon expires, so time to get weaving before your coupon disappears forever!)</p>
<br/>
<p>
  <strong>Happy Shopping!</strong>
  <br>
  <strong>The JewelLover Team</strong>
</p>
