<p>The expiry date on your JewelLover coupon is fast approaching, and once it ends you won’t be able to use it
  so now’s the time to get weaving and check out the latest hot deals on JewelLover.</p>
<br/>
<%= link_to "Redeem your coupon now!", root_url, :class => "button" %>
<br/>
<br/>
<p>We’ve got loads of gorgeous new jewellery online everyday, prices are dropping constantly and the savings are
  huge! <%= link_to "Come check it out!", root_url %></p>
<br/>
<p>
  <strong>Happy Shopping!</strong>
  <br>
  <strong>The JewelLover Team</strong>
</p>
