<h1>Ahh but time slips slowly away!</h1>

<p>The expiry date on your JewelLover voucher is fast approaching, and once it ends you won’t be able to use it
  so now’s the time to get weaving and check out the latest hot deals on JewelLover.</p>
<br/>
<%= link_to "Redeem your coupon now!", root_url, :class => "button" %>
<br/>
<p>We’ve got over $1million of gorgeous jewellery just waiting for you so cruise on over to the site today and discover
  how your online jewellery shopping experience can be sooo much more fun!</p>
<br/>
<p>
  <strong>Happy Shopping!</strong>
  <br>
  <strong>The JewelLover Team</strong>
</p>
