<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    #voucher {
        font-size: 40px;
        position: relative;
        display: block;
        color: #ac0101;
    }

    #voucher .vid {
        position: absolute;
        bottom: 60px;
        left: 230px;
        display: block;
    }

    #voucher .expires {
        position: absolute;
        bottom: 60px;
        left: 730px;
        display: block;
        width: 200px;
    }
</style>

<div id="voucher">
  <%= pdf_image_tag('voucher.jpg') %>
  <span class="vid"><%= @vid %></span>
  <span class="expires"><%= @expires %></span>
</div>