<script type="text/javascript">
    function displayRow() {
        var row = document.getElementById("captionRow");
        if (row.style.display == '') row.style.display = 'none';
        else row.style.display = '';
    }
</script>
<h4>Available Categories</h4>
<table class="index">
  <thead>
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("path") %></th>
    <th><%= t("action") %></th>
  </tr>
  </thead>
  <tbody>
  <% @available_taxons.each_with_index do |taxon, i| %>
      <tr id="<%= dom_id(taxon, :sel) %>">
        <td><%= taxon.name %></td>
        <td><%= taxon_path taxon %></td>
        <td class="actions">
          <%= link_to icon('add') + ' ' + t("select"),
                      select_retailer_product_taxon_path(@product, taxon),
                      :remote => true, :class => 'iconlink' unless i == 0 %>
        </td>
      </tr>
  <% end %>
  <% if @available_taxons.empty? %>
      <tr>
        <td colspan="3">No taxons found.</td>
      </tr>
  <% end %>
  </tbody>
</table>
