<%# render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("taxon_edit")%></h1>

<%= form_for(:taxon, :url => admin_taxonomy_taxon_url, :html => { :method => :put, :multipart => true}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <p class="form-buttons">
    <%= button t("update") %> <%= t("or") %> <%= link_to t("cancel"), edit_admin_taxonomy_url(@taxonomy) %>
  </p>
<% end %>
