<%# render :partial => 'retailer/shared/product_sub_menu' %>

<%= render :partial => 'retailer/shared/product_tabs', :locals => {:current => "Taxons"} %>

<%= render "retailer/products/steps", :current => 3 %>


<div id="selected-taxons">
  <%= render :partial => "taxon_table", :locals => {:taxons => @taxons} %>
</div>

<br/>
<div id="search_hits"></div>

<br/>
<div class="form-buttons">
  <%= link_to "Finish", finish_retailer_product_path(@product), :remote => false, :class => "button finish" %>
</div>
<% content_for :head do %>
    <script type="text/javascript">

        function search_for_taxons() {
            jQuery.ajax({
                data: {q: jQuery("#searchtext").val() },
                success: function(request) {
                    jQuery('#search_hits').html(request);
                },
                type: 'post',
                url: '<%= available_retailer_product_taxons_url(@product) %>'
            });
        }

        $(document).ready(function() {

            search_for_taxons();

            $("a.button").click(function() {

                if ($("tr", "table.index").eq(1).attr("id")) {
                    return;
                } else {
                    alert("Your product must have at least 1 category!");
                    return false;
                }

            });

        });
    </script>
<% end %>