<% content_for :head do -%>
    <meta name="title" content="<%= @page.title %>">
    <% if @page.attribute_present? :meta_keywords -%>
        <meta name="keywords" content="<%= @page.meta_keywords %>">
    <% end -%>
    <% if @page.attribute_present? :meta_description -%>
        <meta name="description" content="<%= @page.meta_description %>">
    <% end -%>
<% end -%>
<% content_for :sidebar do %>
    <% if "products" == @current_controller && @taxon %>
        <%= render :partial => "shared/filters" %>
    <% else %>
        <%= render :partial => "shared/taxonomies" %>
    <% end %>
<% end %>
<h1><%= @page.title %></h1>
<%= raw @page.body %>
