<h1>Dear <%= @order.user.username %>,</h1>

<p>TOO LATE: The items have gone from your cart....72 hours gone, just like that. Please remember that failing to
  purchase DOES contravene the terms and conditions of JewelLover. We won't be sending around the jewellery police but
  repeated failure will result in your account being permanently closed and you'll miss out on these great deals, and we
  know you don't want that. Please remember that clicking a Buy Now or making a MyPrice offer that is then successful
  does obligate you to complete the purchase and payment.
</p>

<br/>

<h3>Order Summary [CANCELLED]</h3>

<table width="100%" cellpadding="2">
  <thead style="border-bottom: 1px solid #000;">
  <tr>
    <th width="25%" align="left"><p>Product Code</p></th>
    <th width="50%" align="left"><p>Description</p></th>
    <th align="center" width="5%"><p>Qty</p></th>
    <th align="right"><p>Price</p></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><p><%= @order.product.sku %></p></td>
    <td><p><%= @order.product.name %></p></td>
    <td align="center"><p><%= @order.line_items.count %></p></td>
    <td align="right"><p><%= format_price(@order.total) %></p></td>
  </tr>
  <tr>
    <td colspan="2"><p><strong>Total Amount (INC. GST)</strong></p></td>
    <td colspan="2" align="right"><p><%= format_price(@order.total) %></p></td>
  </tr>
  <tr>
    <td colspan="4"><p><strong>Total Includes GST of <%= format_price(@order.total * 0.0909) %></strong></p></td>
  </tr>
  </tbody>
</table>


<br/>
<h3>Store Info</h3>
<p><strong><%= @order.product.store.name %></strong><br/>
  <%= @order.product.store.address1 %><br/>
  <%= @order.product.store.address2 unless @order.product.store.address2.nil? %>
  <%= @order.product.store.city %><br/>
  <%= @order.product.store.state %><br/>
  <%= @order.product.store.postcode %><br/>
  Ph: <%= @order.product.store.phone %><br/>
  <strong>ABN:</strong> <%= @order.retailer.retailer_detail.abn %></p>