<h1>Dear <%= @order.user.username %>,</h1>

<p><strong> Congratulations! Your purchase has been successful. Thank-You for shopping with JewelLover.</strong>
</p>

<p>Please review and retain the following order information for your records. The retailer has been notified of your
  purchase.<br/>If your item is being delivered you should expect it to arrive within 7 business days. If you are
  collecting this product from the store please quote the
  <strong>'Order Number'</strong> shown below.
</p>
<p>If you have any concerns please contact
  the retailer with the order information below.</p>
<br/>

<h3>Order Number:<span style="color:#f00;"> <%= @order.number %></span></h3>
<h3>Delivery Method: <span style="color:#f00;"> <%= @order.shipment.shipping_method.name %></span></h3>
<br/>

<p><strong>Invoice Date:</strong> <%= @order.payment.created_at.to_date.to_formatted_s(:long_ordinal) %>
  &nbsp;<strong>Invoice No.:</strong> <%= sprintf "%07d", @order.id %> </p>
<br/>

<table width="100%" cellpadding="2">
  <tr>
    <td colspan="2" valign="top">
      <h3>Your Details:</h3>

      <p>
        <strong><%= @order.bill_address.try(:firstname) %> <%= @order.bill_address.try(:lastname) %></strong><br/>
        <strong><%= @order.user.email %></strong><br/>
        <%= @order.bill_address.try(:address1) %><br/>
        <%= @order.bill_address.try(:address2) %><br/>
        <%= @order.bill_address.try(:city) %><br/>
        <%= @order.bill_address.try(:zipcode) %><br/>
        <%= @order.bill_address.try(:country).try(:name) %>
        <%= @order.bill_address.try(:phone) %>
      </p>
    </td>
    <td colspan="2" valign="top">
      <h3>Store Details:</h3>

      <p><strong><%= @order.product.store.try(:name) %></strong><br/>
        <%= @order.product.store.try(:address1) %><br/>
        <%= @order.product.store.try(:address2) %>
        <%= @order.product.store.try(:city) %><br/>
        <%= @order.product.store.try(:postcode) %><br/>
        <%= @order.product.store.try(:state) %><br/>
        <%= @order.product.store.try(:country) %><br/>
        <strong>Ph:</strong> <%= @order.product.store.try(:phone) %><br/>
        <strong>ABN:</strong> <%= @order.retailer.retailer_detail.abn %></p>
    </td>
  </tr>
</table>
<br/>
<table width="100%" cellpadding="2">
  <tr>
    <th width="25%" align="left"><p>Product Code</p></th>
    <th width="50%" align="left"><p>Description</p></th>
    <th align="center" width="5%"><p>Qty</p></th>
    <th align="right"><p>Price</p></th>
  </tr>
  <tr>
    <td><p><%= @order.product.sku %></p></td>
    <td><p><%= @order.product.name %></p></td>
    <td align="center"><p><%= @order.line_items.count %></p></td>
    <td align="right"><p><%= format_price(@order.total) %></p></td>
  </tr>
  <tr>
    <td colspan="2"><p><strong>Total Amount Paid (INC. GST)</strong></p></td>
    <td colspan="2" align="right"><p><%= format_price(@order.total) %></p></td>
  </tr>
  <tr>
    <td colspan="4"><p>Total Includes GST of <%= format_price(@order.total * 0.0909) %></p></td>
  </tr>
</table>