<h1>Your Settings</h1>
<br/>
<ul>
  <li><%= link_to "Edit your Account", edit_account_path %></li>
  <li><%= link_to "Edit your Stores", retailer_stores_path %></li>
  <li><%= link_to "Edit your Profile details", edit_retailer_retailer_detail_path %></li>
</ul>

<div>
  <h3>Your JewelLover Token:</h3>

  <p><%= current_user.authentication_token if current_user.authentication_token %></p>
  <br>

  <p>You'll need this token to upload products to JewelLover from your stock inventory
    system... <%= link_to "RetailEdge", "http://www.retailedgeconsultants.com.au", :target => "_blank" %> </p>
</div>
