<tr>
  <td><%= t("filename") %>:</td>
  <td><%= f.file_field :attachment %><br/><small><strong>Note: </strong> Image must be a .jpg, .png or .gif and should be greater than 450px wide.</small></td>
</tr>
<% if @product.has_variants? %>
  <tr>
    <td><%= Variant.model_name.human %>:</td>
    <td><%= f.select :viewable_id, @variants %></td>
  </tr>
<% else %>
  <%= hidden_field_tag :product_id, @product.id %>
<% end %>
