<%# render :partial => 'retailer/shared/product_sub_menu' %>

<%= render :partial => 'retailer/shared/product_tabs', :locals => {:current => "Images"} %>

<%= render "shared/error_messages", :target => @image %>


<%= form_for(:image, :url => retailer_product_image_url(@product), :html => { :method => :put, :multipart => true }) do |f| %>
  <table class="basic-table">
    <tr>
      <td><%= t("thumbnail") %>:</td>
      <td><%= link_to(image_tag(@image.attachment.url(:mini)), @image.attachment.url(:product)) %></td>
    </tr>
    <%= render :partial => "form", :locals => { :f => f } %>
  </table>
  <p class="form-buttons">
    <%= button t("update") %>
    <%= t('or') %> <%= link_to t("cancel"), retailer_product_images_url(@product), :id => "cancel_link" %>
  </p>
<% end %>
