<%# render :partial => 'retailer/shared/product_sub_menu' %>

<%= render :partial => 'retailer/shared/product_tabs', :locals => {:current => "Images"} %>

<%= render "retailer/products/steps", :current => 2 %>

<table class="index">
  <tr>
    <th><%= t("thumbnail") %></th>
    <% if @product.has_variants? %>
        <th><%= Variant.model_name.human %></th>
    <% end %>
    <th><%= t("alt_text") %></th>
    <th><%= t("action") %></th>
  </tr>

  <% @product.images.each do |image| %>
      <tr id="<%= dom_id(image) %>">
        <td><%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)) %></td>
        <% if @product.has_variants? %>
            <td><%= t('all') %></td>
        <% end %>
        <td><%= image.alt %></td>
        <td class="actions">
          <%= link_to_with_icon('edit', t("edit"), edit_retailer_product_image_url(@product, image)) %>
          &nbsp;
          <%= link_to_delete image, {:url => retailer_product_image_url(@product, image)} %>
        </td>
      </tr>
  <% end %>

  <% @product.variants.each do |variant| %>
      <% variant.images.each do |image| %>
          <tr id="<%= dom_id(image) %>">
            <td><%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)) %></td>
            <% if @product.has_variants? %>
                <td><%= variant.options_text %></td>
            <% end %>
            <td><%= image.alt %></td>
            <td class="actions">
              <%= link_to_with_icon('edit', t("edit"), edit_retailer_product_image_url(@product, image)) %>
              &nbsp;
              <%= link_to_delete image, {:url => retailer_product_image_url(@product, image)} %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>

<div id="images"></div>
<div class="form-buttons">
  <%= link_to "Finish", finish_retailer_product_path(@product), :remote => false, :class => "button finish" %>
  <%= link_to "Next", selected_retailer_product_taxons_url(@product), :remote => false, :class => "button next" %>
  <%= link_to t("new_image"), new_retailer_product_image_url(@product), :id => "new_image_link", :class => "button add" %>
</div>

<% content_for :head do %>
    <script type="text/javascript">
        $(document).ready(function() {

            // Hide buttons until they have an image
            if ($("tr", "table.index").length <= 1) {
                $('a.next').hide();
                $('a.finish').hide();
            }

            // Ajax images#new
            $('#new_image_link').click(function (event) {
                event.preventDefault();
                $(this).parent().hide();
                $.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r) {
                    jQuery('#images').html(r);
                } });
            });

        });
    </script>
<% end %>