<h4><%= t("new_image") %></h4>
<%= render "shared/error_messages", :target => @image %>

<%= form_for(:image, :url => {:controller => 'images', :action => 'create'}, :html => {:multipart => true}) do |form| %>
    <table class="basic-table">
      <%= render :partial => "form", :locals => {:f => form} %>
    </table>
    <p class="form-buttons">
      <%= form.submit "Upload Now", :class => "button upload" %>
      <%= link_to t("cancel"), "#", :id => "cancel_link", :class => "button cancel" %>
    </p>
<% end %>



<script type="text/javascript">
    $('#cancel_link').click(function (event) {
        $('#new_image_link').parent().show();
        $('#images').html('');
    });

    $('button').click(function() {
        if($("#image_attachment").val() == ""){
            alert("Please insert an image");
            return false;
        }
    });

</script>

 
 
