<h1><%= t("sales_totals") %> </h1>

<table class="admin-report">
  <tbody>
    <tr>
      <th scope="row"><%= t("item_total") %>:</th>
      <td align="right"><%=number_to_currency @item_total%></td>
    </tr>
    <tr>
      <th scope="row"><%= t("adjustment_total") %>:</th>
      <td align="right"><%=number_to_currency @adjustment_total%></td>
    </tr>
    <tr>
      <th scope="row"><%= t("sales_total") %>:</th>
      <td align="right"><%=number_to_currency @sales_total%></td>
    </tr>
  </tbody>
</table>

<% content_for :sidebar do %>
  <%= render :partial => 'retailer/shared/report_criteria', :locals => {} %>
<% end %>

