<div class="yui-gc">
  <div class="yui-u first">
    <%- locals = {:f => f} %>
    <%= hook :admin_product_form_left, locals do %>
        <%= f.field_container :name do %>
            <%= f.label :name, t("name") %> <span class="required">*</span><br/>
            <%= f.text_field :name, :class => 'fullwidth title' %>
            <%= f.error_message_on :name %>
        <% end %>

        <%= f.field_container :permalink do %>
            <%= f.label :permalink, t("permalink") %>  <span class="required">*</span><br/>
            <%= f.text_field :permalink, :class => 'fullwidth title' %>
            <%= f.error_message_on :permalink %>
        <% end %>

        <%= f.field_container :description do %>
            <%= f.label :description, t("description") %>
            <br/>
            <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
            <%= f.error_message_on :description %>
        <% end %>
    <% end %>
  </div>
  <div class="yui-u">
    <%= hook :admin_product_form_right, locals do %>

        <%= f.field_container :sku do %>
            <%= f.label :sku, t("Product Code") %>
            <br/>
            <%= f.text_field :sku, :size => 16 %>
        <% end %>

        <%= f.field_container :price do %>
            <%= f.label :price, t("master_price") %> <span class="required">*</span><br/>
            <%= f.text_field :price, :value => number_with_precision(@product.price, :precision => 2) %>
            <%= f.error_message_on :price %>
        <% end %>

        <%= f.field_container :cost_price do %>
            <%= f.label :cost_price, "Reserve Price" %>
            <br/>
            <%= f.text_field :cost_price, :value => number_with_precision(@product.cost_price, :precision => 2) %>
            <%= f.error_message_on :cost_price %>
        <% end %>


        <%= f.field_container :interval do %>
            <%= f.label :interval, "Price Drop Interval" %> <span class="required">*</span><br/>
            <%= f.select :interval, options_for_select([["1hr", '60'], ["30mins", '30'], ["15mins", '15'], ["5mins", '5'], ["1min", '1']], @product.interval ) %>
        <% end %>

        <br/>
        <%= f.field_container :size do %>
            <%= f.label :size, "Item Size" %>  <br/>
            <%= f.text_field :size %>
        <% end %>
        <%= f.field_container :resizable do %>
            <%= f.label :resizable, "Resizable?" %>
            <small>Can this item be resized?</small>
            <%= f.check_box :resizable %>
        <% end %>
        <%= f.field_container :certified do %>
            <%= f.label :certified, "Certified?" %>
            <small>You may be asked for a copy</small>
            <%= f.check_box :certified %>
        <% end %>
        <br/>

        <%= f.field_container :available_on do %>
            <%= f.label :available_on, t("available_on") %>
            <br/>
            <%= f.datetime_select :available_on, %>
        <% end %>



    <% end %>

  </div>
</div>

<!--<h2><%= t("metadata") %></h2>-->
<!--<% hook :admin_product_form_meta, locals do %>-->
    <!--<p>-->
      <%= f.label :meta_keywords, t("meta_keywords") %><br/>
      <!--<%= f.text_field :meta_keywords, :class => 'fullwidth' %>-->
    <!--</p>-->
    <!--<p>-->
      <%= f.label :meta_description, t("meta_description") %><br/>
      <!--<%= f.text_field :meta_description, :class => 'fullwidth' %>-->
    <!--</p>-->
<!--<% end %>-->


<%= hook :admin_product_form_additional_fields, locals do %>
    <% Variant.additional_fields.select { |af| af[:only].nil? || af[:only].include?(:product) }.each do |field| %>
        <%= render :partial => "retailer/shared/additional_field", :locals => {:field => field, :f => f} %>
    <% end %>
<% end %>
