<%# render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= "#{t("actions.listing")} #{t("products")}" %></h1>

<div id="new_product"></div>

<div id="pagination_wrapper">
  <%= page_entries_info @products %><%= will_paginate @products %>
</div>

<table class="index" id='listing_products'>
  <tr>
    <%= hook :admin_products_index_headers do %>

        <th><%= sort_link @search, :leveredge, "LE" %></th>
        <th><%= sort_link @search, :id, "ID" %></th>
        <th>Main Image</th>
        <th>Store Name</th>
        <th>Stock Code<%# sort_link @search, :sku, "Stock Code" %></th>
        <th><%= sort_link @search, :name, t("name") %></th>
        <th>Start Price<%# sort_link @search, :price, "Start Price" %></th>
        <th>Current Price</th>
        <th>Reserve Price</th>
        <th><%= sort_link @search, :state, "State" %></th>
        <th><%= sort_link @search, :relist, "Auto-Relist" %></th>
        <th>Actions</th>
        <th>Facebook</th>

    <% end %>
  </tr>
  <% @products.each do |product| %>
      <tr <%= product_state_list_style(product) %> id="<%= dom_id product %>">
        <%- locals = {:product => product} %>
        <%= hook :admin_products_index_rows, locals do %>

            <td><%= image_tag("common/leveredge_logo.png", :width => "20px") unless !product.leveredge %></td>
            <td><%= product.id %></td>
            <td align="center">
              <% if product.images.empty? %>
                  <%= link_to image_tag("/images/noimage/product.jpg", :width => 50), edit_object_url(product) %>
              <% else %>
                  <%= link_to image_tag(https_url(product.images.first.attachment.url(:small)), :width => 50), product_url(product), :class => "image" %>
              <% end %>
              <div class="tooltip">
                <strong>Started at:</strong> <%= product_start_time(product) %>
                <br/>
                <strong>Ends in:</strong> <%= product_time_left(product) %>
                <br/>
                <strong>Offers:</strong> <%= product.bids.count %>
                <br/>
                <strong>Located at:</strong> <%= product.store.city %>
              </div>
            </td>
            <td><%= product.store.name %></td>
            <td><%= product.sku %></td>
            <td class="product_name"><%= product.name %></td>
            <td class="product_price"><%= format_price(product.price) %></td>
            <td><%= product_current_price(product) %></td>
            <td><%= format_price(product.cost_price) %></td>
            <td><%= product.state %></td>
            <td class="auto_relist"><%= check_box(dom_id(product), :relist, :checked => product.relist?, :class => "relist_checkbox") unless product.sold? || product.cart? %></td>
        <% end %>

        <td class="actions" width="12%">
          <%= hook :admin_products_index_row_actions, locals do %>
              <%= admin_actions(product) %>
          <% end %>
        </td>
        <td width="70">
          <img style="cursor:pointer;" src="/images/common/fb_share.png" alt="Share with facebook" class="fb_share"/>

          <div class="fb_product_info" style="display:none;">
            <p class="image"><%= mini_image(product) %></p>

            <p class="name"><%= product.name %></p>

            <p class="store_name"><%= product.store.name %></p>

            <p class="interval"><%= product.interval %></p>

            <p class="drop_amount"><%= format_price(product.drop_amount) %></p>

            <p class="link"><%= product_url(product) %></p>
          </div>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @products %>

<!-- ====== Hidden OnLoad ====== -->

<div id="fb-select-pages">
  <div class="pop_content">
    <h2 class="dialog_title pas">Post this product to Facebook
      <div class="uiCloseButton" style="float:right;"></div>
    </h2>

    <div class="dialog_body">
      <p>Which page would you like to post to?</p>
      <select id="fb-pages"></select>
    </div>
    <div class="dialog_buttons pal">
      <button id="page_submit" class="uiButtonConfirm pam close" style="color:#fff; font-weight:bold;">
        Select
      </button>
    </div>
  </div>
</div>

<div id="admin_email_campaign_container">
  <div id="admin_email_campaign">
    <%= form_tag admin_products_url, :id => "admin_email_campaign_form" do -%>
        <div>
          <%= label_tag "subject" %>
          <br/>
          <%= text_field_tag "subject" %>
          <br/>
          <%= label_tag "message" %>
          <br/>
          <%= text_area_tag "message" %>
        </div>
        <div>
          <%= check_box_tag "include_more_product" %>
          <div class="actions">
            <%= submit_tag "Send", :class => "button finish", :confirm => "Are you sure you wish to send this email to your Aweber list?" %>
            <a href="javascript:void(0);" class="button cancel" id="email_campaign_cancel">Cancel</a>
          </div>
        </div>
    <% end -%>
  </div>
</div>



<div id="fb-root"></div>
<script type="text/javascript">
    var isOpen = false;
    // On Page Dynamic Layout Elements
    $(".panel_trigger").click(function () {
        var $this = $(this);
        var product_row = $this.parents('tr');
        var new_action = "/admin/products/" + product_row.attr('id').split("_")[1] + "/product_campaign";

        openPanel($("#admin_email_campaign_container"), product_row);
        isOpen = true
        $("#admin_email_campaign_form").attr('action', new_action);
    });


    $("#email_campaign_cancel").live('click', function () {
        $(this).parents('tr').fadeOut(function () {
            $(this).remove();
        });
        isOpen = false;
    });


    function openPanel(container, target) {
        if (isOpen == false) {
            target.hide().after("<tr class='panel'><td colspan=13>" + container.html() + "</td></tr>").fadeIn();
        }
    }


    var app_id;

    <% if Rails.env == 'production' %>
    app_id = '202781719761220'; // Jewellover
    <% else %>
    app_id = '176544045776839'; // Scratch22
    <% end %>


    window.fbAsyncInit = function () {
        FB.init({
            appId:app_id, // App ID
            channelUrl:'//<%= request.env["HTTP_HOST"] %>/channel.html', // Channel File
            status:true, // check login status
            cookie:true, // enable cookies to allow the server to access the session
            xfbml:true  // parse XFBML
        });

    };

    // Vars
    var user_access_token, fb_product_info, user_id, page_name, page_id, page_access_token;

    var overlay = $("#fb-select-pages").overlay({
        api:true,
        onBeforeLoad:function () {
            get_pages();
        }
    });

    $('#page_submit').click(function () {
        post_page();
    });

    $('.uiCloseButton').click(function () {
        overlay.close();
    });

    $('#fb-pages').change(function (event) {
        $this = $(this);
        assign_page_info($this.children(":selected"));
    });


    // Functions
    function check_login() {

        FB.getLoginStatus(function (response) {

            if (response.status != "connected") {

                login();
                console.log(response.status);
            } else {
                user_access_token = response.authResponse.accessToken;
                user_id = response.authResponse.userID;


                overlay.load();
            }
        });
    }


    function login() {
        FB.login(function (response) {
            user_id = response.authResponse.userID;
            user_access_token = response.authResponse.accessToken;
            overlay.load();
        }, {scope:'manage_pages, publish_stream'});
    }


    function get_pages() {


        FB.api('/me/accounts', function (response) {
            $('#fb-pages').empty();

            i = 0;
            for (page in response.data) {
                var option = $('<option data-pid="' + response.data[page].id + '"></option>').text(response.data[page].name.substring(0, 30) + ' - ' + response.data[page].category).val(response.data[page].access_token);
                $('#fb-pages').append(option);

                if (i == 0) {
                    page_id = response.data[page].id;
                    page_access_token = response.data[page].access_token;
                }
                i++;
            }
        });


    }

    function assign_page_info(option) {
        $this = option;

        page_id = $this.attr("data-pid");
        page_access_token = $this.val();

    }

    function post_page() {

        var image, name, store_name, interval, drop_amount, link, minutes;

        image = fb_product_info.find('p.image img').attr('src');
        name = fb_product_info.find('p.name').text();
        store_name = fb_product_info.find('p.store_name').text();
        interval = fb_product_info.find('p.interval').text();
        link = fb_product_info.find('p.link').text();
        drop_amount = fb_product_info.find('p.drop_amount').text();

        if (interval > 1) {
            minutes = 'minutes';
        } else {
            minutes = 'minute';
        }

        var obj = {
            method:'feed',
            to:page_id,
            from:page_id,
            link:link,
            picture:image,
            name:name,
            caption:"from " + store_name,
            description:'Check out our latest "' + name + '" listed on JewelLover – this item will reduce ' + drop_amount + ' every ' + interval + " " + minutes + ' until it sells. Get in quick!'
        }


        FB.ui(obj, function (response) {
            if (response) {
                var flash = $('<div/>', {'class':"flash notice"}).html("Thank you, product was posted to facebook successfully.").show().delay(3500).slideUp();
                flash.prependTo('#content');
            }
        });

    }

    // Additional initialization code here
    $('.fb_share').click(function () {

        fb_product_info = $(this).parent().find('.fb_product_info');
        check_login();

    });

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));


    // AUTO Relist Funcionality
    $(".relist_checkbox").click(function () {
        $this = $(this).parent().parent();

        $pid = $this.attr("id").split("_")[1];

        $pname = $this.find('.product_name').html();

        $true = $('<div/>', {'class':"flash notice"}).html("Thank you, " + $pname + " is set to relist automatically");
        $false = $('<div/>', {'class':"flash notice"}).html("Thank you, " + $pname + " will not automatically relist");


        $.ajax({
            url:"/admin/products/" + $pid + "/toggle_relist",
            type:"post",
            success:function () {
                if ($this.find('.relist_checkbox').attr("checked")) {
                    $true.prependTo("#content");
                } else {
                    $false.prependTo("#content");
                }
                $(".flash").delay(3500).slideUp();
            }
        });
    });

    $("a.image").tooltip({position:'top right', offset:[-150, 0]});

</script>


<% content_for :head do %>
    <%= stylesheet_link_tag 'facebook' %>
<% end %>




<% content_for :sidebar do %>
    <%= hook :admin_products_sidebar do %>
        <%= form_for [:admin, @search] do |f| %>
            <div class="box">
              <h3><%= t(:search) %></h3>

              <%- locals = {:f => f} %>
              <%= hook :admin_products_index_search, locals do %>
                  <p>
                    <%= f.label :name_contains, t("name") %><br/>
                    <%= f.text_field :name_contains, :size => 15 %>
                  </p>

                  <p>
                    <%= f.label :variants_including_master_sku_contains, t("sku") %><br/>
                    <%= f.text_field :variants_including_master_sku_contains, :size => 15 %>
                  </p>

                  <p>
                    <%= f.label :store_name_contains, "Store Name" %><br/>
                    <%= f.text_field :store_name_contains, :size => 15 %>
                  </p>

                  <p>
                    <%= f.label :deleted_at_is_null, "Show Archived" %><br/>
                    <%= f.check_box :deleted_at_is_null, {:checked => params[:search][:deleted_at_is_null].blank?}, "", "1" %>
                  </p>
              <% end %>

              <%= hook :admin_products_index_search_buttons, locals do %>
                  <div class="form-buttons">
                    <%= f.submit "Search", :class => "button search" %>
                  </div>
              <% end %>
        <% end %>
        </div>

        <hr/>
        <div class="box">
          <%= render 'retailer/shared/jms' %>
        </div>


    <% end %>

<% end %>

