<%# render :partial => 'retailer/shared/product_sub_menu' %>

<%= render "shared/error_messages", :target => @product %>

<%= form_for(:product, :url => collection_url, :html => {:multipart => true}) do |f| %>
    <fieldset>

      <%= f.field_container :name do %>
          <%= f.label :name, t("name") %> <span class="required">*</span><br/>
          <%= f.text_field :name, :class => 'fullwidth title' %>
          <%= f.error_message_on :name %>
      <% end %>

      <div class="yui-gb">
        <div class="yui-u first">

          <% unless @product.has_variants? %>
              <%= f.field_container :sku do %>
                  <%= f.label :sku, t("sku") %>
                  <br/>
                  <%= f.text_field :sku, :size => 16 %>
                  <%= f.error_message_on :sku %>
              <% end %>
          <% end %>

        </div>
        <div class="yui-u">

          <%= f.field_container :price do %>
              <%= f.label :price, t("start price") %> <span class="required">*</span><br/>
              <%= f.text_field :price %>
              <%= f.error_message_on :price %>
          <% end %>

          <%= f.field_container :cost_price do %>
              <%= f.label :cost_price, "Reserve Price" %> <span class="required">*</span><br/>
              <%= f.text_field :cost_price %>
              <%= f.error_message_on :cost_price %>
          <% end %>

          <%= f.field_container :interval do %>
              <%= f.label :interval, "Price Drop Interval" %> <span class="required">*</span><br/>
              <select name="product[interval]">
                <option value="60">1hr</option>
                <option value="30">30min</option>
                <option value="15">15min</option>
                <option value="5">5min</option>
                <option value="1">1min</option>
              </select>
          <% end %>
          <br/>
          <%= f.field_container :size do %>
              <%= f.label :size, "Item Size" %>  <br/>
              <%= f.text_field :size %>
          <% end %>
          <%= f.field_container :resizable do %>
              <%= f.label :resizable, "Resizable?" %>
              <small>Can this item be resized?</small>
              <%= f.check_box :resizable %>
          <% end %>
          <%= f.field_container :certified do %>
              <%= f.label :certified, "Certified?" %>
              <small>You may be asked for a copy</small>
              <%= f.check_box :certified %>
          <% end %>
          <br/>

          <%= f.field_container :available_on do %>
              <%= f.label :available_on %><br/>
              <%= datetime_select :product, :available_on %>
          <% end %>
          <!--<p>
            <%= f.label :available_on, t("available_on") %><br/>
            <%= f.spree_date_picker :available_on, :style=>"width:150px" %>
            <%= f.error_message_on :available_on %>
          </p>-->


        </div>
      </div>

      <%= render :partial => 'admin/shared/new_resource_links' %>

    </fieldset>
<% end %>
<%= javascript_tag "datePickerController.create();" %>
