<div>
  <% if @list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>
        <ul>
          <% @list.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for [:admin, @list], :url => upload_csv_admin_list_path(@list), :html => {:multipart => true} do |f| %>
      <%= f.field_container :file do %>
          <%= f.label :file %>
          <br/>
          <%= f.file_field :file %>
          <%= f.error_message_on :file %>
      <% end %>
      <%= f.submit "Upload" %>
  <% end %>
  <br/>
  <%= link_to_with_icon "relist", "Download CSV", download_csv_admin_list_path(@list) %>


</div>