<h1>Testimonials</h1>
<p>We've had some pretty happy buyers come through our online doors, here's what they had to say.</p>

<ul id="testimonials">
  <% @posts.each_with_index do |post, index| %>
      <li class="testimonial <%= index.even? ? "even" : "odd" %>">
        <%= render "testimonial", :testimonial => post %>
      </li>
  <% end %>
</ul>

<% content_for :sidebar do %>
    <%= render "shared/sidebar" %>
<% end %>