<div id="both" class="overlay">

  <div class="login">
    <h2>Login</h2>
    <%= form_for(resource, :as => resource_name, :html => {:id=>'new_user_session'}, :url => user_session_url(:protocol => "https")) do |f| %>
        <%= hidden_field_tag :redirect_to %>

        <p>
          <%= f.label(:email, t("email")) %>
          <br/>
          <%= f.text_field('email', :class => 'title') %>
          <small class="required">*</small>
        </p>
        <p>
          <%= f.label :password, t("password") %>
          <br/>
          <%= f.password_field 'password', :class => 'title' %>
          <small class="required">*</small>
        </p>
        <br/>

        <p class="form_actions">
          <small>
            <%= f.check_box :remember_me %>
            Remember Me?
            <%= link_to "Forgotten password?", new_user_password_path %>
          </small>

          <%= f.submit "Login", :class => 'button' %>
        </p>
    <% end %>
    <br/>

    <%= image_tag "common/free20.png", :style => "width:300px;" %>

    <!--<p>-->
    <!--<label>Login using:</label>-->
    <!--<%# link_to image_tag('common/fb_login.png'), "/auth/facebook", :style => "float:left;" %>-->
    <!--</p>-->

  </div>
  <div class="signup">
    <h2>Create a New Account</h2>
    <%= form_for(resource, :as => resource_name, :url => registration_url(resource, :protocol => "https")) do |f| %>
        <%= hidden_field_tag :redirect_to %>

        <%= render "shared/error_messages", :target => resource %>

        <div>
          <p>
            <%= f.label :username, "Username" %>
            <br/>
            <%= f.text_field :username %>
            <small class="required"> *</small>
          </p>
          <p>
            <%= f.label :email, "Email" %>
            <br/>
            <%= f.text_field :email %>
            <small class="required"> *</small>
          </p>
          <p>
            <%= f.label :password, "Choose a password" %>
            <br/>
            <%= f.password_field :password %>
            <small class="required"> *</small>
          </p>
          <br/>

          <p class="form_actions">
            <%= f.submit "Create Now", :class => 'button' %>
          </p>

          <br>

          <p>
            <small><span class="required">Please Note:</span> By registering on JewelLover you agree and accept
              the <%= link_to "Terms &amp; Conditions".html_safe, "/terms_and_conditions", :target => "_blank" %>
              and <%= link_to "Privacy Policy", "/privacy_policy", :target => "_blank" %>.
            </small>
          </p>
        </div>


    <% end %>

  </div>


</div>
