<div id="login_overlay" class="overlay">
  <div class="close"></div>
  <div class="login_form">
    <%= form_for(:user, :url => user_session_path) do |f| %>

        <%= render 'shared/forms/login_form', :f => f %>

    <% end %>
  </div>

  <%= link_to t("create_a_new_account"), signup_path %>
  | <%= link_to t("forgot_password"), new_user_password_path %>
</div>