<div id="signup_overlay" class="overlay">

 <%= image_tag "common/free20.png" %>

  <br class="clear">

  <p>Apparently it’s all the buzz these days
    to give away free money! So we’ve decided to jump on the bandwagon. To collect your $10 voucher just register with
    one of the methods below and you’ll receive it with your welcome package. So what are you waiting for!?</p>

  <h2>Register Now!</h2>

  <div class="with_facebook">
    <h4>The Easy Way</h4>

    <div class="grey_grad round_10">
      <%= link_to ("with <strong>Facebook</strong>").html_safe, "/auth/facebook" %>
    </div>
  </div>
  <div class="register round_10">
    <h4>Don't have Facebook?</h4>

    <div class="grey_grad">
      <%= link_to "Register here", new_user_registration_path, :class => "red_metal_grad" %>
    </div>
  </div>

</div>