<h1><%= t("listing_reports") %></h1>

<br/>

    <table class="index">
      <thead>
        <tr>
          <th><%= t("name") %></th>
          <th><%= t("description") %></th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |key, value| %>
        <tr>
          <td><%= link_to t(value[:name].downcase.gsub(" ","_")), send("#{key}_retailer_reports_url".to_sym) %></td>
          <td><%= t(value[:description].downcase.gsub(" ","_")) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

