<p class="form-buttons">
  <%= f.submit :value => "Finish", :class => "button finish" if @current_action == "edit" %>
  <%= f.submit :value => "Next", :class => "button next" %>
  <%= link_to 'Cancel', retailer_products_url, :class => "button cancel" %>
</p>
