<% if products.any? %>
  <% form_tag retailer_product_groups_path do %>
    <%= hidden_field_tag "product_group[product_scopes_attributes][][name]", 'with_ids' %>
    <%= hidden_field_tag "product_group[product_scopes_attributes][][arguments][]", products.map(&:id).join(',') %>
    <fieldset>
      <legend><%= t('create_product_group_from_products') %></legend>
      <label><%= t('name') %></label>
      <%= text_field_tag "product_group[name]",  'New group' %>
      <input type="submit" value="<%= t('create') %>">
    </fieldset>
  <% end %>
<% end %>
