<div class="sidebar_ad" id="retailer_jms_ad">
  <h3>Discover the <span>6 Secrets to Making More Profit</span> from your Jewellery Store Marketing</h3>
  <br/>
  <%= image_tag 'themargyles.jpg' %>
  <h4>Plus receive a free copy of our ebook <br/><span>"How to Effectively Market your Jewellery Store"</span></h4><br/>
  <%= link_to "Click here for Your Free E-Book", "http://www.jewellerymarketingsolutions.com", :class => "ebook_link" %>
  <hr/>
  <%= image_tag 'jms.jpg' %>
  <br/>

  <p><strong>e:</strong> admin@jewellerymarketingsolutions.com<br/>
    <strong>w:</strong> www.jewellerymarketingsolutions.com</p>
</div>