<h1><%= t(:order) + " #{@order.number}" %></h1>

<% content_for :sidebar do %>
  <div id="order_tab_summary">
    <h3 id="order_number"><%= "#{t(:order)} ##{@order.number} " %></h3>
    <h5 id="order_status"><%= "#{t(:status)}: #{t("order_state.#{@order.state}")}" %></h5>
    <h5 id="order_total"><%= "#{t(:total)}: #{number_to_currency(@order.total)}" %></h5>
    <% if @order.completed? %>
      <h5 id="shipment_status"><%= "#{t(:shipment)}: #{t("shipment_states.#{@order.shipment_state}")}"  %></h5>
      <h5 id="payment_status"><%= "#{t(:payment)}: #{t("payment_states.#{@order.payment_state}")}" %></h5>
    <% end %>
    <br class="clear" />
  </div>
  <br class="clear" />

  <ul class="sidebar">
    <%= hook :admin_order_tabs do %>
      <% unless @order.completed? %>
        <li<%== ' class="active"' if current == "Order Details" %>>
          <%= link_to t("order_details"), edit_retailer_order_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == "Customer Details" %>>
            <%= link_to t("customer_details"), user_retailer_order_url(@order) %>
        </li>
        <!--<li<%== ' class="active"' if current == "Shipments" %>>-->
           <!--<%= link_to t("shipment"), @order.line_items.empty? || !@order.completed? ? "javascript:$('form').submit();" : edit_retailer_order_shipment_url(@order, @order.shipment) %>-->
        <!--</li>-->
        <!--<li<%== ' class="active"' if current == "Adjustments" %>>-->
           <!--<%= link_to t("adjustments"), @order.line_items.empty? || !@order.completed? ? "javascript:$('form').submit();" : retailer_order_adjustments_url(@order) %>-->
        <!--</li>-->
        <!--<li<%== ' class="active"' if current == "Payments" %>>-->
           <!--<%= link_to t("payment"), @order.line_items.empty? || !@order.completed? ? "javascript:$('form').submit();" : new_retailer_order_payment_url(@order) %>-->
        <!--</li>-->

      <% else %>
        <!--<li<%== ' class="active"' if current == "Order Details" %>>-->
          <!--<%= link_to t("order_details"), edit_retailer_order_url(@order) %>-->
        <!--</li>-->
        <!--<li<%== ' class="active"' if current == "Customer Details" %>>-->
          <!--<%= link_to t("customer_details"), user_retailer_order_url(@order) %>-->
        <!--</li>-->
        <!--<li<%== ' class="active"' if current == "Adjustments" %>>-->
           <!--<%= link_to t("adjustments"), retailer_order_adjustments_url(@order) %>-->
        <!--</li>-->
        <!--<li<%== ' class="active"' if current == "Payments" %>>-->
           <!--<%= link_to t("payments"), retailer_order_payments_url(@order) %>-->
        <!--</li>-->
        <li<%== ' class="active"' if current == "Shipments" %>>
           <%= link_to 'Sales Details', edit_retailer_order_shipment_url(@order, @order.shipment) %>
        </li>
        <!--<li<%== ' class="active"' if current == "Return Authorizations" %>>-->
           <!--<%= link_to t("return_authorizations"), retailer_order_return_authorizations_url(@order) %>-->
        <!--</li>-->
        <!--<li<%== ' class="active"' if current == "History" %>>-->
           <!--<%= link_to t("history"), history_retailer_order_url(@order) %>-->
        <!--</li>-->
      <% end %>



    <% end %>
  </ul>

<% end %>
