<% content_for :sub_menu do %>
  <ul id="sub_nav">
    <%= hook :retailer_product_sub_tabs do %>
      <%= tab :products, :match_path => '/products' %>
      <%= tab :option_types, :match_path => '/option_types' %>
      <%= tab :properties %>
      <%= tab :prototypes %>
      <%= tab :product_groups, :match_path => '/product_groups', :css_class => 'last' %>
    <% end %>
  </ul>
<% end %>
