<h1><%= raw(t("editing_product") + " &ldquo;#{@product.name}&rdquo;") %></h1>

<% content_for :sidebar do %>

  <h3><%= @product.name %><span class='sku'><%= @product.sku %></span></h3>
  <br class="clear" />

  <ul class="sidebar product-menu">
    <%= hook :retailer_product_tabs, {:current => current} do %>

      <li<%== ' class="active"' if current == "Product Details" %>>
        <%= link_to t("product_details"), edit_retailer_product_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == "Images" %>>
        <%= link_to t("images"), retailer_product_images_url(@product) %>
      </li>
      <!-- <li<%#== ' class="active"' if current == "Variants" %>>
        <%# link_to t("variants"),  retailer_product_variants_url(@product)  %>
      </li>
      <li<%#== ' class="active"' if current == "Option Types" %>>
        <%# link_to t("option_types"), selected_retailer_product_option_types_url(@product) %>
      </li>
      <li<%#== ' class="active"' if current == "Product Properties" %>>
        <%# link_to t("product_properties"), retailer_product_product_properties_url(@product) %>
      </li> -->
      <li<%== ' class="active"' if current == "Taxons" %>>
        <%= link_to t("taxons"), selected_retailer_product_taxons_url(@product) %>
      </li>

    <% end %>
  </ul>
  <br class="clear" />

<% end %>
