<%= form_for @search, :url => sales_total_retailer_reports_path do |s| %>
    <label><%= t("date_range") %></label><br />
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first">
        <%= s.spree_date_picker :created_at_greater_than %><br />
        <label class="sub"><%= t("start") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= s.spree_date_picker :created_at_less_than %><br />
        <label><%= t("stop") %></label>
      </div>
    </div>

    <p><%= button t("search") %></p>
<% end %>
