<div class="retailer_ads">

  <%= link_to image_tag("common/edge.jpg"), "http://www.retailedgeconsultants.com.au", :class => "retailer_ad", :target => "_blank" %>
  <%= link_to image_tag("gcds.jpg"), "http://www.jewelpro.com.au", :class => "retailer_ad", :target => "_blank" %>

</div>