<h3>Jewellover Support</h3>
<p><strong>Contact:</strong> Kerry</p>
<p><strong>Skype Username:</strong> JewelloverSupport</p>
<p><strong>Phone:</strong> 07 5641 4996</p>
<p><strong>Email:</strong> info@jewellover.com.au</p>

<h3>Paypal Support</h3>
<p><strong>Contact:</strong> Sadhna</p>
<p><strong>Email:</strong> smb-support@paypal.com.au</p>
<p><strong>Phone:</strong> 1800 244 677</p>