<div id="support_videos">
  <div id="support_videos_container">
    <a href="${url}" class="video_link">${title}</a>
  </div>
  <!-- flowplayer container -->
  <a id="player" href="#"></a>
</div>
<% content_for :head do -%>
    <%= javascript_include_tag "/javascripts/flowplayer/example/flowplayer_playlist-3.0.8.js" %>
    <script type="text/javascript">
        $(function() {
            // install flowplayer into flowplayer container
            var player = $f("player", "/javascripts/flowplayer/flowplayer-3.2.7.swf", {
                clip: {
                    baseUrl:'https://s3.amazonaws.com/jewellover/videos'
                },
                playlist: [
                    {
                        url:"jewellover_customer_orders_and_sales_reports.flv",
                        title: "Order/Sales Reports",
                        autoPlay:false
                    },
                    {
                        url:"jewellover_facebook_sharing.flv",
                        title: "Facebook Sharing"
                    },
                    {
                        url:"jewellover_listing_an_item.flv",
                        title: "List an Item"
                    },
                    {
                        url:"jewellover_shipping_and_refunds.flv",
                        title: "Shipping"
                    },
                    {
                        url:"jewellover_multiple_stores.flv",
                        title: "Multiple Stores"
                    },
                    {
                        url:"jewellover_processing_a_refund.flv",
                        title: "Refunds"
                    },
                    {
                        url:"jewellover_retailer_registration.flv",
                        title: "Registration"
                    }
                ],
                plugins: {
                    controls: {
                        playlist:true,
                        autoHide:'never'
                    }
                }

            }).playlist("#support_videos_container", {loop:true});

        })
    </script>
<% end %>
