<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>JewelLover Australia</title>
  <style type="text/css">

      * {
          padding: 0;
          margin: 0;
      }

      body {
          background: #e3e3e3;
          font-family: Helvetica, Arial, sans-serif;
          line-height: 20px;
          font-size: 13px;
      }

      hr {
          border: none;
          border-bottom: 1px #ccc solid;
          margin-bottom: 20px;
      }

      img {
          border: none;
      }

      a.button {
          text-align: center;
          display:block;
          margin:15px auto;
          width:400px;
          background: #ddd;
          padding: 8px 15px;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          color: #222;
      }

      a.button:hover {
          background: #eee;
          text-decoration: underline;
      }

      a.button.red {
          background:#ac0101;
          color:#fff;
          font-weight:bold;
      }

      a.button.red:hover {
          background: #d71010;
      }

      a:hover {
          text-decoration: none !important;
      }

      .header h1 {
          color: #47c8db !important;
          font: bold 32px Helvetica, Arial, sans-serif;
          margin: 0;
          padding: 0;
          line-height: 40px;
      }

      .header p {
          color: #c6c6c6;
          font: normal 12px Helvetica, Arial, sans-serif;
          margin: 0;
          padding: 0;
          line-height: 18px;
      }

      .content h2 {
          font-weight: bold;
          line-height: 30px;
          font-size: 24px;
          color: #a21c1f;
      }

      .content h3 {
          color: #a21c1f;
          line-height: 25px;
          font-size: 18px;
      }

      .content p {
          color: #333;
          line-height: 20px;
          font-size: 13px;
          margin: 0 0 15px 0;
      }

      .content a {
          font-weight:bold;
      }

      .content ul {
          list-style: inside;
      }

      .textbox{
          text-align: center;
      }

      p {
          margin: 0 0 15px 0;
      }

      .footer p {
          font-size: 11px;
          color: #7d7a7a;
          margin: 0;
          padding: 0;
          font-family: Helvetica, Arial, sans-serif;
      }

      .footer a {
          color: #0eb6ce;
          text-decoration: none;
      }

  </style>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="padding: 35px 0;">
  <tr>
    <td align="center">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="header">
        <tr>
          <td width="600" align="left" style="padding:0; font-size: 0; line-height: 0; height: 7px;" height="7" colspan="2">
            <%= image_tag("http://www.jewellover.com.au/images/newsletter-images/header.jpg", :alt => "header bg") %></td>
        </tr>
      </table>
      <!-- header-->
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="background: #fff;" bgcolor="#fff">
        <tr>
          <td width="600" valign="top" align="left" style="font-family: Helvetica, Arial, sans-serif; padding: 20px 0 0;" class="content">
            <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="600">
              <tr>
                <td width="21" style="font-size: 1px; line-height: 1px;">
                  <%= image_tag("http://www.jewellover.com.au/images/newsletter-images/spacer.gif", :alt => "space", :width => "20") %>
                </td>
                <td style="padding: 15px 0 15px;" valign="top">
                  <%= yield %>
                  <br/>
                </td>
                <td width="21" style="font-size: 1px; line-height: 1px;">
                  <%= image_tag("http://www.jewellover.com.au/images/newsletter-images/spacer.gif", :alt => "space", :width => "20") %>
                </td>
              </tr>
            </table>
          </td>
        </tr>


      </table>
      <!-- body -->
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family: Helvetica, Arial, sans-serif; line-height: 10px;" class="footer">
        <tr>
          <td align="center" style="padding:20px 10px 10px 10px; font-size: 12px; color:#8e8e8e; line-height: 15px;" valign="top">

            <%= link_to image_tag("#{root_url}images/common/facebook.png", :alt => "Find us on Facebook", :width => "16px"), "https://www.facebook.com/lovejewellover" %>
            <%= link_to image_tag("#{root_url}images/common/twitter.png", :alt => "Follow us on Twitter", :width => "16px"), "http://twitter.com/#!/jewelloveroz" %>
            <%= link_to image_tag("#{root_url}images/common/google.png", :alt => "Join us on Google", :width => "16px"), "https://plus.google.com/102759805767149178826/posts" %>

            <p>Not sure why you have received this email? <%= link_to "Ask Us", "mailto:info@jewellover.com.au" %></p>

            <p>If you wish to unsubscribe <%= link_to "Tell Us", "mailto:info@jewellover.com.au" %></p>

            <p>JewelLover is a registered trademark of Jewellery Marketing Solutions.</p>
          </td>
        </tr>
      </table>
      <!-- footer-->
    </td>
  </tr>
</table>
</body>
</html>