<%- locals = {:f => f} %>
<%= hook :admin_user_form_fields, locals do %>
  <%= f.field_container :email do %>
    <%= f.label :email, t("email") %><br />
    <%= f.text_field :email  %>
    <%= error_message_on :user, :email%>
  <% end %>

  <%= f.field_container :username do %>
    <%= f.label :username, "Username" %><br />
    <%= f.text_field :username  %>
    <%= f.error_message_on :username %>
  <% end %>

  <%= f.field_container :password do %>
    <%= f.label :password, t("password") %><br />
    <%= f.password_field :password  %>
    <%= f.error_message_on :password %>
  <% end %>

  <%= f.field_container :password do %>
    <%= f.label :password_confirmation, t(:confirm_password) %><br />
    <%= f.password_field :password_confirmation  %>
    <%= f.error_message_on :password_confirmation %>
  <% end %>
<% end %>


<% if @user.respond_to?(:roles) %>
<%= hook :admin_user_form_roles, locals do %>
  <p>
    <label><%= t("roles") %></label><br />
    <% for role in @roles %>
      <label class="sub">
        <%= check_box_tag "user[role][#{role.name}]", 1, @user.has_role?(role.name) %>
        <%= role.name %>
      </label> &nbsp;
    <% end %>
  </p>
<% end %>
<% end %>