<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= link_to t("new_user"), new_object_url, :id => 'admin_new_user_link', :class => "button add" %></p>
    </li>
  </ul>
</div>


<h1><%= t("listing_users") %></h1>

<table class="index" id='listing_users'>
  <thead>
  <tr>
    <%= hook :admin_users_index_headers do %>
        <th><%= sort_link @search, :email, t("user"), {}, {:title => 'users_email_title'} %></th>
        <th><%= sort_link @search, :username, "Username" %></th>
        <th><%= sort_link @search, :role, "Role" %></th>
        <th><%= sort_link @search, :created_at, "Member Since" %></th>
        <th width="100">Banned User</th>
        <th>
          <%= hook :admin_users_index_header_actions %>
        </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr id="<%= dom_id user %>">
        <%- locals = {:user => user} %>
        <%= hook :admin_users_index_rows, locals do %>
            <td width="350px" class='user_email'><%= mail_to user.email, "#{user.email}" %></td>
            <td><%= user.username %></td>
            <td><%= user.list_roles %></td>
            <td><%= user.created_at.to_formatted_s(:long) %></td>
            <td class="banned_user" align="center" data-uid="<%= user.id %>"><%= check_box(dom_id(user), :locked_at, :checked => !user.locked_at.nil?) %></td>
        <% end %>
        <td>
          <%= hook :admin_users_index_row_actions, locals do %>
              <%= link_to_edit user, :class => "edit" %> &nbsp;
              <%= link_to_delete user %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>


<% content_for :head do %>
    <script type="text/javascript">
        $(function () {
            $(".banned_user :checkbox").click(function() {
                $this = $(this);

                $uid = $this.parent().attr("data-uid");


                $user = $("td", $this.parent().parent()).find("a").eq(0).text();


                $true = $('<div/>', {class : "flash notice"}).html("Thank you, " + $user + " has been banned");
                $false = $('<div/>', {class : "flash notice"}).html("Thank you, " + $user + " has been un-banned");

                $.ajax({
                    url : "<%= root_url %>admin/users/" + $uid + "/toggle_ban",
                    type : "post",
                    success : function() {
                        if ($this.attr("checked")) {
                            $true.prependTo("#content");
                        } else {
                            $false.prependTo("#content");
                        }
                        $(".flash").delay(3500).slideUp();
                    },
                    error : function(data) {
                        $('<div/>', {class : "flash error"}).html("There was an error! Please try again").prependTo("#content");
                        $(".flash").delay(3500).slideUp();
                    }
                });


            });
        });
    </script>
<% end %>




<% content_for :sidebar do %>
    <div class="box">
      <h3><%= t(:search) %></h3>
      <% @search = User.search %>
      <%= form_for [:admin, @search] do |f| %>
          <%- locals = {:f => f} %>
          <%= hook :admin_users_index_search, locals do %>
              <p>
                <%= t("email") %><br/>
                <%= f.text_field :email_contains, :size=>18 %>
              </p>

              <p>
                Roles<br/>
                <%= f.select :with_role_by_name, options_for_select({
                                                                            "Choose Role" => "",
                                                                            "Admin" => "admin",
                                                                            "Retailer" => "retailer",
                                                                            "User" => "user"
                                                                    }, :include_blank => true) %>
              </p>


          <% end %>
          <%= hook :admin_users_index_search_buttons, locals do %>
              <p><%= button t("search") %></p>
          <% end %>
      <% end %>
    </div>
<% end %>