<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%# button_link_to t("new_product"), new_object_url, {:remote => true, :id => 'retailer_new_product', :class => "button add"} %>
    </li>
  </ul>
</div>

<h1><%= @list.name %> - recipients</h1>

<table class="index">
  <thead>
  <tr>
    <th width="70%">Email</th>
    <th width="20%">Subscribed On</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @list_recipients.each do |recipient| %>
      <tr>
        <td><%= recipient.contact.email %></td>
        <td><%= recipient.contact.created_at.to_formatted_s(:long) %></td>
        <td>
          <%= button_to "Remove Recipient", admin_list_contact_path(@list.id, recipient), :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
   <%= render 'admin/shared/forms/contacts' %>
<% end %>