<h3>CONGRATULATIONS!</h3>

<p>Your offer on <%= @product.name %> listed on JewelLover has been successful.</p>
<p>Please login and complete your purchase as soon as possible.</p>

<%= link_to "Login now to complete your purchase", orders_url %>