<h3><%= @user.username %> - Thank you for your offer!</h3>

<p>Fingers crossed... your offer is now leading the way.</p>
<p>We will notify you via email if someone else places an offer higher than yours so keep an eye on your inbox!</p>
<br/>

<%= link_to "View Product Now", product_url(@product), :class => "button" %>
<br/>


<p>Thank-you</p>
