<h3><%= @user.username %>!</h3>
<h4>Your offer has been beaten!!</h4>

<p>Login now to increase your offer and take the lead again!</p>

<p><%= link_to "Login to view the latest offer!", product_url(@product) %></p>

<p>Thank-you</p>