<%= form_for bid do |b| %>
    <%= hidden_field_tag "product", product.id %>
    <% unless user_signed_in? && current_user.has_role?("retailer") %>
        <%= content_tag :span, :style => "margin:0 0 5px 0; display:block; overflow:hidden;" do %>
            <strong>$</strong> <%= b.text_field :amount, :style => "width:70px;" %>
        <% end %>
        <%= content_tag :span, :style => "display:block; overflow:hidden;" do %>
            <%= b.submit "Offer!", :class => "action_button offer red #{auth_trigger}", :rel => "#both" %>
        <% end %>
    <% else %>
        <%= content_tag :span, :style => "margin:0 0 5px 0; display:block; overflow:hidden;" do %>
            <strong>$</strong> <%= b.text_field :amount, :style => "width:70px;", :disabled => true %>
        <% end %>
        <%= content_tag :span, :style => "display:block; overflow:hidden;" do %>
            <%= b.submit "Offer!", :disabled => true, :class => "action_button offer grey #{auth_trigger}", :rel => "#both" %>
        <% end %>
    <% end %>
<% end %>