<%= form_for :order, :url => populate_orders_url, :html => {:id => "buy_now"} do |f| %>

    <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => "title", :size => 3 %>

    <%= hook :inside_product_cart_form do %>

        <% unless @product.sold? || @product.cart? || @product.upcoming? || (user_signed_in? && current_user.has_role?("retailer")) %>
            <%= submit_tag 'Buy Now!', :class => "action_button buy_now red #{auth_trigger}", :id => "buy_now_submit", :rel => "#both" %>
        <% else %>
            <%= image_tag('/images/common/bid_buy_na.png') %>
        <% end %>

    <% end %>

<% end %>

