<% unless @product.nil? %>
    <div class="enlarge"></div>
    <%= image_tag product_image_url(@product) %>
    <%= product_image(@product) %>
<% end %>

<% content_for :head do %>
    <script type="text/javascript">
        $(function() {

            var gal = [];
            var ind = 0;


            $("#main_image").click(function() {
                $.fancybox(gal, {
                    'index': ind
                });
            });

            $("#main_image").hover(function() {
                $('.enlarge').show();
            }, function() {
                $('.enlarge').hide();
            });


            if ($(".thumbnails").length > 0) {
                //Swap Main Image
                $(".thumbnails li a").each(function(index) {
                    //Set photo product src
                    var swap = $(this).find("img").attr("src").replace(/small/, "product");
                    var orig = $(this).find("img").attr("src").replace(/small/, "original");

                    //Push each image into gallery for Fancybox
                    gal.push({
                        'href':orig
                    });

                    //Change main image
                    $(this).click(function() {
                        ind = index;
                        $("#main_image > img").attr("src", swap);
                    });
                });
            } else {
                var src = $("#main_image > img").attr("src").replace(/(product)\b/, "original");
                gal.push({
                    'href':src
                });
            }


        });
    </script>
<% end %>
