<div id="more_products_sidebar">
  <ul>
    <% products.each do |product| %>
        <li class="next_product">
          <%= render "product_details", :product => product %>

          <h5><%= link_to product.name.capitalize, product_path(product) %></h5>
          <%= link_to small_image(product), product_path(product) %>
          <div class="info">
            <!--<p>Save <span class="perc"><%= product.offer_saving %>%</span></p>-->
            <!--<p><span class="was"><%# format_price(product.price) %></span><br/>-->
            <p>Buy Now <br/><span class="currentPrice"><%= format_price product.current_price %></span></p>
            <p>Current price drops in<br/> <span class="time"></span></p>
            <p>But wait... you can save more!</p>
          </div>

        </li>
    <% end %>
  </ul>
</div>