<% if @next_product.present? %>
    <div class="infoHolder" style="overflow: visible;">

      <% if params[:store_id].present? %>
          <h4 class="general">Next Item From Store</h4>
      <% else %>
          <h4 class="general">Next <%= @product.taxons.first.name %></h4>
      <% end %>

      <div class="nextProduct">
        <%= image_tag "/images/common/next_product.jpg", :class => "arrow" %>
        <div>
          <table width="200" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td class="next_image" width="70%" valign="middle">
                <% if params[:store_id].present? %>
                    <%= link_to small_image(@next_product), store_product_path(@next_product.store, @next_product) %>
                <% else %>
                    <%= link_to small_image(@next_product), product_path(@next_product) %>
                <% end %>
              </td>
              <td class="next_text" width="30%">
                <% if params[:store_id].present? %>
                    <%= link_to @next_product.name, store_product_path(@next_product.store, @next_product) %>
                <% else %>
                    <%= link_to @next_product.name, product_path(@next_product) %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
<% end %>