<%= watchlist_btn(product) -%>
<div class="bidding">
  <div>
    <p style="margin:0 0 5px 0;"><strong>Current Price:</strong><br/>
      <span class="current"></span></p>

    <div class="timer">
      <p>Price starts dropping in:</p>
      <span class="time showpage">
        <% if product.available_on > 1.day.from_now %>
           <%= distance_of_time_in_words_to_now @product.available_on, :include_seconds => true %>
        <% end %>
      </span>
    </div>
  </div>
  <div style="padding:30px 7px 10px 11px; text-align:center;">
    <%= render 'cart_form' %>
  </div>
  <div style="padding:10px 0 5px 10px; width:112px; text-align:right;">
    <%= render :partial => "bid_form", :locals => {:bid => bid, :product => product} %>
  </div>
</div>
