<ul>
  <li>No. of bids: <%= product.bids.count %></li>
  <li>Categories: <%= product.taxons.map { |t| t.name }.join(", ") %></li>
  <li>Location: <%= product.store.city %></li>
  <li>Store: <%= product.store.name unless product.store.nil? %></li>
  <li>
    <%= watchlist_btn(product) %>
  </li>
</ul>
<ul>
  <li>Retail Price: <span class="start_price"><%= format_price product.price %></span></li>
  <li class="currentPrice">Current Price: <span class="current"></span></li>
  <li class="currentDiscount">Discount: <span class="current_discount"></span> off</li>
  <li>
    <div class="timer">
      <% if product.available_on > 1.day.from_now %>
          <strong>Time Remaining: <span><%= distance_of_time_in_words_to_now product.available_on, :include_seconds => true %></span></strong>
      <% else %>
          <strong>Time Remaining: <span class="time"></span></strong>
      <% end %>
      <span class="interval" style="display:none">60</span>
      <span class="started_at" style="display:none"><%= product.available_on %></span>
    </div>
  </li>
</ul>