<div class="product_details" style="display:none">
  <span class="product_show"><%= @product && @product.permalink == product.permalink ? "true" : "false" %></span>
  <span class="product_state"><%= product.state || "no state" %></span>
  <span class="now"><%= Time.now.to_formatted_s(:rfc822) %></span>
  <span class="interval"><%= product.interval %></span>
  <span class="time_spent"><%= product.time_spent %></span>
  <span class="start_time"><%= product.available_on.to_formatted_s(:rfc822) %></span>
  <span class="kill_time"><%= product.kill_time.to_formatted_s(:rfc822) %></span>
  <span class="max_drop_count"><%= product.max_drop_count %></span>
  <span class="drop_count"><%= product.drop_count %></span>
  <span class="drop_value"><%= product.drop_amount %></span>
  <span class="drops_left"><%= product.max_drop_count - product.drop_count %></span>
  <span class="next_drop"><%= product.time_until.to_formatted_s(:rfc822) %></span>
  <span class="start_price"><%= product.price %></span>
  <span class="currentPrice"></span>
  <span class="reserve_price"><%= product.cost_price %></span>
  <span class="offer_price"><%= product.offer_price %></span>
  <span class="bids_count"><%= product.bidbucket.bids_count %></span>
  <span class="highest_bidder"><%= product.try(:highest_bidder).try(:username) %></span>
  <span class="highest_bid"><%= product.try(:highest_bid).try(:amount) %></span>
</div>
