<div class="social_btns">
  <ul>
    <li class="facebook">
      <fb:like layout="button_count" width="70px"></fb:like>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/share"
         class="twitter-share-button"
         data-url="<%= product_url(product) %>"
         data-text="This item will drop <%= format_price(product.drop_amount) %> every <%= pluralize(product.interval, "minute") %> on JewelLover until its gone! Get in quick if you want to buy now!"
         target="_blank">Tweet</a>
    </li>
    <li class="google">
      <g:plusone annotation="bubble" size="medium" width="70px">&nbsp;</g:plusone>
    </li>
    <li class="pinterest">
      <a href="http://pinterest.com/pin/create/button/?url=<%= product_url(product) %>&media=<%= product.images.first.attachment.url(:original) %>&description=This item will drop <%= format_price(product.drop_amount) %> every <%= pluralize(product.interval, "minute") %> on JewelLover until its gone! Get in quick if you want to buy now!" class="pin-it-button" count-layout="horizontal">Pin
        It</a>
      <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
    </li>
  </ul>

</div>

<% content_for :head do %>
    <meta property="og:title" content="Check out this <%= product.name %> on JewelLover"/>
    <meta property="og:type" content="product"/>
    <meta property="og:image" content="<%= product_image_url(product) %>"/>
    <meta property="og:url" content="<%= product_url(product) %>"/>
    <meta property="og:site_name" content="JewelLover"/>
    <meta property="og:description" content="Save <%= product.offer_saving %>%. Check out this <%= product.name %> on JewelLover. It's price will drop <%= format_price(product.drop_amount) %> every <%= pluralize(product.interval, "minute") %> until its gone! Get in quick!."/>
    <meta property="fb:app_id" content="202781719761220"/>
<% end %>