<ul>
  <li>No. of bids: <%= product.bidbucket.bids_count %></li>
  <li>Location: <%= product.store.city %></li>
  <li>Store: <%= product.store.name unless product.store.nil? %></li>
</ul>
<ul>
  <li>Retail Price: <span class="start_price"><%= format_price product.price %></span></li>
  <li class="currentPrice">Sold For: <span class="current"><%= format_price product.order.item_total %></span></li>
  <li class="currentDiscount">Discount: <span class="current_discount"><%= product.drop_count %>%</span> off</li>
</ul>