<h1><%= context_header %></h1>

<div id="search_container">
  <%= search_form(@search, @context) %>
</div>

<%= render "/shared/product_filters" %>

<% if products.blank? %>
    <p>You may want to refine your search phrase to a more general term, ie gold, women or watch. If you search for
      'womens', the results will only include products where the term 'womens' is defined.</p>
<% else %>
    <%= render_view_style products %>
<% end %>

<% if products.respond_to?(:total_pages) %>
    <% params.delete(:search)
       params.delete(:taxon) %>
    <%= will_paginate(products,
                      :previous_label => "&#171; #{t('previous')}",
                      :next_label => "#{t('next')} &#187;") %>
<% end %>

<script type="text/javascript">
    $(function () {
        $('.item').countdown('init');
        $('.item .main_image').tooltip({relative:true, effect:'slide'});
    });
</script>