<div class="bidding">
  <div>
    <p style="margin:0 0 5px 0;"><strong>Sold For:</strong><br/>
      <span><%= format_price @product.order.item_total %></span></p>

    <div class="timer">
      <p>Sold in:</p>
      <span class="sold"><%= distance_of_time_in_words @product.available_on, @product.kill_time %></span>
    </div>
  </div>
  <div style="padding:30px 7px 10px 11px; text-align:center;">
    <%= render 'cart_form' %>
  </div>
  <div style="padding:10px 0 5px 10px; width:112px; text-align:right;">
           <span style="margin:0 0 5px 0; display:block; overflow:hidden;">
                    <img src="/images/common/myprice.png" style="float:right;"/>
                    <img src="/images/common/info.gif" class="infoTip" title="Make an offer for this item higher than the reserve price. If the price reduces to your offer without it being purchased its your!" style="float:right; margin:3px 5px 0 0;"/>
                </span>

    <%= form_for @bid do |b| %>
        <%# hidden_field_tag "product_id", product.id %>
        <span style="margin:0 0 5px 0; display:block; overflow:hidden;">
                <strong>$</strong> <%= b.text_field :amount, :style => "width:80px;", :disabled => true %>
            </span>
            <span style="display:block; overflow:hidden;">
                  <%= b.submit :type => "image", :disabled => true, :src => '/images/common/submit_price.png', :confirm => "Are you sure you want to place this offer?" %>
           </span>
    <% end %>

  </div>
</div>
