<div class="leftContent">

  <% if params.key?(:keywords) %>
      <h1><%= t(:search_results, :keywords => h(params[:keywords])) %></h1>
  <% elsif @store %>
      <h1>Products from <%= @store.name %></h1>
  <% end %>

  <!--<div class="result">-->
    <!--<div class="filter_box">-->
      <!--<%# if @store %>-->
          <!--<%# render 'shared/store_product_filters' %>-->
      <!--<%# else %>-->
          <!--<%# render "shared/product_filters" %>-->
      <!--<%# end %>-->
    <!--</div>-->
  <!--</div>-->

  <% if products.any? %>


      <p><span><%= page_entries_info products %></span></p>


      <ul class="bigItems">
        <% products.each do |product| %>
            <li id="product_<%= product.id %>" class="item">
              <%= image_tag "common/sold.png", :class => "patch" %>
              <%= link_to '', product, :class => 'main_image', :style => "background-image:url('#{ product.images.first.attachment.url(:product) }')" %>

              <div class="bigItemsInfo">
                <div class="topInfo">

                  <h2><%= link_to product.name, product %></h2>

                  <div>
                    <p><%= truncate(product.description, :length => 100, :seperator => " ") %></p>
                    <%= link_to image_tag("common/take_to_deal.png", :alt => "Take me to the deal"), product %>
                  </div>
                </div>
                <div class="bottomInfo">
                  <%= render 'product_preview_sold', :product => product %>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
  <% else %>
      <h4 style="color:#900">No products found.</h4>
  <% end %>


  <% if products.respond_to?(:total_pages) %>
      <% params.delete(:search)
         params.delete(:taxon) %>
      <%= will_paginate(products,
                        :previous_label => "&#171; #{t('previous')}",
                        :next_label => "#{t('next')} &#187;") %>
  <% end %>

</div>