<% if !product.nil? %>
  <!-- no need for thumnails unless there is more then one image -->
  <% if product.images.size > 1 %>
    <ul id="product-thumbnails" class="thumbnails">
      <% product.images.each do |p| %>
        <li><%= link_to image_tag(p.attachment.url(:small)), "javascript:void();",
                :rel => "gal",
                :class => "product_gallery_item",
                :title => p.attachment.url(:large)
                %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>



