<ul class="bigItems">
  <% products.each do |product| %>
      <li id="product_<%= product.id %>" class="item">
        <%= render 'products/product_details', :product => product %>

        <% if product.upcoming? %>
            <div class="patch">
              <%= image_tag "common/coming-soon.png" %>
            </div>
        <% end %>

        <% if @store.present? %>
            <%= link_to "", store_product_path(@store.permalink, product.permalink), :class => "main_image", :style => "background-image:url('#{product.images.first.attachment.url(:product)}');" %>
        <% else %>
            <%= link_to "", product, :class => "main_image", :style => "background-image:url('#{product.images.first.attachment.url(:product)}');" %>
        <% end %>
        <div class="tooltip">
          <%= image_tag product.images.first.attachment.url(:product) %>
        </div>

        <div class="bigItemsInfo">
          <div class="topInfo">
            <% if @store.present? %>
                <h2><%= link_to product.name, store_product_path(@store.permalink, product.permalink) %></h2>
            <% else %>
                <h2><%= link_to product.name, product %></h2>
            <% end %>

            <div>
              <p><%= truncate(product.description, :length => 100, :seperator => " ") %></p>
              <% if @store.present? %>
                  <%= link_to image_tag("common/take_to_deal.png", :alt => "Take me to the deal"), store_product_path(@store.permalink, product.permalink) %>
              <% else %>
                  <%= link_to image_tag("common/take_to_deal.png", :alt => "Take me to the deal"), product %>
              <% end %>
            </div>
          </div>
          <div class="bottomInfo">
            <% if product.live? %>
                <%= render 'products/product_preview_live', :product => product %>
            <% elsif product.sold? %>
                <%= render 'products/product_preview_sold', :product => product %>
            <% elsif product.upcoming? %>
                <%= render 'products/product_preview_upcoming', :product => product %>
            <% end %>
          </div>
        </div>
      </li>
  <% end %>
</ul>