<ul class="hotDeals">
  <% products.each do |product| %>
      <li id="product_<%= product.id %>" class="item">
        <%= render 'products/product_details', :product => product %>
        <div class="top">
          <h3><%= product.name %></h3>

          <p>Retail Price: <span><%= format_price product.price %></span></p>
          <% if product.upcoming? %>
              <%= link_to product, :class => "main_image", :style => "background-image:url('#{product.images.first.attachment.url(:product)}');" do %>
                  <%= image_tag "common/coming-soon.png", :class => "patch" %>
              <% end %>
          <% else %>
              <%= link_to "", product, :class => "main_image", :style => "background-image:url('#{product.images.first.attachment.url(:product)}');" %>
          <% end %>


          <div class="tooltip product">
            <%= image_tag product.images.first.attachment.url(:product) %>
            <p><strong>Jeweller:</strong> <%= product.store.name %></p>

            <p><strong>Located in:</strong> <%= product.store.city %></p>
          </div>
          <div class="timer">
            <img title="Time Remaining Until Next Price Drop!" alt="Time Remaining Until Next Price Drop!" src="/images/common/info.gif">
            <span class="time homepage"></span>
          </div>
        </div>
        <div class="bottom">
          <p class="currentPrice"></p>

          <%= link_to "Would you like to save even more?", product %>
          <%= link_to image_tag('common/take_to_deal.png'), product %>
        </div>

      </li>
  <% end %>
</ul>