<h1>Categories</h1>
<p>Looking for the perfect jewellery at the perfect price? JewelLover is constantly updating its database of high
  quality jewellery from popular jewellers. The best thing is you get them at a great discount.</p>  <br/>

<% if Taxon.count > 0 %>
    <p><b>Choose from a category below</b></p>

    <% get_taxonomies.each do |taxonomy| %>
        <ul class="smallItems">
          <% taxonomy.root.children.each do |taxon| %>
              <li>
                <%= link_to image_tag(taxon.icon.url(:normal)), seo_url(taxon) %>
                <%= link_to taxon.name, seo_url(taxon), :class => "button" %>
              </li>
          <% end %>

        </ul>
    <% end %>

<% else %>
    <p><b>There are no categories to choose from at this stage, come back soon</b></p>
<% end %>

<% content_for :sidebar do %>

    <div class="infoHolder">
      <h4 class="general">Local Stores</h4>

      <div class="storeInfo">
        <ul>
          <% @stores.each do |store| %>
              <li>
                <div class="imgcont">
                  <%= image_tag store.logo.url(:tiny) %>
                </div>
                <div>
                  <%= link_to truncate(store.name, :length => 20), store_path(store) %>
                  <small><%= store.products.count %> Products</small>
                </div>
              </li>
          <% end %>
        </ul>

      </div>
    </div>

    <%= render 'shared/sidebar' %>

<% end %>
