<div style="clear:both;">
  <h1 style="float:left; line-height:40px; margin-bottom:0;">Current Hot Deals Ending Soon...</h1>
  <%= link_to image_tag("common/take_me_to_more_deals.png"), products_path, :style => "float:right;" %>
</div>
<% if @products.any? %>
    <ul class="hotDeals">
      <% @products.each do |product| %>
          <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
              <li id="product_<%= product.id %>" class="item">
                <%= render 'product_details', :product => product %>
                <div class="top">
                  <h3><%= product.name %></h3>

                  <p>Retail Price: <span><%= format_price product.price %></span></p>
                  <%= link_to "", product, :class => "main_image", :style => "background-image:url('#{product.images.first.attachment.url(:product)}');" %>
                  <div class="tooltip product">
                    <%= image_tag product.images.first.attachment.url(:product) %>
                    <p><strong>Jeweller:</strong> <%= product.store.name %></p>

                    <p><strong>Located in:</strong> <%= product.store.city %></p>
                  </div>
                  <div class="timer">
                    <img title="Time Remaining Until Next Price Drop!" alt="Time Remaining Until Next Price Drop!" src="images/common/info.gif">
                    <span class="time homepage"></span>
                  </div>
                </div>
                <div class="bottom">
                  <p class="currentPrice"></p>
                  <%= link_to "Would you like to save even more?", product %>
                  <%= link_to image_tag('common/take_to_deal.png'), product %>
                </div>

              </li>
          <% end %>
      <% end %>
    </ul>
<% end %>
<%= link_to image_tag("common/take_me_to_more_deals.png"), products_path, :style => "float:right;" %>

<% content_for :head do %>
    <script type="text/javascript">
        $(function() {
            $('.item').countdown('init');
            $('.item .main_image').tooltip({relative:true, effect:'slide'});
        })
    </script>
<% end %>







