<%= render "products/products", :products => @products, :taxon => @taxon %>

<% content_for :sidebar do %>
    <div class="infoHolder">
      <h4 class="general">Store Info</h4>

      <div class="storeInfo">
        <div>
          <%= image_tag @store.logo.url(:tiny) %>
          <div>
            <%= link_to @store.name, store_path(@store) %>
            <p>Ph: <%= @store.phone %></p>
          </div>
        </div>
        <ul>
          <li><%= link_to "Store Info", store_path(@store), :class => "visit" %></li>
          <li><%= link_to "Google Maps", "http://maps.google.com/?q=#{store_address(@store, 'short').split(",").join("%20")}", :class => "locate" %></li>
          <% if @store.show_website? %>
              <li><%= link_to "Store Website", "http://#{@store.website}", {:class => "website", :target => "_blank"} %></li>
          <% end %>
          <% if @store.show_facebook? %>
              <li><%= link_to "Find on Facebook", "http://www.facebook.com/#{@store.retailer.retailer_detail.facebook}", {:class => "facebook", :target => "_blank"} %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end if @store.present? %>
