<% if params[:keywords] %>

    <%= hook :search_results do %>
        <% if @products.empty? %>
            <%= t(:no_products_found) %>
        <% else %>
            <%= render "sold_products", :products => @products, :taxon => @taxon %>
        <% end %>
    <% end %>

<% else %>

    <%= render "sold_products", :products => @products, :taxon => @taxon %>

<% end %>

<% content_for :sidebar do %>
    <%= render "shared/sidebar" %>
<% end %>
