<% @body_id = 'product-details' %>
<div class="detailsBox">

  <div class="leftDetails">

    <div id="product_images">
      <%= hook :product_images do %>

          <div id="main_image">

            <% if @product.upcoming? %>
                <div class="patch">
                  <%= image_tag "common/coming-soon.png" %>
                </div>
            <% elsif @product.sold? || @product.cart? %>
                <div class="patch">
                  <%= image_tag "common/sold.png" %>
                </div>
            <% end %>

            <%= render 'image' %>
          </div>

          <div id="thumbnails">
            <%= render 'thumbnails', :product => @product %>
          </div>


      <% end %>
    </div>

    <% unless @product.sold? -%>
        <%= h3_with_icon "Offer History", "/images/common/icons/money.png" %>
        <div class="infoBox" style="padding: 10px; background: #eee;">
          <%= reserve_met?(@product) %>
          <% unless @bids.empty? %>
              <table id="offer_table">
                <thead>
                <tr>
                  <th width="60%">Time</th>
                  <th width="20%">Username</th>
                  <th width="20%">Amount</th>
                </tr>

                </thead>
                <tbody>

                <% @bids.each do |b| %>
                    <tr>
                      <td><%= time_ago_in_words(b.created_at(:format => :long)) + " ago" %></td>
                      <td><%= truncate(b.user.username, :length => 10) %></td>
                      <td><%= format_price(b.amount) %></td>
                    </tr>
                <% end %>

                </tbody>
              </table>
          <% else %>
              <p>Be the first to place an offer!</p>
          <% end %>
        </div>
    <% end %>

    <div id="delivery">
      <%= image_tag "/images/common/free_delivery.png", :style => "width:80px; float:left; margin-right:15px; border:none;" %>
      <ul style="width:155px; float:left; list-style-image:url('/images/yui-menuitem_checkbox.png'); ">
        <li>Free Delivery Australia Wide</li>
        <li>7 Day Money Back Guarantee</li>
        <li>Paypal Buyer Protection</li>
      </ul>
    </div>

    <%= render :partial => "shared/store_info" %>
    <%= render :partial => "shared/store_contact_form" %>
  </div>


  <div class="rightDetails" id="product" style="position:relative;">

    <%= render 'product_details', :product => @product %>
    <h1><%= @product.name %></h1>
    <hr/>
    <%= render 'product_social_buttons', :product => @product %>
    <hr/>

    <div id="product_inspect" class="introDesc">
      <div>
        <p><%= product_description(@product) rescue "No product description available at this stage." -%></p>
        <% unless @product.size.nil? -%>
            <p><strong>Size:</strong> <%= @product.size %></p>
        <% end %>
      </div>
    </div>
    <div id="live_info" class="expose">
      <% if @product.live? -%>
          <%= render :partial => 'product_show_live', :locals => {:product => @product, :bid => @bid} %>
      <% elsif @product.upcoming? -%>
          <%= render :partial => 'product_show_upcoming', :locals => {:product => @product, :bid => @bid} %>
      <% elsif @product.sold? || @product.cart? -%>
          <%= render 'product_show_sold', :product => @product %>
      <% end %>
      <%= render "product_info" -%>


    </div>
    <br/>
    <%= content_tag :div, :class => "specs" do %>
        <% if @product.certified? %>
            <div class="infoRow">
              <p><%= image_tag("common/certificate.png") %> <strong>This product has a Valuation
                Certificate!</strong></p><span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
        <% if @product.resizable? %>
            <div class="infoRow">
              <p><%= image_tag("common/resize.png") %> <strong>This product can be resized!</strong></p>
              <span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
        <% if @product.second_hand? %>
            <div class="infoRow">
              <p><%= image_tag("admin/icons/heart.png") %> <strong>This product is pre-loved</strong></p>
              <span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
        <% if @product.overseas? %>
            <div class="infoRow">
              <p><%= image_tag("admin/icons/world.png") %> <strong>This product can be shipped overseas</strong></p>
              <span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
    <% end %>
  </div>
</div>
<% content_for :sidebar do %>

    <%= render :partial => "products/next_product" %>

<% end %>
<%= render 'shared/sidebar' %>
<% content_for :head do %>
    <%= stylesheet_link_tag '../javascripts/fancybox/jquery.fancybox-1.3.4.css' %>
    <%= javascript_include_tag 'fancybox/jquery.fancybox-1.3.4.pack.js' %>
    <%= javascript_include_tag 'expander' %>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            var hpo; //Highest price offer

            var offer_message;// = $("#purchase_message");

//            $("#product_tabs").tabs(".panes", {
//                "current":"current_tab"
//            });

            // Description Read More Expander
            $("#product_inspect").expander();

            // Countdown Timer only if Product hasnt been sold!
            <% unless @product.sold? || @product.cart? %>

            // TIme is more than 1 day so show 'day count' not timer
            <% unless @product.available_on > 1.day.from_now %>
            $('#product').countdown('init');
            <% end %>

            <% if @product.bids.count == 0 %>
            // Create next valid example offer inside form input
            // Numerical to two decimal places.. should b .00 - following regex wont allow anything but
            hpo = Number(Number($('.details .reserve_price').html()) + 1).toFixed(2);
            $('#bid_amount').val(hpo).css('color', '#666');
            <% else %>
            // Get highest offer price
            hpo = Number(1 + <%= @product.highest_bid.amount %>).toFixed(2);
            $('#bid_amount').val(hpo).css('color', '#666');
            <% end %>

            $('#bid_amount').focus(function() {
                $(this).val('');
            });

            $('#bid_amount').blur(function() {
                if ($(this).val() == '') {
                    $(this).val(hpo).css('color', '#666');
                }
            });
            <% end %>

            $('.infoTip').tooltip({ effect:'fade', position:'center left', offset:[28, -10] });

            // Verify My Price Offer
            $('#bid_submit').click(function() {

                var ba = $('#bid_amount').val();
                var rp = new Number($('.details .reserve_price').html());
                var cp = new Number($('.current').html().split("$")[1]);

                // ^[1-9][0-9]*(\.?)0{2}$ -- Regex for specific dollar value for price offer
                var warning = $(".expose").expose({

                    onLoad:function() {

                        var valid = false;

                        if (ba.match(/^[1-9][0-9]*(|\.?0{2})$/g)) {
                            if (ba <= rp) {
                                // if offer is less than reserve price... fail
                                offer_message = "Your offer must be greater than the end price, Please replace your My Price offer with one higher than the end price.";
                            } else if (ba >= cp) {
                                // If offer is more than current... should buy now!
                                offer_message = "Are you crazy? No one should pay more than what they have to! Click on the 'Buy Now' to grab this product now at its current price!";
                            } else {
                                // Offer meets regex criteria and is within acceptable range... confirm offer
                                offer_message = "Are you sure you would like to place this offer? Per the terms and conditions of JewelLover you will be required to complete your purchase should your offer be successful.";
                                valid = true
                            }
                        } else {
                            offer_message = "Your offer must be rounded to a whole dollar value, eg. 100.00 or 100";
                        }


                        $("#product_info table").hide();
                        $("#purchase_message").find('p').text(offer_message);
                        $("#purchase_message").fadeIn();


                        if (valid) {
                            $("#purchase_confirm").click(function() {
                                $("#new_bid").submit();
                            });

                            $("#purchase_deny").click(function() {
                                $.mask.close();
                                return false;
                            });
                        } else {
                            $("#purchase_message button").hide();
                        }


                    },
                    onClose:function() {
                        $("#purchase_message").hide();
                        $("#product_info table").fadeIn();
                    }

                });
                return false;


            });
        });
    </script>
<% end %>
