<h1 class="product_title"><%= @product.name.capitalize %></h1>
<div id="left_content_wrapper">
  <div id="left_content_left">
    <div id="product" class="live_product_info">

      <%= render 'product_details', :product => @product %>

      <div id="live_info" class="grey">
        <% if @product.live? -%>
            <%= render :partial => 'products/new_layout/new_product_show_live', :locals => {:product => @product, :bid => @bid} %>
        <% elsif @product.upcoming? -%>
            <%= render :partial => 'products/new_layout/new_product_show_upcoming', :locals => {:product => @product, :bid => @bid} %>
        <% elsif @product.sold? || @product.cart? -%>
            <%= render 'products/new_layout/new_product_show_sold', :product => @product %>
        <% end %>
      </div>

      <%= h3_with_icon "Offer History", "/images/common/icons/money.png" %>
      <div class="infoBox">
        <%= reserve_met?(@product) %>
        <% if @product.bidbucket.bids_count > 0 %>
            <table id="offer_table">
              <thead>
              <tr>
                <th width="60%">Time</th>
                <th width="20%">Username</th>
                <th width="20%">Amount</th>
              </tr>

              </thead>
              <tbody>

              <% @bids.each do |b| %>
                  <tr>
                    <td><%= time_ago_in_words(b.created_at(:format => :long)) + " ago" %></td>
                    <td><%= truncate(b.user.username, :length => 10) %></td>
                    <td><%= format_price(b.amount) %></td>
                  </tr>
              <% end %>

              </tbody>
            </table>
        <% else %>
            <% unless @product.sold? %>
                <p>To get the best deal, be the first to place an offer!</p>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div id="left_content_right">
    <div class="social_bar">
      <%= render "product_social_buttons", :product => @product %>
    </div>
    <div id="gallery">
      <% if @product.upcoming? %>
          <div class="patch">
            <%= image_tag "common/coming-soon.png" %>
          </div>
      <% elsif @product.sold? || @product.cart? %>
          <div class="patch">
            <%= image_tag "common/sold.png" %>
          </div>
      <% end %>

      <%= render_cloud_zoom(@product, 448) %>

      <% unless @product.sold? || @product.cart? %>
          <%= render 'products/new_layout/fuse_monitor', :product => @product %>
      <% end %>

      <% if !@product.nil? %>
          <!-- no need for thumnails unless there is more then one image -->
          <% if @product.images.size > 1 %>
              <ul class="thumbs">
                <% @product.images.each do |p| %>
                    <li>
                      <%= link_to "#{p.attachment.url(:large)}",
                                  :rel => "useZoom: 'zoom1', smallImage:'#{p.attachment.url(:product)}'",
                                  :class => "cloud-zoom-gallery" do %>
                          <%= image_tag "#{p.attachment.url(:small)}" %>
                      <% end %>
                    </li>
                <% end %>
          <% end %>
      <% end %>
      </ul>
    </div>


    <div id="description">
      <p><%= @product.description.html_safe %></p>
      <%= @product.size? ? "<p>Size: #{@product.size}</p>".html_safe : nil -%>
    </div>

    <%= content_tag :div, :class => "specs" do %>
        <% if @product.certified? %>
            <div class="infoRow">
              <p><%= image_tag("common/certificate.png") %> <strong>This product has a Valuation
                Certificate!</strong></p><span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
        <% if @product.resizable? %>
            <div class="infoRow">
              <p><%= image_tag("common/resize.png") %> <strong>This product can be resized!</strong></p>
              <span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
        <% if @product.second_hand? %>
            <div class="infoRow">
              <p><%= image_tag("admin/icons/heart.png") %> <strong>This product is pre-loved</strong></p>
              <span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% else %>
            <div class="infoRow">
              <p><%= image_tag("common/icons/star.png") %> <strong>Brand new - One available.</strong></p>
              <span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
        <% if @product.overseas? %>
            <div class="infoRow">
              <p><%= image_tag("admin/icons/world.png") %> <strong>This product can be shipped overseas</strong></p>
              <span><%= image_tag "common/tick.png" %></span>
            </div>
            <hr/>
        <% end %>
    <% end %>
    <br/>

    <div id="product_tabs">
      <ul class="tabs">
        <li>Details</li>
        <li>Store Info</li>
        <li>Shipping Details</li>
        <li>Contact</li>
      </ul>

      <div class="panes">
        <div class="product_info">
          <table>
            <tr>
              <td width="120px" class="heading">Retail Price:</td>
              <td class="start_price"><%= format_price(@product.price) %></td>
            </tr>
            <tr>
              <td class="heading">End Price:</td>
              <td class="end_price"><%= format_price(@product.cost_price) %></td>
            </tr>
            <tr>
              <td class="heading">Drops:</td>
              <td class="drops_every"><%= format_price(@product.drop_amount) %>
                every <%= pluralize(@product.interval, "minute") %></td>
            </tr>
            <% if @product.upcoming? %>
                <tr>
                  <td class="heading">Starts in:</td>
                  <td class="starts_in"><%= distance_of_time_in_words_to_now @product.available_on, :include_seconds => true %></td>
                </tr>
            <% end %>
            <% if @product.live? %>
                <tr>
                  <td class="heading">Ends in:</td>
                  <td class="ends_in"><%= distance_of_time_in_words_to_now @product.kill_time, :include_seconds => true %></td>
                </tr>
            <% end %>
          </table>
        </div>
        <div class="store_details">

          <h2><%= link_to @product.store.name.capitalize, store_path(@product.store) %></h2>
          <%= image_tag @product.store.logo.url(:small), :class => "logo", :style => "float:left; margin-right:20px;" %>

          <%= store_address(@product.store).html_safe %>

        </div>
        <div class="shipping_details">
            <%= image_tag "/images/common/free_delivery.png", :style => "width:80px; float:left; margin-right:15px; border:none;" %>
            <ul style="width:155px; float:left; list-style-image:url('/images/yui-menuitem_checkbox.png'); ">
              <li>Free Delivery Australia Wide with every item purchased over $200</li>
              <li>7 Day Money Back Guarantee</li>
              <li>Paypal Buyer Protection</li>
            </ul>
        </div>
        <div class="contact_store">
          <%= render :partial => "shared/store_contact_form" %>
        </div>
      </div>

    </div>

  </div>
</div>

<!--<div class="overlay" id="purchase_message">-->
<!--<%# image_tag "common/attention.png" %>-->
<!--<p></p>-->
<!--<button id="purchase_confirm">Confirm</button>-->
<!--<button id="purchase_deny">No Thanks</button>-->
<!--</div>-->

<% content_for :sidebar do %>
    <div id="delivery" class="infoHolder">
      <%= image_tag "/images/common/free_delivery.png", :style => "width:70px; float:left; margin-right:15px; border:none;" %>
      <ul style="width:140px; float:left; list-style-image:url('/images/yui-menuitem_checkbox.png'); ">
        <li><p>Free Delivery Australia Wide with every item purchased over $200</p></li>
        <li><p>7 Day Money Back Guarantee</p></li>
        <li><p>Paypal Buyer Protection</p></li>
      </ul>
    </div>
    <%= render "more_products", :products => @more_products %>
<% end %>

<% content_for :head do %>
    <%= stylesheet_link_tag "product_show" %>
    <script type="text/javascript">
        $(function () {

            // TIme is more than 1 day so show 'day count' not timer
            <% unless @product.available_on > 1.day.from_now || (%w(sold cart).include? @product.state) %>
            $('#product').countdown('init');
            <% end %>
            $('.next_product').countdown('init');

            $("#product_tabs > .tabs").tabs("#product_tabs .panes > div");

            <% unless @product.sold? || @product.cart? %>
            $("#fuse_monitor").fuseMonitor({
                width:428,
                product_info:".product_details"
            });
            <% end %>

            var offer_message;// = $("#purchase_message");

            // Countdown Timer only if Product hasn't been sold!
            <% unless @product.sold? || @product.cart? %>
            var hpo = Number(1 + <%= @product.offer_price %>).toFixed(2);

            $('#bid_amount').val(hpo).css('color', '#666');

            $('#bid_amount').focus(function () {
                $(this).val('');
            });

            $('#bid_amount').blur(function () {
                if ($(this).val() == '') {
                    $(this).val(hpo).css('color', '#666');
                }
            });

            <% end %>

            // Verify My Price Offer
//            $("#bid_submit").live("click", function (e) {
//                e.preventDefault();
//                $this = $(this);
//                var overlay = $this.overlay({
//                    close:"#purchase_deny",
//                    load:true,
//                    mask:'#000',
//
//                    onBeforeLoad:function () {
//
//                        var valid = false;
//
//                        var ba = $("#bid_amount").val();
//
//                        var rp = new Number($('.product_details .reserve_price').html());
//                        var cp = new Number($('.currentPrice').html().split("$")[1]);
//
//
//                        // ^[1-9][0-9]*(\.?)0{2}$ -- Regex for specific dollar value for price offer
//
//                        if (ba.match(/^[1-9][0-9]*(|\.?0{2})$/g)) {
//                            if (ba <= rp) {
//                                // if offer is less than reserve price... fail
//                                offer_message = "Your offer must be greater than the end price, Please replace your My Price offer with one higher than the end price.";
//                            } else if (ba >= cp) {
//                                // If offer is more than current... should buy now!
//                                offer_message = "Are you crazy? No one should pay more than what they have to! Click on the 'Buy Now' to grab this product now at its current price!";
//                            } else {
//
//                                // Offer meets regex criteria and is within acceptable range... confirm offer
//                                offer_message = "<strong>Are you sure you would like to place this offer?</strong><br/> Per the terms and conditions of JewelLover you will be required to complete your purchase within 72 hours should your offer be successful.<br/>";
//                                if (ba < 200) {
//                                    offer_message += "There will be a $6 shipping fee should your offer be successful.";
//                                }
//                                valid = true;
//                            }
//                        } else {
//                            offer_message = "Your offer must be rounded to a whole dollar value, eg. 100.00 or 100";
//                        }
//
//                        $("p", "#purchase_message").html(offer_message);
//
//                        if (valid) {
//                            $("#purchase_confirm").click(function () {
//                                $("#new_bid").submit();
//                            });
//                        } else {
//                            $("#purchase_message button").hide();
//                        }
//                    }
//                });
//            });

//            $('#buy_now_submit').live('click', function (e) {
//                e.preventDefault();
//                $this = $(this);
//                $current_price = $("#product .product_details .currentPrice").text();
//
//                var offer_message = "Are you sure you wish to purchase this product now for <strong>";
//                offer_message += $current_price + "</strong>? Remember there is still time to place an offer!<br/><br/>";
//
//                $n = new Number($current_price.split('$')[1]);
//
//                if ($n < 200) {
//                    offer_message += "There will be a $6 shipping fee on all orders under $200.";
//                }
//
//
//                var warning = $this.overlay({
//                    close:"#purchase_deny",
//                    load:true,
//                    mask:"#000",
//                    onBeforeLoad:function () {
//                        $('p', "#purchase_message").html(offer_message);
//
//                        $("#purchase_message").fadeIn();
//
//                        $("#purchase_confirm").click(function () {
//                            $("#buy_now").submit();
//                        });
//                    },
//                    onClose:function () {
//                        $.mask.close();
//                        $("#purchase_message").hide();
//                    }
//                });
//                return false;
//            });
        });
    </script>
    <%= stylesheet_link_tag "/javascripts/cloudZoom/cloud-zoom.css" %>
    <%= javascript_include_tag "cloudZoom/cloud-zoom.1.0.2.min.js" %>

<% end %>

