<%= form_for [:admin, @coupon] do |f| %>
    <p>
      <%= f.label :number %><br/>
      <%= f.text_field :number %>
    </p>

    <p>
      <%= f.label :email, "Send To" %><br/>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :value, "Dollar Value" %><br/>
      $<%= f.text_field :value %>
    </p>

    <p>
      <%= f.label :expires_at %><br/>
      <%= f.datetime_select :expires_at, :default => 30.days.from_now %>
    </p>

    <p>
      <%= f.submit "Create", :class => "button finish" %>
    </p>

<% end %>
