<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= link_to "New Coupon", new_admin_coupon_path, :id => 'admin_new_coupon_link', :class => "button add" %></p>
    </li>
  </ul>
  <br class='clear'/>
</div>

<h1>Coupons</h1>

<table class="index">
  <thead>
  <tr>
    <th>Number</th>
    <th>Sent To</th>
    <th>Order</th>
    <th>$ Value</th>

    <th>Created At</th>
    <th>Expires At</th>
    <th>Used At</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @coupons.each do |coupon| %>
      <tr id="<%= dom_id coupon %>">
        <%- locals = {:coupon => coupon} %>
        <%= hook :admin_coupons_index_rows, locals do %>
            <td><%= coupon.try(:number) %></td>
            <td><%= coupon.try(:email) %></td>
            <td><%= coupon.try(:order_id) %></td>
            <td><%= coupon.try(:value) %></td>
            <td><%= coupon.created_at.to_formatted_s(:long) %></td>
            <td><%= coupon.try(:expires_at).to_formatted_s(:long) %></td>
            <td><%= coupon.used_at ? coupon.used_at.to_formatted_s(:long) : "Unused"  %></td>
        <% end %>
        <td>
          <%= hook :admin_coupons_index_row_actions, locals do %>
              <%# link_to_edit coupon, :class => "edit" %> &nbsp;
              <%# link_to_delete coupon %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>



<% content_for :sidebar do %>
    <div class="box">
      <h3><%= t(:search) %></h3>
      <% @search = Coupon.search %>
      <%= form_for [:admin, @search] do |f| %>
          <%- locals = {:f => f} %>
          <%= hook :admin_coupons_index_search, locals do %>

              <p>
                Number<br/>
                <%= f.text_field :number_contains %>
              </p>

          <% end %>
          <%= hook :admin_coupons_index_search_buttons, locals do %>
              <p><%= button t("search") %></p>
          <% end %>
      <% end %>
    </div>
<% end %>