<% @body_id = 'signup' %>

<div id="new-customer">

  <%= image_tag "common/free20.png", :style => "margin:0 auto; width:680px; display:block; float:none;" %>

  <br/>

  <p>Apparently it's all the buzz to give away FREE money! So we've decided to jump on the bandwagon. Join JewelLover
    today and receive your FREE $10 coupon code. It's for a limited time only so get in quick! </p>
  <br/>

  <%= hook :signup do %>

      <%= form_for(@user, :url => registration_path(@user)) do |f| %>

          <%= render "shared/error_messages", :target => @user %>

          <%= hook :signup_inside_form do %>

              <%= render 'shared/forms/user_form', :f => f %>

              <%= button_to "Register Now!", :class => 'button primary' %>
              <%= link_to "Login as existing customer", login_path %>
          <% end %>

      <% end %>


  <% end %>

  <br class="clear"/>
  <br/>
  <hr/>

  <p><b>Why register?</b></p>

  <p>Pre-registering allows you to buy on JewelLover meaning you don't have to set up an account at the time or purchase
    - precious seconds that could be wasted and allow someone else to get that lovely item before you do!</p>
  <br/>

  <p><b>Once you're registered you can also:</b></p>
  <%= image_tag "common/member.png" %>
  <ul>
    <li><p>Keep an eye on your favourite items and track their progress.</p></li>
    <li><p>Decide the price you wish to pay by placing an offer on any of the items.</p></li>
    <li><p>Be alerted to upcoming deals.</p></li>
    <li><p>Contact jewellery stores in your vicinity.</p></li>
  </ul>


  <br class="clear"/>
  <br/>

  <p>This is the first step in getting access to the best deals on premium jewellery. If you live outside of Australia
    you must provide an Australian delivery address.</p>


</div>

<%= hook :login_extras %>

<%= content_for :head do %>
    <%= stylesheet_link_tag "dateinput" %>
    <script type="text/javascript">
        $(function () {

            $("#dob").dateinput({
                selectors:true,
                min:'01-01-1912',
                trigger:true,
                yearRange:[-100, 1]
            });


            $("#new_user").validate({
                rules:{
                    'user[first_name]':{
                        required:true
                    },
                    'user[last_name]':{
                        required:true
                    },
                    'user[postcode]':{
                        required:true,
                        number:true,
                        minlength:4,
                        maxlength:4
                    },
                    'user[username]':{
                        required:true
                    },
                    'user[dob]':{
                        required:false
                    },
                    'user[email]':{
                        required:true,
                        email:true
                    },
                    'user[password]':{
                        required:true,
                        minlength:6
                    }
                },
                messages:{
                    'user[email]':{
                        email:"Must be a valid Email"
                    },
                    'user[password]':{
                        minlength:jQuery.format("{0} or more characters")
                    }
                },
                errorClass:"invalid",
                validClass:"valid_field",
                errorElement:"span"
            });

        });
    </script>
<% end %>
