<% @body_id = 'login' %>

<h1>Jewellover Login</h1>

<%= hook :login do %>
    <div class="login_form">
      <%= form_for :user, :url => user_session_path, :html => {:id => "login_form"} do |f| %>
          <%= render 'shared/forms/login_form', :f => f %>
      <% end %>
    </div>
    <hr/>
    <br/>
    <%= link_to "Not a member yet? Register FREE here!", signup_path, :id => "login_form_secondary" %>
<% end %>
