<h1>Your Profile Details</h1>

<%= render "shared/error_messages", :target => @retailer_detail %>


<%= form_for @retailer_detail, :url => retailer_retailer_detail_path do |f| %>


    <%= f.field_container :abn do %>
        <%= f.label :abn, "ABN - Please remove all spaces" %>
        <br/>
        <%= f.text_field :abn %>
        <small class="required"> * Required</small>
        <%= f.error_message_on :abn %>
    <% end %>

    <%= f.field_container :trading_name do %>
        <%= f.label :trading_name, "Trading Name" %>
        <small><%= link_to ("&raquo; Dont know your ABN or Trading Name?").html_safe, "http://www.abr.business.gov.au/", :target => "_blank", :style => "font-size:.8em;" %></small>
        <br/>
        <%= f.text_field :trading_name %>
        <small class="required">* Required</small>
        <%= f.error_message_on :trading_name %>
    <% end %>


    <%= f.field_container :facebook do %>
        <%= f.label :facebook, "Facebook URL?" %>
        <small>eg, www.facebook.com/lovejewellovers</small>
        <br/>
        <span style="color:#555">http://www.facebook.com/</span>
        <%= f.text_field :facebook %>
        <%= f.error_message_on :facebook %>
    <% end %>

    <p>You are required to have a Paypal Business account in order to sell your products on JewelLover</p>

    <p><a href="javascript:void(0);"
          onClick="window.open('https://www.paypal.com/au/cgi-bin/webscr?cmd=_profile-api-signature','Paypal_Signature','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=450')">
      Click Here to open up or create your Paypal account.</a></p>

    <br/>

    <%= f.field_container :pp_email do %>
        <%= f.label :pp_email, "Paypal Email" %>
        <small class="required"> * Required</small>
        <br/>
        <%= f.text_field :pp_email %>
        <%= f.error_message_on :pp_email %>
    <% end %>

    <a href="javascript:void(0);"
       onclick="window.open('https://www.paypal.com/au/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');">
      <img src="https://www.paypalobjects.com/WEBSCR-640-20110204-1/en_AU/i/bnr/horizontal_solution_PP.gif" border="0" alt="Solution Graphics"><br/>
      What is paypal? </a>

    <br/>
    <br/>


    <%= f.submit "Update Details", :class => "button finish" %>



<% end %>