<a href="<%= paypal_adaptive_payment_order_checkout_url @order, :payment_method_id => payment_method %>" style="text-align: center;">
  <%= image_tag("paypal_buynow.gif") %>
  <%# img src="http://www.paypalobjects.com/en_US/i/btn/x-click-but23.gif" align="left" style="margin-right:7px;"/ %>
</a>