<% if content_for :flash %>
    <%= render 'shared/flashes' %>
<% end %>
<!-- Flash notices end -->
<%= yield %>


<!-- Google Code for JewelLover Remarketing List -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1009589352;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "dfURCKCI3gMQ6Li04QM";
    var google_conversion_value = 0;
    /* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009589352/?label=dfURCKCI3gMQ6Li04QM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
