<div class="content">
  <div class="topShadow">
    <div class="bottomShadow">
      <% if content_for :flash %>
          <%= render 'shared/flashes' %>
      <% end %>
      <!-- Flash notices end -->
      <%= render :partial => 'shared/breadcrumbs' %>

      <!-- Breadcrumbs End -->
      <div class="leftContent">
        <%= yield %>
      </div>
      <div class="rightContent">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</div>


<!-- Content End -->
