<div class="content_wo_bg <%= cookies[:view_style] %>">
  <% if content_for :flash %>
      <%= render 'shared/flashes' %>
  <% end %>
  <!-- Flash notices end -->
  <%= render :partial => 'shared/breadcrumbs' %>

  <!-- Breadcrumbs End -->
  <%= yield %>
</div>

