<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= hook :admin_inside_head do %>
      <%= render :partial => "admin/shared/admin_head" %>
  <% end %>
</head>
<body class='yui-skin-sam admin'>
<!--[if IE 7]>
<div id='IE7'>
<![endif]-->
<div id='wrapper'>

  <div id="header">
    <% if current_user %>
        <ul id="login-nav">
          <li><%= t('logged_in_as') %>: <%= current_user.email %></li>
          <li><%= link_to t('account'), edit_admin_user_path(current_user) %></li>
          <li><%= link_to t('logout'), destroy_user_session_path %></li>
          <li><%= link_to t('store'), products_path %></li>
        </ul>
    <% end %>
    <a href="<%= admin_path %>" id="logo"><%= image_tag("/images/common/logo.png") %></a>

    <h1><%= link_to t("administration"), admin_path %></h1>

    <div id="progress"><%= image_tag 'progress.gif' %> <%= t('loading') %>...</div>
  </div>

  <div id="admin-menu">
    <ul>
      <%= hook :admin_tabs do %>
          <%= render 'admin/shared/tabs' %>
      <% end %>
    </ul>
    <br class="clear"/>
  </div>

  <div id="sub-menu">
    <%= yield :sub_menu %>
    <br class="clear"/>
  </div>

  <div class="<%= 'with-sidebar ' if content_for?(:sidebar) %> clear tile_bg" id="content">


    <% if flash[:error] %>
        <div class="flash error"><%= flash[:error] %></div>
    <% end %>
    <% if self.notice %>
        <div class="flash notice"><%= self.notice %></div>
    <% end %>


    <%= yield %>

    <% if content_for?(:sidebar) %>
        <br class='clear'/>

        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
    <% end %>

  </div>


  <div id="footer">
    @copyright Jewellery Marketing Solutions 2012. All rights reserved.
  </div>


</div>
<!--[if IE]>
</div>
<![endif]-->

<%= hook :admin_footer_scripts do %>
    <%= javascript_include_tag 'admin/unobtrusive_handlers' %>
<% end %>
</body>
</html>