<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= hook :admin_inside_head do %>
      <%= render :partial => "shared/head/retailer_head" %>
  <% end %>
</head>
<body class='yui-skin-sam admin'>

<!--[if IE 7]>
<div id='IE7'>
<![endif]-->
<div id='wrapper'>
  <div id="header">
    <% if current_user %>
        <ul id="login-nav">
          <li><%= t('logged_in_as') %>: <%= current_user.email %></li>
          <li><%= link_to t('logout'), destroy_user_session_path %></li>
          <li><%= link_to t('store'), products_path %></li>
        </ul>
    <% end %>
    <br class="clear"/>
    <%= render 'retailer/shared/retailer_ads' %>

    <a href="<%= retailer_path %>" id="logo"><%= image_tag("/images/common/logo.png") %></a>

    <div id="progress"><%= image_tag 'progress.gif' %> <%= t('loading') %>...</div>
  </div>


  <div id="admin-menu">
    <ul class="section-links">
      <%= hook :retailer_tabs do %>
          <%= render 'retailer/shared/tabs' %>
      <% end %>
    </ul>
    <br class="clear"/>
  </div>
  <div id="sub-menu">
    <%= yield :sub_menu %>
    <br class="clear"/>
  </div>
  <div class="<%= 'with-sidebar ' if content_for?(:sidebar) %> clear tile_bg" id="content">
    <% if flash[:error] %>
        <div class="flash error"><%= flash[:error] %></div>
    <% end %>
    <% if self.notice %>
        <div class="flash notice"><%= self.notice %></div>
    <% end %>
    <%= yield %>
    <br class='clear'/>
    <% if content_for?(:sidebar) %>
        <div id="sidebar">

          <%= yield :sidebar %>

        </div>
    <% end %>
  </div>
  <div id="footer">
    @copyright Jewellery Marketing Solutions 2012. All rights reserved.
  </div>
</div>
<!--[if IE]>
</div>
<![endif]-->
<%# render 'shared/head/social_js' %>
<%= hook :admin_footer_scripts do %>
    <%= javascript_include_tag 'admin/unobtrusive_handlers' %>
<% end %>

</body>
</html>