<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <%= hook :inside_head do -%>
      <title><%= title %></title>
      <%= raw meta_data_tags %>
      <%= csrf_meta_tag %>
      <meta name="google-site-verification" content="ubMMjvZ3YqL5KrBOx4XfVfJ0lqo6Nn8FFNN2oFxp_tQ"/>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
      <link rel="icon" type="image/png" href="/images/common/favicon.ico"/>
      <%= stylesheet_link_tag 'styles' %>
      <%= javascript_include_tag 'jquery.tools.min.js',
                                 'jquery.validate.min.js',
                                 'jquery.cookie',
                                 'rails',
                                 'application'
      %>
      <% unless I18n.locale.to_s[0..1] == 'en' %>
          <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
      <% end %>
      <% if %w(taxons products).include? @current_controller -%>
          <script type="text/javascript">
              var current_time;
              function set_current_time(time) {
                  current_time = time;
              }
              function get_current_time() {
                  $.ajax({
                      url:"/server_time.json",
                      cache:false,
                      crossDomain:true,
                      dataType:'json',
                      success:function (data) {
                          set_current_time(data['time']);
                      }
                  });
              }
              get_current_time();

              <% unless user_signed_in? %>
              $(function () {
                  // If user not signed in turn all product show links to login Links
                  $(".item a").addClass("overlay_trigger");
                  $(".item a").attr({rel:"#both"});

                  $(".item a").click(function () {
                      var goto = $(this).attr('href');
                      $('#both form #redirect_to').attr({value:goto});
                  });


              });
              <% end %>
          </script>
          <%= javascript_include_tag 'countdown' %>
      <% end %>
      <%= javascript_include_tag 'search-easy' %>
      <%= javascript_include_tag 'main' %>
      <%= yield :head %>
  <% end %>
  <!-- Google analytics -->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27318888-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
<div id="wrapper">
  <%= render 'shared/login_bar' %>
  <div id="header">
    <div class="mainHeader">
      <a href="/" id="logo"><img src="/images/common/logo.png" alt="Jewellery - Online Clearance Jewellery from Jewellers at Jewellover"/></a>
      <%= render 'shared/header_email_capture' %>
    </div>
    <%= render 'shared/main_nav' %>
    <%= render 'shared/cat_nav' %>
  </div>

  <!-- Header Ends -->
  <% if request.path == "/v2" || current_page?(root_path) %>
      <%= render 'shared/stats' %>
      <%= render 'shared/main_sliders' %>
      <div id="contentArea">
        <%= render 'layouts/homepage' %>
      </div>
  <% else %>
      <div id="contentArea">
        <% if cookies[:view_style] != "list_view" &&
                (@current_controller == "products" &&
                        (%w(index homepage upcoming latest).include? @current_action) ||
                        @current_controller == "taxons")
        %>
            <%= render 'layouts/subpage_wo_sidebar' %>
        <% else %>
            <%= render 'layouts/subpage' %>
        <% end %>
      </div>
  <% end %>
  <br style="clear:both;"/>
  <% cache 'footer' do %>
      <%= render 'shared/footer' %>
  <% end %>
</div>

<%= render "shared/overlays" %>
<%= render "shared/head/social_js" %>

<script type="text/javascript">
    setTimeout(function () {
        var a = document.createElement("script");
        var b = document.getElementsByTagName('script')[0];
        a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/6819.js?" + Math.floor(new Date().getTime() / 3600000);
        a.async = true;
        a.type = "text/javascript";
        b.parentNode.insertBefore(a, b)
    }, 1);
</script>
</body>
</html>



