<h1>Congratulations</h1>
<p>
  You’re well on the way to saving money on great jewellery deals! You’re receiving this email because
  you wanted to know more about JewelLover deals as they appear.

</p>
<p>
  You can save money right away by using our freebie, a $10 coupon, redeemable with your first purchase once you
  register as a user. Great savings from Australia’s favourite jewellers and a freebie to kick you off – how good’s
  that!!
</p>
<%= link_to "Click here to grab you coupon now", signup_url, :class => "button red" %>
<p>
  Keep your eyes peeled for great jewellery deals (and more freebies) from Australia’s favourite jewellers direct to
  your inbox.
</p>
<br/>
<p>
  The JewelLover Team
</p>

<small>
  <strong>IMPORTANT NOTE:</strong> Be sure to add info@jewellover.com.au to your 'safe senders' list in your email,
  otherwise our emails could end up in your Spam Folder.
</small>